@import '~styles/layout.scss';

$min-height: 450px;

.wrapper {
  border-bottom: solid 1px $theme-border;
  min-height: 450px;
  padding-bottom: 50px;
}

.col4 {
  @extend %grid;

  @include msGridColumns(1fr, 1fr, 1fr, 1fr, 1fr);

  grid-template-columns: repeat(5, 1fr);
  align-items: end;
  margin-bottom: 40px;
}

.colEnd {
  grid-column-end: -1;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 20px;
  padding-top: 35px;
}

.chartWrapper {
  position: relative;
  min-height: $min-height;
}

.loader {
  min-height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.noContent {
  min-height: $min-height;
}
