@import '~styles/layout.scss';

.text {
  font-size: $font-size;
  line-height: $line-height-modal;
  color: $theme-color;
  margin-bottom: 5px;

  &Highlight {
    font-weight: $font-weight-bold;
  }
}

.link {
  font-size: $font-size;
  line-height: $line-height-medium;
  height: 1.62;
  color: $theme-color;
  border-bottom: 1px solid $theme-secondary;
}

.title {
  font-weight: bold;
  margin-bottom: 12px;
}

.empty {
  opacity: 0.7;
}

.markdown {
  ul {
    list-style: unset;
    margin-left: 20px;
  }
  p {
    margin: 16px 0;
  }
}