@import '~styles/layout.scss';

.title {
  font-weight: bold;
  margin-bottom: 12px;
}

.empty {
  opacity: 0.7;
}

.markdown {
  font-size: $font-size;
  line-height: $line-height-modal;
  color: $theme-color;
  margin-bottom: 5px;

  &Highlight {
    font-weight: $font-weight-bold;
  }

  ul {
    list-style: unset;
    margin-left: 20px;
  }

  a {
    font-size: $font-size;
    line-height: $line-height-medium;
    height: 1.62;
    color: $theme-color;
    border-bottom: 1px solid $theme-secondary;
  }
}