@import '~styles/layout.scss';

.loader,
.noData {
  min-height: 475px;
}

.button {
  text-align: center;
}

.buttons {
  @include columns(12);
  @include xy-gutters($gutter-position: 'bottom', $gutters: $gutter-padding);

  .button {
    order: 2;

    @include xy-gutters($gutter-position: 'bottom', $gutters: $gutter-padding);
  }

  @media #{$tablet-landscape} {
    @include columns(4);

    .button {
      &:first-child {
        order: 1;
      }

      &:last-child {
        order: 3;
      }
    }
  }
}

.tableContainer {
  @include xy-gutters($gutter-position: 'bottom');
}

.filtersContainer {
  @include columns(6);

  > * {
    @include xy-gutters($gutter-position: 'bottom');
  }

  @media #{$tablet-landscape} {
    @include columns(3);
  }
}

.metadataText {
  @include xy-gutters($gutter-position: ('top', 'bottom'));

  &.topPadded {
    @include xy-gutters($gutter-position: 'top', $gutters: $gutter-padding * 3);
  }
}

.blank {
  order: 2;
}

.paginate {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  order: 1;

  @media #{$tablet-landscape} {
    order: 2;
  }

  a {
    color: $gray1;
    cursor: pointer;
  }

  li {
    padding: 0 5px;
    display: inline-block;
  }
}

.active {
  a {
    color: $theme-color;
  }
}

.more {
  cursor: default;
  color: $gray1;
}
