@import '~styles/settings.scss';

.container {
  display: flex;
  align-items: center;
}

.text {
  font-size: $font-size-s;
  margin-right: 0.5rem;
  line-height: 15px;
  color: $gray;
}

.button {
  color: $theme-color;
  cursor: pointer;
}
