@import '~styles/layout.scss';

.card {
  position: relative;
  margin-bottom: -1px;
  border: solid 1px $theme-border;

  &:last-child {
    border-left: 1px solid transparent;
    box-shadow: -1px 0 0 $theme-border;
  }

  &:not(:last-child) {
    border-left: none;
  }
}
