@import '~styles/layout.scss';

.visContainer {
  @include columns(12);

  @media #{$tablet-portrait} {
    @include columns(6);
  }
}

.visCard {
  @include xy-gutters($gutter-position: ('top','bottom'), $gutters: $gutter-padding);
}

.placeholder {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $theme-color;
}

.loading {
  min-height: 300px;
}

.createBtn {
  margin-top: 20px;
  width: 250px;
}

.modal {
  width: calc(100vw - #{$gutter-padding});
  max-width: $max-width;
  max-height: inherit;
  height: auto;
  padding: 0;
  margin: $navbar-height auto;
}

.microsoftBrowserModal {
  height: 600px;
}

.modalContent {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  overscroll-behavior: auto; /* stylelint-disable-line property-no-unknown */
}

.microsoftBrowserModalContent {
  overflow-y: scroll;
  overflow-x: hidden;
}