@import '~styles/settings.scss';

.visContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.visCard {
  flex-basis: calc(33% - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
}

.placeholder {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $theme-color;
}

.loading {
  min-height: 300px;
}

.createBtn {
  margin-top: 20px;
  width: 250px;
}

.modal {
  width: calc(100vw - #{$gutter-padding});
  max-width: $max-width;
  max-height: inherit;
  height: auto;
  padding: 0;
  margin: $navbar-height auto;
}

.modalContent {
  padding-left: 0;
  padding-right: 0;
  overscroll-behavior: auto; /* stylelint-disable-line property-no-unknown */
}
