@import '~styles/layout.scss';

.visContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.visCard {
  flex-basis: calc(33% - 20px);
  margin-bottom: 20px;
  margin-right: 20px;
}

.placeholder {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $theme-color;
}

.loading {
  min-height: 300px;
}

.createBtn {
  margin-top: 20px;
  width: 250px;
}

// modal theme
$top: 76px;
$modalWidth: 90vw;
$close-position: 25px;

.closeBtn {
  position: fixed;
  top: calc(#{$top} - #{$close-position / 2});
  z-index: 10;
  left: calc(#{$modalWidth} - #{$close-position});
  border: solid 1px rgba(202, 204, 208, 0.85);
}

.header {
  position: fixed;
  top: $top;
  width: calc(#{$modalWidth} - 2px);
  height: 95px;
  padding: 25px 40px;
  z-index: 0;
}
