@import '~styles/settings.scss';

:global .resizable-input {
  display: none;
}

.searchable {
  :global .resizable-input {
    display: initial;
  }
}

.dropdownWrapper {
  width: 100%;
}

.label {
  display: block;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  color: $theme-color;
  margin-bottom: 4px;
}

.loader {
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 1;
}
