@import '~styles/layout.scss';

.circularChartContainer {
  padding-top: 5px;
  height: $vulnerability-chart-height;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $card-content-margin;
}

.infoBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: auto;
}

.list {
  font-size: $font-size;
  line-height: $line-height-medium;
  color: $theme-color;
  height: 100%;
}

.noData {
  font-size: $font-size;
  color: $theme-color;
}

.listContainer {
  position: relative;
  height: $vulnerability-chart-height;
  margin: $card-content-margin;
}

.learnMore {
  position: absolute;
  right: 0;
  bottom: 0;
  color: $dark-gray;
}

.countriesNumber {
  color: $dark-gray;
}

.lineChartContainer {
  position: relative;
  height: $vulnerability-chart-height;
  margin: $card-content-margin;
  display: flex;
  align-items: center;
  justify-content: center;

  .riskValue {
    font-size: 24px;
  }

  .riskMeter {
    position: absolute;
    bottom: 0;
    width: 100%;

    .riskMarker {
      position: absolute;
      width: 2px;
      bottom: -2px;
      height: 15px;
      background-color: black;

      .riskAbsoluteValue {
        margin-top: -24px;
        margin-left: -40px;
        width: 100px;
      }
    }

    .riskTick {
      height: 6px;
      display: inline-block;
      width: 10%;

      &.meter-1 {
        border-radius: 25% 0 0 25%;
      }

      &:last-child {
        border-radius: 0 25% 25% 0;
      }

      @for $i from 1 through length($climate-risk-colors) {
        &.meter-#{$i} {
          background-color: nth($climate-risk-colors, $i);
        }
      }
    }
  }
}
