@import '~styles/layout.scss';

.compareSocioeconomics {
  &:first-child {
    margin-top: $gutter-padding;
  }

  @media #{$tablet-landscape} {
    margin-top: $gutter-padding;
  }
}

.col3 {
  @include columns();

  @media #{$tablet-landscape} {
    @include columns(4);
  }
}

.title {
  font-size: $font-size;
  color: $gray1;
}

.value {
  font-size: $font-size-m;
  color: $theme-color;
}

.line {
  padding-bottom: 30px;
}

.loader {
  min-height: 175px;
}

.noData {
  font-size: $font-size;
  color: $theme-color;
  margin: auto;
  min-height: 175px;
}

.section {
  border-bottom: 1px solid $gray2;
}

.countryHeader {
  position: relative;
  margin-bottom: 1em;
  display: flex;

  .countryName {
    font-weight: $font-weight-bold;
    color: $theme-color;
    line-height: $line-height-medium;
  }

  .dot {
    width: 13px;
    height: 12px;
    border-radius: 15px;
    margin: 7px 7px 0 0;
  }
}
