@import '~styles/layout.scss';

.logo {
  width: 136px;
  height: 13px;
}

.linkWrapper {
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  color: $theme-color;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;

  &.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background-color: $theme-secondary;
    width: 100%;
    height: 6px;
  }

  @media #{$tablet-landscape} {
    text-decoration: none;
    position: relative;
    height: 100%;
    font-family: $font-family-1;

    &.active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $theme-secondary;
      width: 100%;
      height: 6px;
    }
  }
}
