@import '~styles/layout.scss';
@import '~styles/settings.scss';

.siteMapContainer {
  background-color: $white;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contentWrapper {
  @include row(12);
}

.sectionsContainer {
  @include columns(6);

  padding-top: 50px;

  @media #{$tablet-landscape} {
    @include columns(3);
  }
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
}

.sectionHeader {
  text-transform: uppercase;
  color: $theme-color;
  font-weight: $font-weight-bold;
  font-size: $font-size-s;
  margin-bottom: 1rem;
}

.linksList {
  margin-bottom: 1rem;
}

.link {
  color: $gray1;
  font-weight: $font-weight;
  font-size: $font-size-sm;
  line-height: 30px;
}

.logo {
  width: 136px;
  height: 13px;
}
