@import '~styles/layout.scss';

.circularChartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: rotate(-90deg);
}

.circularChart {
  display: block;
  height: 130px;

  @media #{$tablet-landscape} {
    height: 160px;
  }
}

.circleEmpty {
  fill: none;
  stroke: $theme-border;
  stroke-width: 1;
}

.circleValue {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

