@import '~styles/layout.scss';

.circularChartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
}

.circularChart {
  display: block;
  height: 130px;
  transform: rotate(-90deg);

  @media #{$tablet-landscape} {
    height: 160px;
  }
}

.circleEmpty {
  fill: none;
  stroke: $gray2;
  stroke-width: 1;
}

.circleValue {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

