@import '../../styles/settings.scss';
@import '~styles/layout.scss';

.row {
  @include row(12);

  @media #{$tablet-landscape} {
    @include row(6);
  }
}

.section {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: solid 1px $gray3;
}

.gray {
  background-color: $gray3;
}
