@import '../../styles/settings.scss';
@import '~styles/layout.scss';

.doubleFold {
  display: flex;
  flex-direction: column;

  @media #{$tablet-landscape} {
    @include columns(2, true);
  }
}

.section {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: solid 1px $light-gray;
}

.gray {
  background-color: $light-gray;
}
