@import '../../styles/settings.scss';
@import '~styles/layout.scss';

.doubleFold {
  @extend %grid;

  grid-template-columns: repeat(2, 1fr);
}

.section {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: solid 1px $light-gray;
}
