@import '~styles/settings.scss';

.column {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 0 !important; // Due to the :global in styles

  a {
    border-bottom: none !important;
    text-decoration: underline !important;
  }

  // Split laws from the rest
  &:nth-child(8) {
    border-left: 3px solid $gray2;
  }
}

.headerRow {
  > div {
    margin-right: 0 !important; // Due to the :global in styles
    justify-content: center;
    align-items: center;

    &:nth-child(1),
    &:nth-child(2) {
      justify-content: start;
    }
  }
}

.row {
  padding-top: 0 !important; // Due to the :global in styles
  padding-bottom: 0 !important; // Due to the :global in styles
}

.oddRow {
  background-color: $lighter-blue;
}
