@import '~styles/layout.scss';

.navNestedMenuContainer {
  position: relative;
}

.navNestedMenu {
  position: absolute;
  width: 100vw;
  z-index: 10;
  top: 60px;
}

.button {
  cursor: pointer;
  outline: none;

  &.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: $theme-secondary;
    width: 100%;
    height: 3px;
  }
}

.arrowIcon {
  width: 7px;
  height: 4px;
  margin-left: 4px;
}

.reverse {
  position: absolute;
}
