@import '~styles/layout.scss';
@import '~styles/settings.scss';

.aboutContact {
  padding-top: 50px;
  line-height: $line-height-medium;
  font-size: $font-size-m;
  text-align: left;
  color: $theme-color;

  p {
    margin-bottom: 40px;
  }

  a {
    color: $theme-color;
    border-bottom: solid 1px $theme-secondary;
  }

  .contactIframe {
    height: 580px;
    width: 100%;
  }

  .loader {
    min-height: 580px;
  }
}
