@import '../../styles/settings';

.topbar {
  background-color: $black;
  height: 35px;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconLogoWRI {
  &.icon {
    width: 200px;
    height: 35px;
  }
}
