.topbar {
  background-color: #000;
  height: 35px;

  .wriLogo {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
  }

  img {
    margin-right: 10px;
  }
}

