@import '~styles/layout.scss';

.disclaimerLayout {
  @include columns(12);

  > *:not(:last-child) {
    @include xy-gutters($gutter-position: 'bottom');
  }

  @media #{$tablet-landscape} {
    @include columns(6);
  }
}

.disclaimerBox {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  padding: $gutter-padding;
  position: relative;
  line-height: $line-height-medium;
  font-size: $font-size-xs;
  background-color: $white;

  &.onlyText {
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    margin: 20px 0;
  }

  @media #{$tablet-landscape} {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.firstText {
  color: $theme-color;
}

.secondText {
  color: $gray1;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
}

.link {
  line-height: $line-height-medium;
  color: $gray1;
  height: 1.62;
  border-bottom: 1px solid $theme-secondary;
}
