@import '~styles/layout.scss';

.disclaimerBox {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 30px;
  position: relative;
  line-height: $line-height-medium;
  font-size: $font-size-xs;
  background-color: $white;
  flex-direction: column;

  &.onlyText {
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    margin-top: 20px;
  }

  @media #{$tablet-landscape} {
    padding: 20px;
    flex-direction: row;
  }
}

.firstText {
  color: $theme-color;
  flex: 1;
}

.secondText {
  color: $dark-gray;
  flex: 1;
  margin: 10px 0 0;

  @media #{$tablet-landscape} {
    margin: 0 20px;
  }
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
}

.link {
  line-height: $line-height-medium;
  color: $dark-gray;
  height: 1.62;
  border-bottom: 1px solid $theme-secondary;
}
