@import '~styles/settings.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.title {
  color: $white;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-wide;
  width: 100%;
  text-align: center;
  padding: 25px 0;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  position: relative;
  letter-spacing: $letter-spacing-wide;
  color: $white;
  width: 100%;
}

.arrowIcon {
  display: block;
  fill: $gray1;
  transform: rotate(-90deg);
}

