@import '~styles/layout.scss';

.wrapper {
  border-bottom: solid 1px $border-color;
  border-top: solid 1px $border-color;
  min-height: 450px;
}

.col2 {
  @extend %grid;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: repeat(2, 1fr);
}

.header {
  margin-top: 40px;
}

.actions {
  @extend %grid;

  @include msGridColumns(45px, 1fr, 47%);

  grid-template-columns: 45px 1fr 47%;
  margin-top: -6px;
}

.subTitle {
  font-size: $font-size;
  color: $theme-color;
  font-weight: $font-weight-bold;
  margin-bottom: 10px;
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;
  column-count: 2;
  column-gap: 20px;
  margin-bottom: 15px;

  > ol > li {
    margin-left: 5px;
  }
}

.cards {
  @extend %grid;

  @include msGridColumns(1fr, 1fr, 1fr, 1fr);

  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 60px;
}

.cardContent {
  margin: 15px;

  a {
    color: $theme-color;
    border-bottom: solid 1px $theme-secondary;
  }
}

.metaTitle {
  font-size: $font-size-sm;
  color: $dark-gray;
  margin-bottom: 5px;
}

.targetText {
  display: block;
  font-size: $font-size;
  line-height: $line-height-small;
  color: $theme-color;
  margin-bottom: 15px;
}

.noContent {
  font-size: $font-size-sm;
  color: $dark-gray;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem {
  font-size: $font-size;
  color: $theme-color;
  margin-bottom: 5px;
}

.adaptionList {
  margin-top: -29px;
}

.loader {
  min-height: 400px;
}

.noContentWrapper {
  min-height: 450px;
}
