@import '~styles/settings.scss';

$progress-bar-width: 180px;

.legendItem {
  cursor: default;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .legendName {
    max-width: $progress-bar-width;
    margin-bottom: 2px;
  }

  .legendDot {
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    border-radius: 50%;
  }

  .progressContainer {
    display: flex;
    align-items: center;

    .progressBar {
      width: $progress-bar-width;
    }

    .partiesNumber {
      margin-left: 16px;
    }
  }
}
