@import '~styles/settings.scss';

.questionCard {
  position: relative;
  border: solid 2.5px $gray3;
  border-radius: 6px;
  padding: 30px 20px 20px;
  clear: both;
  display: block;
  color: $theme-color;
  text-decoration: none;
  margin-bottom: 20px;

  @media #{$tablet-portrait} {
    padding: 20px 60px 25px;
  }

  &:hover {
    background-color: $gray3;
  }
}

.infoButton {
  position: absolute;
  z-index: $z-index-over-map;
  cursor: pointer;
  top: 12px;
  right: 12px;
}

.questionText {
  font-weight: $font-weight-bold;
  color: $theme-color;
  margin-bottom: 15px;
}

.answerText {
  margin-bottom: 15px;
}

.answerNumber {
  font-size: $font-size-large;
  color: $theme-color;
}

.percentage {
  font-weight: $font-weight-bold;
}

.loader {
  min-height: 54px;
}
