@import '~styles/settings.scss';

.header {
  background-color: $light-gray;
}

.wrapper {
  padding-top: 20px;
  min-height: calc(100vh - 420px);
}

.loading {
  height: 200px;
}

.loginContainer {
  min-height: calc(100vh - 420px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 200px;
}

.intro {
  .title {
    color: $theme-color;
  }
}

.anchorNav {
  .link {
    color: $theme-color;

    &Active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $theme-color;
      width: 100%;
      height: 4px;
    }
  }
}

