@import '~styles/settings.scss';

.wrapper {
  padding-top: 20px;
  min-height: calc(100vh - 420px);
}

.loginContainer {
  min-height: calc(100vh - 420px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media #{$tablet-landscape} {
    flex-direction: row;
  }
}

.login {
  width: 200px;
  margin: 0 0 $gutter-padding;

  @media #{$tablet-landscape} {
    margin: 0 $gutter-padding 0 0;
    flex-direction: row;
  }
}

.intro {
  .title {
    color: $theme-color;
  }
}

