@import '~styles/settings';
@import '~styles/layout';

.flourishEmbedWrapper {
  width: 100%;

  iframe {
    width: 100%;
    height: 480px;

    @media #{$tablet-portrait} {
      height: 660px;
    }

    @media #{$tablet-landscape} {
      height: 660px;
    }

    @media #{$desktop} {
      height: 743px;
    }
  }
}