@import '~styles/layout.scss';

.wrapper {
  min-height: 300px;
  padding: ($gutter-padding + $gutter-padding / 2) 0;
  border-bottom: solid 1px $gray2;
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;

  @include columns(12);
  @include xy-gutters($gutter-position: ('bottom'));
}

.chartContainer {
  margin-top: 5rem;

  @include row();
}

.chartLegend {
  @include row((4, 8));

  .legend {
    @include column-offset(4);
  }

  .legendItem {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .legendUnit {
    margin-bottom: 1rem;
  }

  .legendUnit {
    text-align: center;
    font-size: $font-size-m;
    color: $gray1;
  }
}

.axis {
  position: relative;
}

.employmentChartContainer {
  position: relative;
}

.chart {
  position: absolute;
  top: 60px;
  width: 100%;
}

.barContainer {
  height: 30px;
  display: flex;
  padding: 10px 0 0 10px;
}

.bar {
  border-radius: 20px;
  height: 20px;
  margin-right: 1rem;
}

.titleContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.chartTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.chartTitle {
  font-size: $font-size;
  text-align: center;
}

.header {
  margin-bottom: 10px;
}

.switchWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.icon {
  fill: $theme-color;
  margin-left: 5px;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.axisLegend {
  line {
    stroke: $gray2;
  }
}

.noDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;

  > span {
    color: $theme-color;
  }
}

.tooltip {
  display: flex;
  background-color: $white;
  flex-direction: column;
  min-width: 200px !important;
  opacity: 1 !important;
}

.tooltipContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.tooltipName {
  display: flex;
  align-items: center;
  padding-left: 15px;
  position: relative;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: currentColor;
  }
}

.tooltipValue {
  color: $gray2;
  padding-left: 10px;
}

.buttonContainer {
  margin-left: 15px;
  min-width: 45px;
}
