@import '~styles/settings.scss';

.content :global {
  font-family: $font-family-1;
  color: $theme-color;
  line-height: 1.9em;
  font-size: $font-size-m;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: $paragraph-max-width;
    margin: 30px auto;
    display: block;
    font-weight: $font-weight-semi-bold;
    line-height: 1.2em;
  }

  h1 {
    font-size: $font-size-x-large;
  }

  h2 {
    font-size: $font-size-large;
  }

  h3 {
    font-size: $font-size-m;
    font-weight: $font-weight-bold;
  }

  h4,
  h5,
  h6 {
    font-size: $font-size;
    font-weight: $font-weight-bold;
  }

  p {
    max-width: $paragraph-max-width;
    margin: 30px auto;
    font-weight: $font-weight;
    line-height: 1.6em;
  }

  hr {
    max-width: $paragraph-max-width;
    color: $gray2;
    background-color: $gray2;
    height: 2px;
    border: none;
  }

  table,
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    text-align: left;
    margin: auto;
    padding: 10px;
    border: none;
    font-size: $font-size;
  }

  th {
    border-bottom: 2px solid $theme-color;
  }

  td {
    border-bottom: 1px solid $gray2;
  }

  ul,
  ol {
    max-width: $paragraph-max-width;
    margin: 20px auto;
    padding-left: 30px;
    font-size: $font-size;
  }

  img {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  a {
    color: $theme-color;
    word-wrap: break-word;
    background-image: linear-gradient(to right, $theme-secondary 100%, transparent 100%);
    background-position: 0 1.07em;
    background-repeat: repeat-x;
    background-size: 10px 2px;
  }

  blockquote {
    font-weight: $font-weight-bold;
    font-family: $font-family-1;
    line-height: 1.6;

    &::after {
      display: inline-block;
      content: '"';
    }

    &::before {
      display: inline-block;
      content: '"';
    }

    p {
      display: inline;
    }
  }

  ul {
    list-style: none;
    width: 100%;

    li {
      padding-left: 25px;
      text-indent: -25px;
      display: block;
      padding-bottom: 10px;

      p {
        display: inline;
      }
    }

    li::before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      vertical-align: middle;
      border-radius: 5px;
      margin-right: 15px;
      background-color: $gray1;
    }
  }

  ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: item;

    li {
      display: block;
      padding-left: 35px;
      text-indent: -35px;
      padding-bottom: 10px;

      &::before {
        padding: 5px 8px 5px 10px;
        color: $gray1;
        border-radius: 15px;
        margin-right: 10px;
        content: counters(item, ".") " ";
        counter-increment: item;
      }

      p {
        display: inline;
      }
    }
  }

  .highlight {
    background-color: $theme-secondary;

    * {
      background-color: $theme-secondary;
    }
  }
}
