@import "~styles/layout.scss";

.wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.summaryHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
  gap: 20px;
}

.summaryDescription {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.buttonGroup {
  width: 152px;
}

.chartOptionsContainer {
  display: flex;
  justify-content: end;
  margin: 24px 0;
}

.chartContainerGlobal {
  position: relative;
  padding: 0 14px;
  margin-left: -40px;
  margin-right: -40px;

  svg {
    overflow: visible;
  }
}

.tagsContainer {
  margin-left: 26px;
}

.lastUpdated {
  margin-left: 54px;
  margin-top: 14px;
  font-style: italic;
}

.spacer {
  display: block;
  height: 20px;
}
