@import "~styles/layout.scss";

.chartContainerGlobal {
  overflow-x: auto;
  //position: relative;
  //padding: 0 14px;

  svg {
    //overflow: visible;

    text:not(:global(.customFontSize)) {
      font-family: $font-family-1;
      font-size: $font-size-s;
    }

    :global(.axis-grid.x) text {
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
    }
  }
}
