@import '~styles/layout.scss';

.wrapper {
  border-bottom: solid 1px $border-color;
}

.col2 {
  @extend %grid;

  grid-template-columns: repeat(2, 1fr);
}

.header {
  margin-top: 40px;
}

.actions {
  @extend %grid;

  grid-template-columns: repeat(3, 1fr);
}

.subTitle {
  font-size: $font-size;
  color: $theme-color;
  font-weight: $font-weight-bold;
  margin-bottom: 10px;
}

.cards {
  @extend %grid;

  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 50px;
}
