@import '~styles/layout.scss';

.navNestedMenuContainer {
  height: 100%;
  display: flex;
  align-items: center;

  > div {
    height: 100%;
  }

  .button {
    cursor: pointer;
    outline: none;

    &.active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $theme-secondary;
      width: 100%;
      height: 6px;
    }

    &.active {
      .arrowIcon {
        transform: rotate(180deg);
      }
    }
  }

  .arrowIcon {
    width: 7px;
    height: 4px;
    margin-left: 4px;
  }

  .navNestedMenuWrapper {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: $z-index-loader;
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  &.isHidden {
    .navNestedMenuWrapper {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.reverse {
    .navNestedMenu {
      position: relative;
      left: 0;
      height: 604px;
      bottom: 695px;
    }

    .button {
      &.active {
        .arrowIcon {
          transform: rotate(0deg);
        }
      }
    }

    .arrowIcon {
      transform: rotate(180deg);
    }
  }
}
