.countryExplorerContainer {
  position: relative;

  .countryExplorerList {
    list-style: none;
    position: absolute;
    display: block;

    &Closed {
      display: none;
    }
  }

  .countryExplorerListItem {
    margin-bottom: 0.5em;

    &Selected {
      text-decoration: underline;
    }
  }
}
