@import '~styles/settings.scss';

.container {
  // padding: 0 60px 60px;
}

.editor {
  min-height: 80vh;
  margin: $gutter-padding * 3;
}

.title {
  border: none;
  width: 100%;
  font-size: 2.7rem;
  background-color: rgba($gray, 0.2);
  padding: 1.25em $gutter-padding 1em;
}
