@import '~styles/settings.scss';

.header {
  background-color: $light-gray;
}

.loading {
  height: 200px;
}

.wrapper {
  padding-top: 20px;
  min-height: calc(100vh - 420px);
}

.loginContainer {
  min-height: calc(100vh - 420px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 200px;
}

.intro {
  .title {
    color: $theme-color;
  }
}
