@import '~styles/settings.scss';

.cardRow {
  background-color: white;
  padding: 16px 28px 24px;

  &:not(:last-child) {
    border-bottom: 2px solid #e8ecf5;
  }
}

.cardTitle {
  font-size: $font-size-s;
  color: $gray1;
  margin-bottom: 6px;
}

.targetText {
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-small;
  color: $theme-color;
  margin-bottom: 0;
  margin-top: 6px;
}
