@import '~styles/layout.scss';
@import '~styles/settings.scss';

.container {
  @include clearFix();

  background-color: $white;
  border-left: 1px solid $theme-border;
  border-top: none;
  order: 2;

  @media #{$tablet-landscape} {
    order: 1;
  }

  > div {
    float: left;
    width: 33.333333%;
    background-color: $white;

    @media screen and (min-width: 650px) {
      width: 25%;
    }

    @media screen and (min-width: 800px) {
      width: 20%;
    }

    @media #{$tablet-landscape} {
      width: 33.333333%;
    }
  }

  margin-bottom: -1px;
}

.loading {
  min-height: 685px;
}
