@import '~styles/layout.scss';
@import '~styles/settings.scss';

.container {
  @include columns(4, $gutters: false);

  background-color: $white;
  border-left: 1px solid $gray2;
  border-top: none;
  order: 2;

  @media screen and (min-width: 650px) {
    @include columns(3, $gutters: false);
  }

  @media screen and (min-width: 800px) {
    @include columns(20%, $gutters: false);
  }

  @media #{$tablet-landscape} {
    @include columns(4, $gutters: false);

    order: 1;
  }
}

.loading {
  min-height: 685px;
}

.isContained {
  margin-top: 15px;
}
