@import '~styles/layout.scss';
@import '~styles/settings.scss';

.container {
  @include columns(3, $grid-gutters: 0, $cell-gutters: 0);

  background-color: $white;
  border-left: 1px solid $theme-border;
  border-top: none;
  order: 2;

  @media screen and (min-width: 650px) {
    @include columns(4, $grid-gutters: 0, $cell-gutters: 0);
  }

  @media screen and (min-width: 800px) {
    @include columns(5, $grid-gutters: 0, $cell-gutters: 0);
  }

  @media #{$tablet-landscape} {
    @include columns(3, $cell-gutters: 0, $inner: true);

    order: 1;
  }

  > div {
    background-color: $white;
  }

  margin-bottom: -1px;
}

.loading {
  min-height: 685px;
}
