@import '~styles/layout.scss';

.sectionWrapper {
  @include navbarFix();
}

.section {
  position: relative;
}

.sectionHash {
  position: absolute;
  top: -120px;

  @media #{$tablet-landscape} {
    top: -49px;
  }
}

.anchorNav {
  @include row('shrink', $wrap: false);
}
