@import '~styles/layout.scss';

:global .stickyEmissionsScenario {
  .sticky-inner-wrapper {
    z-index: 12;
    background-color: #81226b;
    background-image: url('../../assets/headers/emission-pathways.jpg');
  }
}

.sectionHash {
  border-bottom: solid 1px $border-color;
  padding-bottom: 30px;

  &.indicators {
    border-bottom: none;
    padding-bottom: 0;
  }
}
