---
http_interactions:
- request:
    method: get
    uri: https://climate-laws.org/cclow/api/targets/ARG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2
      Etag:
      - W/"8777fa70ddb0b573b263131865515db6"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"targets":[{"id":1014,"iso_code3":"ARG","country":"Argentina","doc_type":"law","type":"Fixed
        level target","scope":"Renewable Energy","sector":"energy","description":"8%
        share of renewable sources in electric generation by 2016","sources":[{"id":2007,"title":"Law
        26.190 Regime for the National Promotion for the Production and Use of Renewable
        Sources of Electric Energy","type":"law","framework":false,"sectoral":true,"link":"http://climate-laws.org/cclow/geographies/argentina/laws/law-26-190-regime-for-the-national-promotion-for-the-production-and-use-of-renewable-sources-of-electric-energy"}]},{"id":1015,"iso_code3":"ARG","country":"Argentina","doc_type":"law","type":"Fixed
        level target","scope":"Renewable Energy","sector":"energy","description":"8%
        share of renewable sources in electric generation by 2017, 12% by 2019, 16%
        by 2021; 18% by 2023 and 20% by 2025","sources":[{"id":2008,"title":"Law 27191
        on Renewable Energy","type":"law","framework":false,"sectoral":true,"link":"http://climate-laws.org/cclow/geographies/argentina/laws/law-27191-on-renewable-energy"}]},{"id":1963,"iso_code3":"ARG","country":"Argentina","doc_type":"ndc","type":"Fixed
        level target","scope":"Economy Wide","sector":"economy-wide","description":"Not
        exceed a net emission of 483 (unconditional) million tCO2eq by the year 2030;
        conditional measures, if jointly implemented could bring emissions to 369
        million tCO2eq for 2030.","sources":[]}],"sectors":[{"key":"agriculture","title":"Agriculture"},{"key":"buildings","title":"Buildings"},{"key":"coastal-zones","title":"Coastal
        zones"},{"key":"cross-cutting-area","title":"Cross Cutting Area"},{"key":"disaster-risk-management-drm","title":"Disaster
        Risk Management (Drm)"},{"key":"economy-wide","title":"Economy-wide"},{"key":"energy","title":"Energy"},{"key":"environment","title":"Environment"},{"key":"health","title":"Health"},{"key":"industry","title":"Industry"},{"key":"lulucf","title":"LULUCF"},{"key":"other","title":"Other"},{"key":"residential-and-commercial","title":"Residential
        and Commercial"},{"key":"rural","title":"Rural"},{"key":"social-development","title":"Social
        development"},{"key":"tourism","title":"Tourism"},{"key":"transportation","title":"Transportation"},{"key":"urban","title":"Urban"},{"key":"waste","title":"Waste"},{"key":"water","title":"Water"}],"country_meta":{"ARG":{"country_profile":"https://climate-laws.org/cclow/geographies/7","lnp_count":18}}}'
  recorded_at: Sun, 07 Jun 2020 15:13:53 GMT
recorded_with: VCR 4.0.0
