---
http_interactions:
- request:
    method: get
    uri: https://staging-api.globalforestwatch.org/auth/check-logged
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer DEV_USER_TOKEN_PLACEHOLDER
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Response-Time:
      - 18 ms
    body:
      encoding: UTF-8
      string: '{"id":"DEV_USER_ID_PLACEHOLDER","role":"USER","provider":"local","email":"test@example.com","extraUserData":{"apps":["gfw-climate","gfw"]},"createdAt":1511344608420,"iat":1511344608}'
  recorded_at: Wed, 22 Nov 2017 15:15:03 GMT
recorded_with: VCR 3.0.3
