@import '~styles/layout.scss';

.tag {
  border: $dropdown-border;
  border-radius: 4px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: $font-size-sm;
  color: $gray1;
  flex-grow: 0;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.label {
  padding: 3px 0;
  margin-right: 8px;
  width: max-content;
}

.closeButton {
  fill: $gray1;
  cursor: pointer;
  height: 12px;

  &:focus {
    outline: none;
  }
}

.icon {
  width: 10px;
  height: 10px;
  margin-right: 2px;
}
