@import '~styles/layout.scss';

.tag {
  border: 2px solid $shadow-gray;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: $font-size-sm;
  color: $gray1;
  flex-grow: 0;
}

.dot {
  display: inline-block;
  width: 20px;
  height: 10px;
  border-radius: 5px;
  margin-right: 5px;
  opacity: 0.65;
}

.label {
  padding: 3px 0;
  margin-right: 8px;
  width: max-content;
}

.closeButton {
  fill: $gray1;
  cursor: pointer;
  height: 12px;

  &:focus {
    outline: none;
  }
}
