@import '~styles/layout.scss';

.twoFold {
  @extend %grid;

  @include msGridColumns(3fr, 1fr);

  grid-template-columns: 3fr 1fr;
}

.sticky {
  z-index: 2;
  position: relative;
}

.actionsWrapper {
  border-bottom: solid 1px $border-color;
  background: $white;
}

.actions {
  @extend %grid;

  @include msGridColumns(3fr, 3fr, 6fr);

  grid-template-columns: 3fr 3fr 6fr;
  padding-top: 20px;
  padding-bottom: 30px;
}

.select {
  grid-column-start: 3;
  align-self: flex-end;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.bodyContent {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contentContainer {
  position: relative;
  min-height: 500px;
  z-index: 1;
}

.loader {
  position: absolute;
  min-height: 500px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
