@import '~styles/layout.scss';

.twoFold {
  @extend %grid;

  @include msGridColumns(3fr, 1fr);

  grid-template-columns: 3fr 1fr;
}

.sticky {
  z-index: 2;
  position: relative;
}

.actionsWrapper {
  border-bottom: solid 1px $border-color;
  background: $white;
}

.actions {
  @extend %grid;

  @include msGridColumns(1fr, 1fr, 2fr);

  grid-template-columns: 1fr 1fr 2fr;
  padding-top: 20px;
  padding-bottom: 30px;

  > :first-child {
    grid-column: 1 / 4;
    margin-right: 0;
    padding-bottom: 20px;
  }

  > :nth-child(2) {
    grid-column: 1 / 4;
    margin-right: 0;
  }

  @media #{$tablet-landscape} {
    > :first-child {
      grid-column: 1;
      padding-bottom: 0;
    }

    > :nth-child(2) {
      grid-column: 2 / 4;
    }
  }

  @media #{$desktop} {
    > :nth-child(2) {
      grid-column: 3 / 4;
    }
  }
}

.select {
  grid-column-start: 3;
  align-self: flex-end;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.bodyContent {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contentContainer {
  position: relative;
  min-height: 500px;
  z-index: 1;
}

.loader {
  position: absolute;
  min-height: 500px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.innerContentRtl {
  direction: rtl;
}
