@import '~styles/layout.scss';

.twoFold {
  @include row();

  padding-bottom: $gutter-padding / 2;

  @media #{$tablet-landscape} {
    @include row((9, 3));
  }
}

.sticky {
  z-index: $z-index-sticky;
  position: relative;

  &.active > .actions:global {
    @include xy-gutters(0);
  }
}

:global {
  .sticky.active > .actions {
    @include xy-gutters(0);
  }
}

.actionsWrapper {
  border-bottom: solid 1px $gray2;
  background: $white;
}

.actions {
  @include row();
  @include xy-gutters($gutter-type: 'padding', $gutter-position: ('top', 'bottom'));

  > :nth-child(1) {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  @media #{$desktop} {
    @include row((4, 6));

    > :nth-child(1) {
      @include xy-gutters(0, $gutter-position: ('bottom'));
    }

    > :nth-child(2) {
      @include column-offset(2, $gutters: true);
    }
  }
}

.select {
  align-self: flex-end;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.bodyContent {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contentContainer {
  position: relative;
  min-height: 500px;
  z-index: $z-index-over-base;
}

.loader,
.noContent {
  position: absolute;
  min-height: 500px;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-over-base;
}

.innerContentRtl {
  direction: rtl;
}
