@import '~styles/layout.scss';
@import '~styles/settings.scss';

.section {
  padding: 40px 30px;
  margin: 0 -30px;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 30px;
}

.partners {
  @extend %grid;

  @include msGridColumns(1fr, 1fr, 1fr);

  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: $gutter-padding;
  justify-items: start;

  .partner {
    margin-bottom: 30px;

    .link {
      display: flex;
      align-items: center;
      height: 80px;

      .linkLabel {
        color: $theme-color;
        background-image: linear-gradient(to right, $theme-secondary 100%, transparent 100%);
        background-position: 0 17px;
        background-repeat: repeat-x;
        background-size: 10px 2px;
      }
    }

    .description {
      margin-top: 10px;
      font-size: $font-size;
      color: $dark-gray;
    }
  }

  &.col4 {
    @include msGridColumns(1fr, 1fr, 1fr, 1fr);

    grid-template-columns: repeat(4, 1fr);
  }

  &.additionalData {
    @include msGridColumns(1fr, 1fr, 1fr, 1fr);

    .link {
      display: inline-block;
    }

    grid-template-columns: repeat(4, 1fr);
  }
}
