@import '~styles/layout.scss';

.tooltip {
  background: $white;
  min-width: 180px;
  max-width: 300px;
  padding: 15px;
  box-shadow: 0 5px 15px 0 rgba(17, 55, 80, 0.15);
  border-radius: 4px;
}

.tooltipHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.unit {
  color: $gray1;
  font-size: $font-size-s;
}

.labelTotal {
  color: #0e4762;
  font-weight: $font-weight-bold;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: $font-size-sm;
}

.legend {
  display: flex;
  justify-content: flex-start;
}

.labelDot {
  border-radius: 50%;
  width: 10px;
  min-width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 3px;
  display: block;
}

.labelName {
  margin-right: 30px;
  color: $theme-color;
}

.labelNameBold {
  font-weight: $font-weight-bold;
}

.labelValue {
  color: $gray1;
  text-align: right;
  min-width: 45px;
}

.notAvailable {
  color: $gray1;
}
