@import '~styles/layout.scss';
@import '~styles/settings.scss';

.filtersLayout {
  > * {
    @include xy-gutters($gutter-position: ('bottom'));
  }
}

.emptyCell {
  display: none;
}

.loader,
.noContent {
  margin-top: 25px;
  min-height: 475px;
}

@media #{$tablet-portrait} {
  .filtersLayout {
    @include columns((6));
  }
}

@media #{$tablet-landscape} {
  .filtersLayout {
    @include columns((3,6,3));

    .emptyCell {
      display: block;
    }
  }
}
