@import '~styles/layout.scss';
@import '~styles/settings.scss';

.filtersLayout {
  > * {
    @include xy-gutters($gutter-position: ('bottom'));

    width: 100%;
  }

  @media #{$tablet-portrait} {
    display: flex;
    justify-content: space-between;
    > * {  
      max-width: 270px;
    }
  }
}

.loader,
.noContent {
  margin-top: 25px;
  min-height: 475px;
}
