@import '~styles/layout.scss';
@import '~styles/settings.scss';

.col4 {
  @include columns(6);
  @include xy-gutters($gutter-position: ('bottom'));

  @media #{$tablet-landscape} {
    @include columns(3);

    > *:nth-child(3) {
      @include column-offset(3);
    }
  }
}

.loader {
  min-height: 475px;
}

.noContent {
  min-height: 475px;
  position: relative;
}

.tableMenu {
  @include columns((12));
  @include xy-gutters($gutter-position: ('top', 'bottom'), $gutters: $gutter-padding * 2);

  color: $gray1;
  font-size: $font-size-large;
  list-style: none;
}
