@import '~styles/settings.scss';
@import '~styles/layout.scss';

.container {
  border-top: 1px solid $gray1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerNoData {
  border-bottom: 1px solid $gray1;
  min-height: 400px;
}

.loader {
  width: 100%;
}

.accordion {
  width: 100%;
}

.compareDefinitionList {
  > div {
    padding: 10px 0;
  }
}

.comparisonTitleContainer {
  border-bottom: 1px solid $gray1;
  padding: 50px 0;
  width: 100%;
  padding-left: 30px;

  .comparisonTitle {
    @include row();

    font-size: $font-size-large;
  }
}
