@import '~styles/settings.scss';
@import '~styles/layout.scss';

.container {
  height: calc(100vh - #{$navbar-height} - 139px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px $gray2;
}
