@import '~styles/layout.scss';

$min-height: 450px;

.wrapper {
  position: relative;
  min-height: $min-height;
}

.accordion {
  margin-bottom: -1px;
  position: relative;
  background-color: $light-gray;
}

.subAccordion {
  background-color: $light-gray;
}

.loader {
  min-height: $min-height;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-under-loader;
}

.noContent {
  font-size: $font-size-sm;
  color: $dark-gray;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $min-height;
}

.definitionList {
  background-color: $light-gray;
  border-bottom: solid 1px rgba($theme-color, 0.3);
}
