@import '~styles/layout.scss';
@import '~styles/settings.scss';

.filtersLayout {
  @include columns(6);

  > * {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  @media #{$tablet-landscape} {
    @include columns(3);

    margin-bottom: 36px;
  }
}

.searchBox {
  @media #{$tablet-landscape} {
    @include column-offset(9, $gutters: true);
  }
}

.loader,
.noContent {
  margin-top: 25px;
  min-height: 475px;
}
