@import '~styles/layout.scss';
@import '~styles/settings.scss';

.wrapper {
  position: relative;
  margin-bottom: 40px;
}

.column {
  @include columns();
}

.searchBox {
  @media #{$tablet-landscape} {
    @include column-offset(9, $gutters: true);

    margin-top: 20px;
  }
}

.loader {
  min-height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.tableWrapper {
  margin-top: 20px;

  [class*=__headerRow] {
    height:52px !important;
    align-items: flex-end;
  }
}


