@import '~styles/layout.scss';

.header {
  padding-bottom: 34px;

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $theme-secondary;
    }
  }
}

.learnMore {
  margin-top: 14px;
}
