@import '~styles/settings.scss';
@import '~styles/layout.scss';

.agricultureLabel {
  display: flex;
  align-items: center;
}

.description {
  color: $manatee;
  max-width: 600px;

  span {
    color: $theme-color;
  }
}

.labelValue {
  font-weight: bold;
  margin-left: 40px;
}

.tagTheme {
  border: none;
  box-shadow: none;
  color: $theme-color;
  font-size: $font-size;
}

.fixedCard {
  height: 100%;
  width: 100%;
  max-height: 520px;
}

.fixedCardContentContainer {
  font-size: $font-size-s;
  min-height: unset;
  padding: 7px 13px;

  p {
    color: $manatee;
    margin: 0;
  }
}

.fixedCardData {
  padding: 37px 31px;
  overflow: hidden;
}

@media #{$tablet-portrait} {
  .portraitContent {
    @include columns((6,6));
  }

  .agricultureLabel {
    margin-bottom: 40px;
  }
}
