@import '~styles/layout.scss';
@import '~styles/settings.scss';

.container {
  height: 100%;
  position: relative;
  order: 1;

  @media #{$tablet-landscape} {
    order: 2;
  }
}

.map {
  height: 100%;
}

.legend {
  position: absolute;
  left: 0;
  bottom: 15px;
}

.buttons {
  position: absolute;
  right: 10px;
  top: $gutter-padding;
  z-index: 1;
}

.title {
  position: absolute;
  left: 0;
  top: $gutter-padding;
}
