@import '~styles/layout.scss';

.nav {
  display: flex;
  color: $dark-gray;
  font-size: $font-size-large;
}

.link {
  cursor: pointer;
  margin-right: 30px;
  padding: 15px 0;
  text-decoration: none;
  position: relative;

  &Active::after {
    color: $base-text;
  }
}
