@import '~styles/layout.scss';

.grid {
  @extend %grid;

  @include msGridColumns(4fr, 8fr);

  grid-template-columns: 4fr 8fr;
}

.bg {
  background-color: $light-gray;
}

.wrapper {
  margin-bottom: 40px;
}
