@import '~styles/layout.scss';
@import '~styles/settings.scss';

.bg {
  background-color: $light-gray;
  padding-top: $navbar-height;

  @media #{$desktop} {
    padding-top: 0;
  }
}

.bgOpen {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  padding-bottom: $gutter-padding;
  overflow: auto;
  height: auto;
}

.headerOpen {
  height: $header-height;

  @media #{$tablet-landscape} {
    height: auto;
  }
}

@media #{$tablet-landscape} {
  padding-bottom: 0;
  height: auto;
}

.wrapper {
  height: auto;
}

.wrapperOpen {
  overflow: auto;
}
