@import '~styles/layout.scss';

.col6 {
  @extend %grid;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;

  @media #{$tablet-landscape} {
    @include msGridColumns(1fr, 1fr, 1fr, 1fr, 1fr, 1fr);

    grid-template-columns: repeat(6, 1fr);
  }
}

.col2 {
  @extend %grid;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;

  > div {
    margin-right: 0 !important;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 20px;
  margin-top: 35px;
}

.chartWrapper {
  position: relative;
  min-height: 420px;
  max-height: 100%;

  > div {
    margin-left: 0;
  }
}

.colEnd {
  align-self: flex-end;
}
