@import '~styles/layout.scss';

.wrapper {
  padding-top: 50px;
  background-color: $light-gray;
  border-bottom: solid 1px $border-color;
}

.imageContainer {
  overflow: hidden;
  padding: 0 20px;
  margin: -2px -20px;
}

.imageLeft {
  margin-bottom: -2px;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 5px 0 28px -10px $dark-gray, -5px 0 28px -10px $dark-gray;
}

.paddedTeaser {
  padding-top: 200px;
}

.wideButton {
  width: 270px;
}
