@import '~styles/layout.scss';

.wrapper {
  padding: 50px 0;
  background-color: $gray3;
}

.imageLeft {
  margin-bottom: -2px;
  box-shadow: -10px 9px 30px 0 rgba(37, 89, 124, 0.15);
}

.paddedTeaser {
  padding-top: 200px;
}

.wideButton {
  width: 270px;
}
