@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
@import 'settings';

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  &::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
}

body,
html {
  font-family: $font-family-1;
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0;
  padding: 0;
  height: 100%;
}

:global {
  #root {
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  button {
    background-color: transparent;
    border: 0;
  }

  img {
    max-width: 100%;
  }
}
