@import 'settings';
@import "~foundation-sites/scss/global";
@import "~foundation-sites/scss/util/util";
@import "~foundation-sites/scss/xy-grid/xy-grid";

$grid-container: $max-width;
$grid-margin-gutters: $gutter-padding;
$grid-padding-gutters: $gutter-padding;

.content {
  @include xy-grid-container;

  width: 100%;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $gutter-padding / 2;

  @media #{$tablet-portrait} {
    padding: 0 $gutter-padding;
  }
}

.screenshotMobileLayout {
  @media #{$mobile-only} {
    padding: 0 $gutter-padding * 2;
  }
}

@mixin columns($number, $gutter-size: $grid-margin-gutters, $inner: false) {
  @include xy-grid($wrap: true);
  @include xy-gutters($gutters: $gutter-size, $negative: $inner);

  > * {
    @include xy-cell($size: 12/$number, $gutters: $gutter-size);
  }
}

@mixin customColumns($columns, $grid-gutters: $gutter-padding, $cell-gutters: $gutter-padding) {
  @include xy-grid($wrap: true);
  @include xy-gutters($gutters: $grid-gutters);

  @for $i from 1 through length($columns) {
    $size: nth($columns, $i);

    > *:nth-child(#{$i}) {
      @include xy-cell($size of 12);
      @include xy-gutters($gutters: $cell-gutters);
    }
  }
}

%grid {
  display: grid;
  grid-column-gap: $gutter-padding;
}

@mixin msGridColumns($columns...) {
  $frs: ();

  @for $i from 1 through length($columns) {
    $item: nth($columns, $i);

    @if $i==$columns {
      $frs: append($frs, $item);
    }

    @else {
      $frs: append($frs, $item $gutter-padding);
    }

    > *:nth-child(#{$i}) {
      -ms-grid-column: #{$i + ($i - 1)};

      @media #{$tablet-landscape} {
        width: 100%;
      }

      // Adding extra margin to fix safari and IE spacing
      @if $i!=length($columns) {
        margin-right: $gutter-padding;
      }
    }
  }

  display: -ms-grid;
  -ms-grid-columns: $frs;
}

@mixin clearFix() {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}

// the overflow-x scroll prevents the overflow-y to be visible so we need this hack to keep the dropdowns visible
@mixin overflowFix() {
  padding-top: 250px;
  margin-top: -250px;
}
