@import 'settings';
@import "~foundation-sites/scss/global";
@import "~foundation-sites/scss/util/util";
@import "~foundation-sites/scss/xy-grid/xy-grid";
@import '~styles/utils.scss';

$grid-container: $max-width;
$grid-margin-gutters: $gutter-padding;
$grid-padding-gutters: $gutter-padding;

@mixin row($columns: full, $wrap: true, $gridDirection: 'horizontal') {
  @include xy-grid($wrap: $wrap, $direction: $gridDirection);
  @include xy-gutters();
  @include xy-grid-container;
  @include shared-column($columns, $gridDirection);
}

@mixin setGutters($gridDirection) {
  @if $gridDirection == 'vertical' {
    @include xy-gutters('top', 'bottom');
  }

  @else {
    @include xy-gutters();
  }
}

@mixin columns($columns: full, $wrap: true, $gutters: true, $gridDirection: 'horizontal') {
  @include xy-grid($wrap: $wrap, $direction: $gridDirection);
  $negative: true;
  $gutters-value: $grid-margin-gutters;

  @if $gutters == false {
    $gutters-value: 0;
  }

  @else {
    @include xy-gutters($negative: $negative);
  }

  @include shared-column($columns, $gridDirection, $gutters-value);
}

@mixin column-offset($number: 0, $gutters: false) {
  $gutters-value: $grid-margin-gutters;

  @if $gutters == false {
    $gutters-value: 0;
  }

  @include xy-cell-offset($number, $gutters: $gutters-value);
}

@mixin shared-column($columns, $gridDirection, $gutters: $grid-margin-gutters) {
  @if type-of($columns) == list {
    @for $i from 1 through length($columns) {
      $size: nth($columns, $i);

      > *:nth-child(#{$i}) {
        @if $gridDirection == 'vertical' {
          @include xy-cell('full');
          @include xy-cell($size, $vertical: true);
          @include xy-gutters($gutter-position: ('top', 'bottom'));
        }

        @else {
          @include xy-cell($size, $gutters: $gutters);
        }
      }
    }
  }

  @else {
    > * {
      @if $gridDirection == 'vertical' {
        @include xy-cell('full');
        @include xy-cell($columns, $vertical: true);
        @include xy-gutters($gutter-position: ('top', 'bottom'));
      }

      @else {
        @include xy-cell($columns, $gutters: $gutters);
      }
    }
  }
}

.content {
  @include row(12);
}

@mixin clearFix() {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }

  & {
    *zoom: 1;
  }
}
// the overflow-x scroll prevents the overflow-y to be visible so we need this hack to keep the dropdowns visible
@mixin overflowFix($size) {
  padding-top: $size;
  margin-top: -#{$size};
}

.loadingModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: $z-index-loading-modal;
}

.parsedHTML {
  ul {
    list-style: disc;
  }

  ul,
  ol {
    margin: 1em 0 0 1em;
  }
}
