// Font families
$font-family-1: 'Lato', sans-serif;

// Font sizes
$font-size-xs: 0.75rem; // 12px / 16px
$font-size-s: 0.8125rem; // 13px / 16px
$font-size-sm: 0.875rem; // 14px / 16px
$font-size: 1rem; // 16px / 16px
$font-size-m: 1.1875rem; // 19px / 16px
$font-size-large: 1.5rem; // 24px / 16px
$font-size-x-large: 2.75rem; // 44px / 16px
$font-size-xl-large: 3.375rem; // 54px / 16px

//font-weights
$font-weight-light: 300;
$font-weight: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

// line height
$line-height-xs: 0.85;
$line-height-small: 1.3;
$line-height-medium: 1.62;
$line-height-modal: 26px;

// Layout
$gutter-padding: 30px;
$max-width: 1230px;
$grid-gap: 30px;
$modal-padding: 35px;
$navbar-height: 60px;
$header-height: 40vh;
$footer-height: 43px;
$card-content-margin: 15px;
$paragraph-max-width: 770px;
$logos-top-bottom-margin: 15px;

// Colors
$black: #333;
$white: #fff;
$theme-color: #113750;
$theme-color-light: #25597c;
$theme-secondary: #ffc735;
$theme-border: #e6e7ed;
$light-gray: #f5f6f7;
$lighter-gray: #E5E5EB;;
$athens-gray: #eeeff3;
$manatee: #8f8fa0;
$gray: #b1b1c1;
$dark-gray: #8f8fa1;
$base-text: #424242;
$placeholder-gray: #393f44;
$slate: #555;
$link-color: #0845cb;
$ebony-clay: #233140;

$bg-main: #00548b;
$bg-blue: #1b3b5a;

$teal-blue: #045f61;
$purple: #74356a;
$light-blue: #035388;
$error: #d46948;

$twitter: #5b8ec8;
$facebook: #3b5999;
$google: #d8483b;

$border-color: rgba(26, 28, 34, 0.1);

// Breakpoints
$breakpoint-mobile-only: 37.4375rem; // 599px / 16px
$breakpoint-tablet-portrait: 37.5rem; // 600px / 16px
$breakpoint-tablet-landscape: 56.25rem; // 900px / 16px
$breakpoint-desktop: 75rem; // 1200px / 16px

//Foundation xy-grid breakpoints
$breakpoints: (
  small: 0,
  medium: $breakpoint-tablet-portrait,
  large: $breakpoint-tablet-landscape,
  xlarge: $breakpoint-desktop,
  xxlarge: 1440px,
);

// Media queries
$mobile-only: 'screen and (max-width: #{$breakpoint-mobile-only})';
$tablet-portrait: 'screen and (min-width: #{$breakpoint-tablet-portrait})';
$tablet-landscape: 'screen and (min-width: #{$breakpoint-tablet-landscape})';
$desktop: 'screen and (min-width: #{$breakpoint-desktop})';

// Fixed heights
$vulnerability-chart-height: calc(100% - 30px);

$sdg-1: #e5243b;
$sdg-2: #dda63a;
$sdg-3: #4c9f38;
$sdg-4: #c5192d;
$sdg-5: #ff3a21;
$sdg-6: #26bde2;
$sdg-7: #fcc30b;
$sdg-8: #b93156;
$sdg-9: #fd6925;
$sdg-10: #dd1367;
$sdg-11: #fd9d24;
$sdg-12: #bf8b2e;
$sdg-13: #3f7e44;
$sdg-14: #0a97d9;
$sdg-15: #56c02b;
$sdg-16: #00689d;
$sdg-17: #19486a;

$sdg-colors: $sdg-1 ,$sdg-2 ,$sdg-3 ,$sdg-4 ,$sdg-5 ,$sdg-6 ,$sdg-7 ,$sdg-8 ,$sdg-9 ,$sdg-10 ,$sdg-11 ,$sdg-12 ,$sdg-13 ,$sdg-14 ,$sdg-15 ,$sdg-16 ,$sdg-17;

$climate-risk-1: #cd597d;
$climate-risk-2: #db898b;
$climate-risk-3: #e8b799;
$climate-risk-4: #f0cb99;
$climate-risk-5: #f8dd99;
$climate-risk-6: #d5cfab;
$climate-risk-7: #96aec9;
$climate-risk-8: #6888c5;
$climate-risk-9: #5165a3;
$climate-risk-10: #3c4483;

$climate-risk-colors: $climate-risk-1 ,$climate-risk-2 ,$climate-risk-3 ,$climate-risk-4 ,$climate-risk-5 ,$climate-risk-6 ,$climate-risk-7 ,$climate-risk-8 ,$climate-risk-9 ,$climate-risk-10;

@mixin triangle($color, $direction) {
  width: 0;
  height: 0;

  @if ($direction == 'up') {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color;
  }

  @if ($direction == 'down') {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color;
  }
}
