// Font families
$font-family-1: 'Lato', sans-serif;

// Font sizes
$font-size-xs: 0.75rem; // 12px / 16px
$font-size-s: 0.8125rem; // 13px / 16px
$font-size-sm: 0.875rem; // 14px / 16px
$font-size: 1rem; // 16px / 16px
$font-size-m: 1.1875rem; // 19px / 16px
$font-size-large: 1.5rem; // 24px / 16px
$font-size-x-large: 2.75rem; // 44px / 16px
$font-size-xl-large: 3.375rem; // 54px / 16px
$font-size-xxl-large: 4.2rem; // 54px / 16px

//font-weights
$font-weight-light: 300;
$font-weight: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

// line height
$line-height-xs: 0.85;
$line-height-small: 1.3;
$line-height-medium: 1.62;
$line-height-modal: 26px;
$line-height-title: 54px;

// Layout
$gutter-padding: 30px;
$max-width: 1230px;
$grid-gap: 30px;
$modal-padding: 35px;
$navbar-height: 60px;
$header-height: 40vh;
$footer-height: 43px;
$card-content-margin: 15px;
$paragraph-max-width: 770px;
$logos-top-bottom-margin: 15px;

// Colors
$black: #333;
$white: #fff;
$theme-color: #0a1941;
$theme-color-medium: #0845cb;
$theme-color-light: #25597c;
$theme-secondary: #ffc735;
$theme-secondary-dark: #f6a806;

// Header colors

$header-ndc: #000d44;
$header-countries: #113750;
$header-emissions: #341870;
$header-sectors: #a73f14;
$header-about: $theme-color-medium;

$header-commitments-gradient: (#001880, #526ee7);
$header-emissions-gradient: (#341870, #7a50d3);
$header-countries-gradient: ($header-countries, #228d94);
$header-sectors-gradient: ($header-sectors, #de7950);
$header-about-gradient: (#0845cb, #18ade2);

// Grays
$gray1: #757584;
$gray2: #cccdcf;
$gray3: #f1f4fb;

// $map-gray: #868697; Only on js

// Colors for map / charts

$chart-gray-color-1: #999c9f;

$chart-color-1: #ffb800;
$chart-color-2: #0845cb;
$chart-color-3: #ff6c2f;
$chart-color-4: #008eee;
$chart-color-5: #ff6cd0;
$chart-color-6: #2ec9df;
$chart-color-7: #d2187c;
$chart-color-8: #6d40ea;
$chart-color-9: #13c881;
$chart-color-10: #83a2e5;
$chart-color-11: #ffb5e7;
$chart-color-12: #96e4ef;
$chart-color-13: #c1eedc;
$chart-color-14: #b69ff4;
$chart-color-15: #ffdb80;
$chart-color-16: #ffb597;
$chart-color-17: #80c3f6;
$chart-color-18: #e88bbd;
$chart-color-19: #512faf;
$chart-color-20: #b24b20;
$chart-color-21: #0063a6;
$chart-color-22: #b28000;
$chart-color-23: #9d115c;
$chart-color-24: #bf509b;
$chart-color-25: #208c9b;
$chart-color-26: #0e9560;
$chart-color-27: #032265;
$chart-color-28: #727477;

$teal-blue: #045f61;
$purple: #74356a;
$light-blue: #035388;
$error: #d46948;
$shadow-gray: #e8ecf5;

$twitter: #5b8ec8;
$facebook: #3b5999;
$google: #d8483b;

// Exports
/* stylelint-disable */
:export {
  headerColors: {
    ndc: $header-ndc;
    countries: $header-countries;
    emissions: $header-emissions;
  }

  headerGradients: {
    commitments: $header-commitments-gradient;
    emissions: $header-emissions-gradient;
    countries: $header-countries-gradient;
    sectors: $header-sectors-gradient;
    about: $header-about-gradient;
  }

  chartGrayColors: {
    grayColor1: $chart-gray-color-1;
    grayColor2: $gray2;
  }

  chartColors: {
    color1: $chart-color-1;
    color2: $chart-color-2;
    color3: $chart-color-3;
    color4: $chart-color-4;
    color5: $chart-color-5;
    color6: $chart-color-6;
    color7: $chart-color-7;
    color8: $chart-color-8;
    color9: $chart-color-9;
    color10: $chart-color-10;
  }

  chartColorsExtended: {
    color1: $chart-color-1;
    color2: $chart-color-10;
    color3: $chart-color-3;
    color4: $chart-color-11;
    color5: $chart-color-8;
    color6: $chart-color-12;
    color7: $chart-color-7;
    color8: $chart-color-13;
    color9: $chart-color-4;
    color10: $chart-color-14;
    color11: $chart-color-2;
    color12: $chart-color-5;
    color13: $chart-color-15;
    color14: $chart-color-6;
    color15: $chart-color-16;
    color16: $chart-color-17;
    color17: $chart-color-18;
    color18: $chart-color-9;
  }

  chartColorsExtra: {
    color1: $chart-color-1;
    color2: $chart-color-14;
    color3: $chart-color-3;
    color4: $chart-color-11;
    color5: $chart-color-19;
    color6: $chart-color-6;
    color7: $chart-color-8;
    color8: $chart-color-16;
    color9: $chart-color-12;
    color10: $chart-color-20;
    color11: $chart-color-2;
    color12: $chart-color-13;
    color13: $chart-color-21;
    color14: $chart-color-17;
    color15: $chart-color-22;
    color16: $chart-color-4;
    color17: $chart-color-15;
    color18: $chart-color-23;
    color19: $chart-color-24;
    color20: $chart-color-11;
    color20: $chart-color-25;
    color21: $chart-color-10;
    color22: $chart-color-26;
    color23: $chart-color-27;
    color24: $chart-color-18;
    color25: $chart-color-28;
    color25: $chart-color-9;
    color25: $chart-color-7;
    color25: $chart-gray-color-1;
  }
};

// box-shadow
$box-shadow-light: 0 2px 10px 0 $gray3;
$box-shadow-card: 0 2px 20px 0 $shadow-gray;

// border
$dropdown-border: 2.5px solid $gray3;

// Breakpoints
$breakpoint-mobile-only: 37.4375rem; // 599px / 16px
$breakpoint-tablet-portrait: 37.5rem; // 600px / 16px
$breakpoint-tablet-landscape: 56.25rem; // 900px / 16px
$breakpoint-desktop: 75rem; // 1200px / 16px

//Foundation xy-grid breakpoints
$breakpoints: (
  small: 0,
  medium: $breakpoint-tablet-portrait,
  large: $breakpoint-tablet-landscape,
  xlarge: $breakpoint-desktop,
  xxlarge: 1440px,
);

// z-index
$z-index-base: 0;
$z-index-over-base: 1;
$z-index-sticky: 2;
$z-index-over-sticky: 3;
$z-index-under-loader: 5;
$z-index-multiselect: 9;
$z-index-loader: 10;
$z-index-over-loader: 11;
$z-index-cookie-consent: 15;
$z-index-over-map: 20;
$z-index-dropdown-menu: 21;
$z-index-over-dropdown: 23;
$z-index-loading-modal: 50;
$z-index-top: 10000000;

// Media queries
$mobile-only: 'screen and (max-width: #{$breakpoint-mobile-only})';
$tablet-portrait: 'screen and (min-width: #{$breakpoint-tablet-portrait})';
$tablet-landscape: 'screen and (min-width: #{$breakpoint-tablet-landscape})';
$desktop: 'screen and (min-width: #{$breakpoint-desktop})';

// Fixed heights
$vulnerability-chart-height: calc(100% - 30px);

$sdg-1: #e5243b;
$sdg-2: #dda63a;
$sdg-3: #4c9f38;
$sdg-4: #c5192d;
$sdg-5: #ff3a21;
$sdg-6: #26bde2;
$sdg-7: #fcc30b;
$sdg-8: #b93156;
$sdg-9: #fd6925;
$sdg-10: #dd1367;
$sdg-11: #fd9d24;
$sdg-12: #bf8b2e;
$sdg-13: #3f7e44;
$sdg-14: #0a97d9;
$sdg-15: #56c02b;
$sdg-16: #00689d;
$sdg-17: #19486a;

$sdg-colors: $sdg-1 ,$sdg-2 ,$sdg-3 ,$sdg-4 ,$sdg-5 ,$sdg-6 ,$sdg-7 ,$sdg-8 ,$sdg-9 ,$sdg-10 ,$sdg-11 ,$sdg-12 ,$sdg-13 ,$sdg-14 ,$sdg-15 ,$sdg-16 ,$sdg-17;

$climate-risk-1: #cd597d;
$climate-risk-2: #db898b;
$climate-risk-3: #e8b799;
$climate-risk-4: #f0cb99;
$climate-risk-5: #f8dd99;
$climate-risk-6: #d5cfab;
$climate-risk-7: #96aec9;
$climate-risk-8: #6888c5;
$climate-risk-9: #5165a3;
$climate-risk-10: #3c4483;

$climate-risk-colors: $climate-risk-1 ,$climate-risk-2 ,$climate-risk-3 ,$climate-risk-4 ,$climate-risk-5 ,$climate-risk-6 ,$climate-risk-7 ,$climate-risk-8 ,$climate-risk-9 ,$climate-risk-10;

@mixin triangle($color, $direction) {
  width: 0;
  height: 0;

  @if ($direction == 'up') {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color;
  }

  @if ($direction == 'down') {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color;
  }
}
