// Font families
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
$font-family-1: 'Lato', sans-serif;

// Font sizes
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size: 16px;
$font-size-m: 19px;
$font-size-large: 24px;
$font-size-x-large: 44px;
$font-size-xl-large: 54px;

//font-weights
$font-weight-light: 300;
$font-weight: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

// Layout
$max-width: 1280px;
$gutter-padding: 20px;
$navbar-height: 60px;

// Colors
$black: #333;
$white: #fff;
$theme-color: #113750;
$theme-color-light: #25597c;
$theme-secondary: #ffc735;
$theme-border: #e6e7ed;
$light-gray: #f5f6f7;
$dark-gray: #8f8fa1;
$base-text: #424242;

$bg-main: #00548b;
$bg-blue: #1b3b5a;

$border-color: #caccd0;

// Breakpoitns
$breakpoint-mobile: 320;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// Media queries
$mq-mobile: 'screen and (min-width: #{$breakpoint-mobile})';
$mq-tablet: 'screen and (min-width: #{$breakpoint-tablet})';
$mq-desktop: 'screen and (min-width: #{$breakpoint-desktop})';
