@import 'settings';

:global .sticky-outer-wrapper {
  .sticky-inner-wrapper {
    z-index: $z-index-sticky;
  }

  &.sticky {
    // Keep this sync siwh the headerColor of the app-routes
    &.-ndcs,
    &.-compare,
    &.-ndc-search {
      .sticky-inner-wrapper {
        background-color: $light-blue;
      }
    }

    &.-country-selector {
      .sticky-inner-wrapper {
        background-color: $white;
      }
    }

    &.-country,
    &.-country-compare {
      .sticky-inner-wrapper {
        background-color: $teal-blue;
      }
    }

    &.-about {
      .sticky-inner-wrapper {
        background-color: $theme-color;
      }
    }

    &.-emissions {
      .sticky-inner-wrapper {
        background-color: $purple;
      }
    }

    &.-sectors-agriculture {
      .sticky-inner-wrapper {
        background: linear-gradient(135deg, #0677b3 0%, #00b4d2 100%);
      }
    }

    .sticky-outer-wrapper,
    .sticky-inner-wrapper {
      z-index: $z-index-over-dropdown; // dropdown items have 21
    }
  }
}
