@import 'settings';

:global .sticky-outer-wrapper {
  .sticky-inner-wrapper {
    z-index: 2;
  }

  &.sticky {
    // Keep this sync siwh the headerColor of the app-routes
    &.-ndcs,
    &.-compare,
    &.-ndc-search {
      .sticky-inner-wrapper {
        background-color: $light-blue;
      }
    }

    &.-country-selector {
      .sticky-inner-wrapper {
        background-color: $white;
      }
    }

    &.-country,
    &.-country-compare {
      .sticky-inner-wrapper {
        background-color: $teal-blue;
      }
    }

    &.-about {
      .sticky-inner-wrapper {
        background-color: $theme-color;
      }
    }

    &.-emissions {
      .sticky-inner-wrapper {
        background-color: $purple;
      }
    }

    .sticky-outer-wrapper,
    .sticky-inner-wrapper {
      z-index: 23; // dropdown items have 21
    }
  }
}
