@import 'settings';

%texts-defaults {
  font-family: $font-family-1;
  letter-spacing: $letter-spacing-none;
}

// h1
%title {
  @extend %texts-defaults;

  font-size: $font-size-xxl-large;
  font-weight: $font-weight-bold;
}

// h2
%headline {
  @extend %texts-defaults;

  font-size: $font-size-xl-large;
  font-weight: $font-weight-light;
}

// h3
%smallTitle {
  @extend %texts-defaults;

  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

// p
%bodyText {
  @extend %texts-defaults;

  font-size: $font-size;
  font-weight: $font-weight;
}
