@import '~styles/layout.scss';
@import '~styles/settings.scss';

.wrapper {
  padding-top: $gutter-padding;
  padding-bottom: $gutter-padding;
}

.col4 {
  @extend %grid;

  grid-template-columns: repeat(4, 1fr);
  align-items: end;
}

.buttons {
  grid-column-end: -1;
}
