@import '~styles/layout.scss';
@import '~styles/settings.scss';

.wrapper {
  position: relative;
}

.col4 {
  @extend %grid;

  grid-template-columns: repeat(4, 1fr);
  align-items: end;
}

.legend {
  position: absolute;
  left: 0;
  bottom: 100px;
}

.buttons {
  grid-column-end: -1;
}
