@import '~styles/layout.scss';

.iconButton {
  width: 100%;
  height: 100%;
  border: solid $gray2 1px;
  border-width: 0 0 1px 1px;
  border-radius: 0;

  &.active {
    background-color: $theme-color;
  }

  &.clickable {
    cursor: pointer;
  }

  &.lastColumn {
    border-right: solid $gray2 1px;
  }
}

.loaderWrapper,
.noContent {
  display: flex;
  justify-content: center;
  min-height: 460px;
}

.submitIcon {
  height: 30px;
  width: 30px;
}
