@import '~styles/settings.scss';

.userReport {
  position: fixed;
  top: 40%;
  right: 0;
  width: 72px;
  z-index: $z-index-top;
  background-color: $theme-secondary;
  box-shadow: 0 0 2px rgba(black, 0.125);
  color: $theme-color;
  font-size: $font-size-sm;
  transform: rotate(-90deg) translate(0, 12px);
  transform-origin: 50% 0%;
  transition: transform 0.3s ease-in-out;
  border-radius: 4px 4px 0 0;
  padding: 4px 0 16px;
  cursor: pointer;

  &:hover {
    transform: rotate(-90deg) translate(0, 8px);
  }
}

:global #crowd-shortcut {
  display: none !important;
}
