@import '~styles/settings.scss';

.withIndicators {
  min-width: fit-content;
}

.tooltipButton {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
}

.tooltipCountry {
  margin-bottom: 5px;
}

.tooltipValue {
  font-size: $font-size-sm;
}

.indicators {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.indicator {
  display: flex;
  font-size: $font-size-xs;
}
