@import '~styles/settings.scss';

.tooltipButton {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: left;
}

.tooltipCountry {
  margin-bottom: 5px;
}

.tooltipValue {
  font-size: $font-size-sm;
  margin-bottom: 10px;
}
