@import "~styles/layout.scss";

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  li {
    @media #{$mobile-only} {
      max-width: 100%;
      height: auto !important;
      padding: 0 5px !important;
    }

    height: 24px;
  }

  p {
    margin: 0;
  }
}

.historical {
  border-top: 3px solid #999c9f;
  width: 16px;
  margin-right: 6px;
  border-radius: 20px;
}

.projection {
  display: block;
  width: 16px;
  height: 3px;
  border-radius: 20px;
  margin-right: 6px;
  background-image: linear-gradient(to right, #999c9f 65%, transparent 35%);
  background-position: top;
  background-size: 10px 3px;
  background-position-x: left;
  background-repeat: repeat-x;
}
