@import '~styles/layout.scss';

$margin-container: 10px;

.legendChart {
  margin-bottom: $margin-container;

  .legendContainer {
    flex: 1;
  }

  .legendLogo {
    position: relative;
    width: 130px;
    margin-top: 20px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .legendLogoTitle {
    color: $dark-gray;
  }

  @media #{$tablet-landscape} {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    .legendLogoTitle {
      position: absolute;
      top: 0;
      left: 0;
    }

    .legendLogo {
      width: 250px;
      padding-left: 130px;
    }
  }
}

.tagsContainer {
  position: relative;
  min-height: 120px;

  @media #{$tablet-landscape} {
    min-height: 85px;
  }

  @media #{$desktop} {
    min-height: 50px;
  }
}

.tagsWrapper {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  overflow-x: scroll;

  @media #{$tablet-landscape} {
    flex-wrap: wrap;
    overflow: visible;
    position: relative;
    height: unset;
  }
}

.tags {
  display: flex;
  margin-top: $margin-container;
  position: absolute;
  bottom: 0;

  @media #{$tablet-landscape} {
    flex-wrap: wrap;
    position: relative;
  }
}

.tag {
  margin-right: 10px;
  padding: 1em 0.3em;
  margin-bottom: 30px;

  @media #{$tablet-landscape} {
    padding: 0 5px;
    margin-bottom: 10px;
  }
}

.tagDescription {
  color: $dark-gray;
}

.tagSelector :global {
  width: 29px;
  height: 29px;
  z-index: $z-index-base;

  .react-selectize-control {
    background-color: $white !important;
    z-index: $z-index-loader;
    height: 28px !important;
    padding-left: 5px !important;
  }

  .react-selectize-toggle-button-container {
    width: 15px !important;
  }

  .values {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-menu {
    width: 200px !important;
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 4px;
    bottom: 28px !important;
    box-shadow: none !important;
    left: -171px;

    @media #{$tablet-landscape} {
      left: 0;
    }
  }
}

.plusIcon {
  width: 10px;
  height: 10px;
}

.hidden {
  opacity: 0;
}
