@import '~styles/layout';
@import '~styles/settings';

.wrapper {
  width: 100%;
}

.main {
  color: $white;
  font-family: $font-family-1;

  @include columns(12);

  a {
    color: $theme-color;
    border-bottom: solid 1px $theme-secondary;
  }

  &.withButton {
    @media #{$tablet-landscape} {
      @include columns((9, 3));
    }

    a {
      border-bottom: none;
    }
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  line-height: $line-height-small;
  margin-bottom: 20px;
  text-align: inherit;

  @media #{$tablet-landscape} {
    font-size: $font-size-xl-large;
  }
}

.subtitle {
  font-size: $font-size;
  font-weight: $font-weight;
  margin-left: 8px;
}

.description {
  margin-bottom: 30px;
  line-height: $line-height-medium;
  color: $white;

  br {
    line-height: 200%;
  }
}

.disclaimer {
  color: $white;
  font-style: italic;
  opacity: 0.75;
}

.columns {
  @media #{$tablet-landscape} {
    max-width: 100%;
    column-count: 2;
    column-gap: $gutter-padding;
  }
}
