@import '~styles/layout';
@import '~styles/settings';

.main {
  color: $white;
  font-family: $font-family-1;

  @include columns(12);

  @media #{$tablet-landscape} {
    @include columns((9.6, 2.4));
  }

  a {
    color: $theme-color;
    border-bottom: solid 1px $theme-secondary;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  line-height: $line-height-xs;
  margin-bottom: 10px;

  @media #{$tablet-landscape} {
    font-size: $font-size-xl-large;
  }
}

.description {
  margin-bottom: 20px;
  line-height: $line-height-medium;
  color: $white;
}

.disclaimer {
  color: $white;
  font-style: italic;
  opacity: 0.75;
}

.columns {
  @media #{$tablet-landscape} {
    max-width: 100%;
    column-count: 2;
    column-gap: $gutter-padding;
  }
}
