@import '~styles/settings';

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  color: $white;
  font-family: $font-family-1;

  a {
    color: $theme-color;
    border-bottom: solid 1px $theme-secondary;
  }
}

.button {
  width: 170px;
  margin-right: 20px;
}

.title {
  font-size: $font-size-xl-large;
  margin-bottom: 10px;
  font-weight: $font-weight-light;
  line-height: 0.85em;
}

.description {
  margin-bottom: 20px;
  line-height: $line-height-medium;
  max-width: 580px;
}

.columns {
  max-width: 100%;
  column-count: 2;
  column-gap: 30px;
}
