@import '~styles/settings';

.container {
  position: fixed;
  bottom: 0%;
  z-index: $z-index-cookie-consent;
  width: 100%;
  padding: 10px 15px;
  background-color: $theme-color;
  font-family: $font-family-1;
  font-size: 14px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$tablet-landscape} {
    flex-direction: row;
  }
}

.link {
  color: $white;
  text-decoration: underline;
}

.button {
  margin-left: 5px;
  width: 106px;
  background-color: $theme-secondary;
  text-transform: none;
  color: $theme-color;
  margin-top: 15px;
  cursor: pointer;

  @media #{$tablet-landscape} {
    margin-top: 0;
    width: 168px;
  }
}

.containerHidden {
  display: none;
}
