@import '~styles/layout.scss';

.wrapper {
  border-bottom: solid 1px $theme-border;
  padding-bottom: 30px;
}

.col5 {
  @extend %grid;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: repeat(2, 1fr);

  @media #{$tablet-portrait} {
    @include msGridColumns(1fr, 1fr, 1fr, 1fr 1fr);

    grid-template-columns: repeat(5, 1fr);
  }
}

.overview {
  color: $theme-color;

  .item {
    display: flex;
    flex-direction: column;
    margin-top: 71px;

    &:last-child {
      margin-right: 0;
    }

    .title {
      font-weight: bold;
      margin-bottom: 11px;
    }
  }
}

.seeAllButton {
  grid-column-end: -1;
  margin-top: 20px;

  @media #{$tablet-portrait} {
    margin-top: 0;
  }
}

.loader {
  min-height: 240px;
}
