@import '~styles/layout.scss';

.wrapper {
  border-bottom: solid 1px $gray2;
  padding-bottom: $gutter-padding;
  padding-top: 70px;
}

.col5 {
  @include columns(12);
  @include xy-gutters($gutter-position: ('bottom'));

  > * {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  @media #{$tablet-landscape} {
    @include columns(2.4);

    > * {
      @include xy-gutters($gutter-position: ('bottom'), $gutters: 0);
    }
  }
}

.overview {
  color: $theme-color;

  .item {
    word-wrap: break-word;

    .title {
      font-weight: bold;
      margin-bottom: 12px;
    }
  }
}

.itemData {
  line-height: 1.1;
  color: $theme-color;
}

.itemLink {
  border-bottom: 1px solid #ffc735;
}

.itemLogo {
  width: 100%;
  max-width: 200px;

  img {
    width: 100%;
    height: auto;
  }
}

.seeAllButton {
  @media #{$tablet-landscape} {
    @include column-offset(9.6);
  }
}

.loader {
  min-height: 220px;
}
