@import '~styles/settings.scss';

.navbar {
  display: flex;
  flex-direction: column;

  .link {
    position: relative;
    padding: 25px 0;
    width: 100%;
  }

  > a {
    display: block;
    color: $white;
    font-size: $font-size-m;
  }
}
