@import '~styles/layout.scss';

.grid {
  @include msGridColumns(7fr, 5fr);

  display: grid;
  grid-template-columns: 7fr 5fr;
  position: relative;
  height: calc(100vh - 100px);
  max-height: 800px;
}
