@import '~styles/layout.scss';

.wrapper {
  padding: ($gutter-padding + $gutter-padding / 2) 0;
  border-bottom: 1px solid $gray2;
}

.content {
  @include row(12);

  padding-bottom: 30px;

  @media #{$tablet-landscape} {
    &.legacy {
      @include row((8,4));

      &.embedded {
        @include row(12);
      }
    }
  }
}

.map {
  position: relative;
  margin-left: $gutter-padding / 2;
  padding: 30px 0;
}

.disclaimer {
  margin-top: -180px;

  @media #{$tablet-landscape} {
    margin-top: -140px;
  }
}

.titleRow {
  @include row(12);

  @media #{$tablet-landscape} {
    @include row((9,3));
  }

  padding-top: 30px;
  padding-bottom: 30px;
  align-items: flex-start;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.description {
  margin-bottom: 15px;
}

.infoBtn {
  border-radius: 4px !important;
  border: solid 2.5px $gray3;
  min-width: 45px;
  margin: 10px;
}

.buttons {
  display: flex;
  align-items: center;
}
