@import '~styles/settings.scss';

.app {
  height: 100%;
  position: relative;

  &.mobileMenuOpen {
    overflow: hidden;
  }
}

.pageWrapper {
  padding-top: $navbar-height;

  @media #{$desktop} {
    padding-top: 0;
  }
}
