@import '~styles/layout.scss';

.stepButton {
  background-color: $theme-secondary;
  cursor: pointer;
  display: block;
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid $black;
  z-index: 100000; // z-index to avoid disable interaction

  &:hover,
  &.active {
    height: 20px;
    width: 20px;
    border: 2px solid $white;
  }
}
