@import '~styles/layout.scss';
@import '~styles/settings.scss';

.wrapper {
  position: relative;
  margin-bottom: 40px;
}

.actionsContainer {
  @include columns();
  @include xy-gutters($gutter-position: ('bottom'));

  .buttonGroupWrapper {
    display: none;
  }

  align-items: flex-end;

  @media #{$tablet-portrait} {
    @include columns((6, 6));

    > *:last-child {
      @include column-offset(1, $gutters: true);
    }
  }

  @media #{$tablet-landscape} {
    @include columns((3, 3, 2));

    .buttonGroupWrapper {
      display: block;
    }

    > *:last-child {
      @include column-offset(4, $gutters: true);
    }
  }
}

.visualizationsContainer {
  @include columns();

  @media #{$tablet-landscape} {
    @include columns((8, 4));
  }
}

.btnGroup {
  width: 100%;
}

.legend {
  position: relative;
  left: 0;
  bottom: 25%;

  @media #{$tablet-landscape} {
    top: -160px;
  }
}

:global .__react_component_tooltip {
  max-width: 250px;
}

.loader {
  min-height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
