@import '~styles/layout.scss';

.wrapper {
  border-top: solid 1px $gray2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header {
  margin-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;

  @media #{$tablet-portrait} {
    grid-template-columns: 1fr 1fr;
  }

  @media #{$tablet-landscape} {
    grid-template-columns: repeat(3, 1fr);
  }

  .prepCard {
    margin: 15px;
    height: 330px;
  }
}

.titleContainer {
  display: inline-flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;

  @include columns(12);

  > div {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  @media #{$tablet-landscape} {
    @include columns((6,6));
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.paddedBottom {
  padding-bottom: 100px;
  min-height: 600px;
}

.tooltipTrigger {
  font-weight: bold;
}

.tooltip {
  min-width: 300px;
}
