@import '~styles/layout.scss';

.wrapper {
  border-top: solid 1px $border-color;
  padding-bottom: 50px;
}

.header {
  margin-bottom: 10px;
  margin-top: 40px;
}

.cards {
  @extend %grid;

  @include msGridColumns(1fr, 1fr, 1fr, 1fr, 1fr, 1fr);

  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  overflow: scroll;

  @media #{$tablet-landscape} {
    @include msGridColumns(1fr, 1fr, 1fr);

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    overflow: auto;

    > div {
      &:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }

      &:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-row: 1;
      }

      &:nth-child(3) {
        -ms-grid-column: 5;
        -ms-grid-row: 1;
      }

      &:nth-child(4) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
      }

      &:nth-child(5) {
        -ms-grid-column: 3;
        -ms-grid-row: 2;
      }

      &:nth-child(6) {
        -ms-grid-column: 5;
        -ms-grid-row: 2;
      }
    }
  }
}

.titleContainer {
  display: inline-flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.descriptionContainer {
  display: flex;
  align-content: space-between;
  color: $theme-color;
  line-height: $line-height-medium;
  flex-direction: column;

  @media #{$tablet-landscape} {
    flex-direction: row;
    padding-bottom: 20px;
  }

  div {
    padding-bottom: 20px;

    @media #{$tablet-landscape} {
      margin-right: 30px;
      padding-bottom: 0;
      width: 50%;
    }
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.paddedBottom {
  padding-bottom: 100px;
  min-height: 600px;
}

.tooltipTrigger {
  font-weight: bold;
}

.tooltip {
  min-width: 500px;
}
