@import '~styles/layout.scss';

.container {
  @include clearFix();

  > div {
    float: left;
    width: 33.333333%;
    background-color: $white;
  }

  margin-bottom: 1px;
}

.loading {
  min-height: 686px;
}
