@import '~styles/settings';

.table :global {
  position: relative;

  .ReactVirtualized__Table__headerRow {
    border-bottom: solid 1px $theme-color-light;
    font-size: $font-size-sm;
    color: $theme-color;
    padding: 30px 0 15px;
    text-transform: capitalize;
    font-weight: $font-weight-bold;
    font-family: $font-family-1;
  }

  .ReactVirtualized__Grid,
  .ReactVirtualized__Table__Grid {
    background-color: $light-gray;
  }

  .ReactVirtualized__Table__row {
    border-bottom: solid 1px #e5e5eb;
    align-items: flex-start;
    padding: 10px 0;
  }

  .ReactVirtualized__Table__rowColumn {
    color: $theme-color;
    font-size: $font-size-sm;

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:first-of-type {
      font-weight: $font-weight-bold;
    }
  }

  a {
    color: $theme-color;
    word-wrap: break-word;
    background-image: linear-gradient(to right, $theme-secondary 100%, transparent 100%);
    background-position: 0 1.07em;
    background-repeat: repeat-x;
    background-size: 10px 2px;
  }
}
