@import '~styles/settings';

.tableWrapper {
  position: relative;
}

.table :global {
  position: relative;

  .ReactVirtualized__Table__headerRow {
    font-size: $font-size-sm;
    color: $theme-color;
    padding: 30px 0 15px;
    text-transform: capitalize;
    font-weight: $font-weight-bold;
    font-family: $font-family-1;
  }

  .ReactVirtualized__Grid,
  .ReactVirtualized__Table__Grid {
    background-color: $light-gray;
    border-top: solid 1px $theme-color-light;
  }

  .ReactVirtualized__Table__row {
    border-bottom: solid 1px #e5e5eb;
    align-items: flex-start;
    padding: 10px 0;
  }

  .ReactVirtualized__Table__rowColumn {
    color: $theme-color;
    font-size: $font-size-sm;

    > div {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      line-height: $line-height-medium;
      color: $theme-color;
      border-bottom: 1px solid $theme-secondary;
    }

    &:first-of-type {
      font-weight: $font-weight-bold;
    }
  }

  .ReactVirtualized__Table__sortableHeaderColumn {
    &:focus {
      outline: none;
    }
  }
}

.hasColumnSelect :global {
  .ReactVirtualized__Table__headerRow {
    padding-left: 30px;
    margin-left: -30px;
    margin-right: 30px;
  }

  .ReactVirtualized__Table__row {
    padding-left: 30px;
    margin-left: -30px;
    margin-right: 30px;
  }
}

.columnSelector :global {
  position: absolute;
  right: 0;
  width: 50px;
  z-index: 10;
  border-bottom: solid 1px $theme-color-light;

  .dropdown-menu {
    width: 200px !important;
    right: 0;
    margin-top: 1px !important;
  }

  .values {
    padding-right: 0;
  }
}

.selectorValue {
  position: absolute;
  right: 10px;
  top: 15px;
}
