@import '~styles/settings';

.tableWrapper {
  position: relative;
  overflow-x: hidden;

  &.horizontalScroll {
    overflow-x: auto;
  }
}

.table :global {
  position: relative;

  .ReactVirtualized__Table__headerRow {
    font-size: $font-size-sm;
    color: $theme-color;
    padding: 30px 0 15px;
    text-transform: none;
    font-weight: $font-weight-bold;
    font-family: $font-family-1;

    &:focus {
      outline: none;
    }
  }

  .ReactVirtualized__Grid,
  .ReactVirtualized__Table__Grid {
    background-color: $gray3;
    border-top: solid 1px $theme-color-light;

    &:focus {
      outline: none;
    }
  }

  .ReactVirtualized__Table__row {
    border-bottom: solid 1px #e5e5eb;
    align-items: flex-start;
    padding: 10px 0;
  }

  .ReactVirtualized__Table__rowColumn {
    color: $theme-color;
    font-size: $font-size-sm;
    white-space: normal;
    line-height: $line-height-medium;

    a {
      line-height: $line-height-medium;
      color: $theme-color;
      border-bottom: 1px solid $theme-secondary;
    }

    &:first-of-type {
      font-weight: $font-weight-bold;
    }
  }

  .ReactVirtualized__Table__sortableHeaderColumn {
    &:focus {
      outline: none;
    }
  }
}

.column {
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;

  &.ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.hasColumnSelect :global {
  .ReactVirtualized__Table__headerRow {
    padding-left: 30px;
    margin-left: -30px;
    margin-right: 30px;
  }

  .ReactVirtualized__Table__row {
    padding-left: 30px;
    margin-left: -30px;
    margin-right: 30px;
  }
}

.columnSelectorWrapper {
  position: relative;

  &:focus {
    outline: none;
  }
}

.columnSelector :global {
  position: absolute;
  right: 0;
  z-index: $z-index-loader;
  border-bottom: solid 1px $theme-color-light;
  width: 25px;
  background-color: white;

  @media #{$tablet-landscape} {
    width: 50px;
    background-color: initial;
  }

  .dropdown-menu {
    width: 200px !important;
    right: 0;
    margin-top: 1px !important;
  }

  .values {
    padding-right: 0;
  }
}

.selectorValue {
  position: absolute;
  right: 10px;
  top: 15px;
}

.trendLink {
  > div {
    cursor: pointer !important;
  }
}

.emptyValue {
  font-style: italic;
  font-weight: $font-weight-light;
}

.idleSortIcon {
  width: 8px;
  height: 8px;
  margin-left: 3px;
  transform: translateY(-30%);
}
