@import '~styles/layout.scss';
@import '~styles/settings.scss';

.sectionWrapper {
  @include navbarFix();
}

.header {
  @include row((8, 4));

  @media #{$tablet-landscape} {
    @include row((10, 2));
  }
}

.section {
  position: relative;
}

.sectionHash {
  position: absolute;
  top: -110px;

  @media #{$tablet-landscape} {
    top: -49px;
  }
}

.anchorNav {
  @include row('shrink', $wrap: false);
}
