@import '~styles/layout.scss';
@import '~styles/settings.scss';

.header {
  @extend %grid;

  @include msGridColumns(10fr, 2fr);

  grid-template-columns: 10fr 2fr;
}

.section {
  position: relative;
}

.sectionHash {
  position: absolute;
  top: -110px;

  @media #{$tablet-landscape} {
    top: -49px;
  }
}
