@import '~styles/settings';

.progress {
  height: 10px;
  background-color: $gray3;
  border: 1px solid $gray1;
  border-radius: 10px;
  overflow: hidden;

  .bar {
    background-clip: content-box;
    height: 100%;
    padding-right: 4px;
    position: relative;

    &:after {
      content: '';
      background: inherit;
      border-radius: 0 10px 10px 0;
      height: 8px;
      position: absolute;
      right: 0;
      width: 4px;
    }
  }
}
