@import '~styles/settings';

.progress {
  width: 101%;
  height: 10px;
  background-color: $gray3;
  border-radius: 10px;
  border: 1px solid $gray1;

  .bar {
    border-radius: 10px;
    height: 130%;
    margin-top: -1px;
    margin-left: -1px;
  }
}
