@import '~styles/settings';

.buttonGroup {
  border-radius: 4px;
  float: left;
  display: flex;
  justify-content: space-between;
  border-right: solid 2.5px $gray3;
  height: 45px;

  & > :first-child {
    border-radius: 4px 0 0 4px;
  }

  & > :last-child {
    border-radius: 0 4px 4px 0;
  }
}

.disabled {
  cursor: not-allowed;
  fill: rgba($theme-color, 0.6);
}

.button {
  border: solid 2.5px $gray3;
  background-color: white;
  border-radius: 0;
  border-right: 0;
  padding: 0;
  width: 100%;
  box-shadow: none;
  fill: $theme-color;
  min-width: 24px;

  &.share {
    height: 45px;
  }

  &.download {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
