@import '~styles/settings.scss';
@import '~styles/layout.scss';

.headerCols {
  @extend %grid;

  @include msGridColumns(1fr);

  grid-template-columns: 1fr;
  margin-bottom: 15px;
  z-index: 2;

  @media #{$tablet-landscape} {
    @include msGridColumns(6fr, 6fr);

    grid-template-columns: 6fr 6fr;
  }
}

.contentCols {
  display: block;
  background-color: $light-gray;

  @media #{$tablet-portrait} {
    display: grid;

    @include msGridColumns(1fr);

    grid-template-columns: 1fr;
  }

  @media #{$tablet-landscape} {
    display: grid;
    grid-column-gap: 30px;

    @include msGridColumns(1fr, 1fr);

    grid-template-columns: repeat(2, 50%);
  }
}

.resultsList {
  border-right: solid 1px #e5e5eb;
  position: relative;
  background-color: $white;
}

.resultCard {
  max-width: calc((#{$max-width} / 2));
  padding-left: 30px;

  @media #{$tablet-portrait} {
    float: right;
  }
}

.map :global {
  max-width: calc((#{$max-width} / 2));
  padding-right: 30px;
  float: left;
}

.stickyMap :global {
  .sticky-inner-wrapper {
    max-width: calc((#{$max-width} / 2));
    padding-right: 30px;
  }
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 400px;
}
