@import '~styles/settings.scss';
@import '~styles/layout.scss';

.headerCols {
  @extend %grid;

  @include msGridColumns(6fr, 6fr);

  grid-template-columns: 6fr 6fr;
}

.contentCols {
  @extend %grid;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: repeat(2, 50%);
}

.anchorNav {
  height: 49px;
  margin-top: 15px;
}

.resultsList {
  border-right: solid 1px #e5e5eb;
  position: relative;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 400px;
}
