@import '~styles/settings.scss';
@import '~styles/layout.scss';

.page {
  @media #{$tablet-landscape} {
    background-image: linear-gradient(to right, #{$white}, #{$white} 50%, #{$light-gray} 50%, #{$light-gray});
  }
}

.anchorNav {
  @include row('shrink', $wrap: false);
}

.headerCols {
  @include row();
  margin-bottom: 15px;
  z-index: $z-index-sticky;

  @media #{$tablet-portrait} {
    > * {
      @include xy-gutters($gutter-position: ('bottom'));
    }
  }

  @media #{$tablet-landscape} {
    .intro {
      margin-bottom: 100px;
    }

    .select {
      margin-bottom: 64px;
    }
  }
}

.wrapperCols {
  background-color: $white;

  @media #{$tablet-landscape} {
    @include row();

    min-height: 400px;
  }

  @media #{$tablet-landscape} {
    background-color: transparent;
  }
}

.contentCols {
  @include columns(12, $gutters: false);

  @media #{$tablet-landscape} {
    @include columns((6,6), $gutters: false);
    @include column-offset(0, $gutters: true);
  }
}

.resultsList {
  @include columns($gutters: false);

  border-right: solid 1px #e5e5eb;
  background-color: $white;

  @media #{$desktop} {
    @include columns($gutters: false);
  }
}

.loader {
  position: absolute;
  left: -25%;
  min-height: 400px;
}

.noContent {
  min-height: 400px;
  max-width: 75%;
  line-height: 1.5;
  margin: 0 auto;
}
