@import '~styles/settings.scss';
@import '~styles/layout.scss';

.wrapper {
  padding: $gutter-padding;
  left: 0;
  right: 0;
  bottom: auto;
  background-color: $bg-main;
}

.content {
  @extend %grid;

  grid-template: 1fr / 1fr 3fr;
  grid-row-gap: 20px;
}

.search :global {
  grid-column: span 2;

  input {
    transition: border-color 150ms ease-out;

    &:hover {
      border-color: $white;
    }
  }
}

.map {
  text-align: center;
}

.list {
  max-height: 450px;
}
