@import '~styles/settings.scss';
@import '~styles/layout.scss';

.wrapper {
  min-height: calc(100vh - 30px);
  left: 0;
  right: 0;
  bottom: auto;
  padding-top: 15px;
  background-color: $white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-top: solid 1px $gray2;

  @media #{$tablet-landscape} {
    min-height: calc(100% - 196px); // 196px = font size plus footer padding
  }

  @media #{$desktop} {
    padding-top: $gutter-padding;
  }
}

.searchAndCompare {
  @include columns((8,4));

  @media #{$tablet-landscape} {
    @include columns((10,2));
  }
}

.columns {
  @include columns();

  @media #{$tablet-landscape} {
    @include columns((4,8));
  }
}

.map {
  display: inline-block;
  margin-left: $gutter-padding;
  text-align: center;
}

.list {
  display: inline-block;
  font-size: $font-size-m;
  max-height: 450px;
  vertical-align: top;

  @media #{$tablet-landscape} {
    font-size: $font-size;
  }
}
