@import '~styles/settings.scss';
@import '~styles/layout.scss';

.wrapper {
  padding: $gutter-padding;
  left: 0;
  right: 0;
  bottom: auto;
  background-color: $white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-top: solid 1px $theme-border;
}

.content {
  @extend %grid;

  grid-row-gap: 20px;

  @media #{$tablet-landscape} {
    grid-template: 1fr / 1fr 3fr;
  }

  > * {
    &:first-child {
      -ms-grid-column-span: 2;
    }

    &:nth-child(2) {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }

    &:nth-child(3) {
      -ms-grid-column: 2;
      -ms-grid-row: 2;
    }
  }
}

.search_title {
  color: $theme-color;
  font-size: $font-size-m;

  @media #{$tablet-landscape} {
    display: none;
  }
}

.search {
  grid-column: span 2;
}

.map {
  text-align: center;
}

.list {
  font-size: $font-size-m;
  max-height: 450px;
  grid-column: span 2;

  @media #{$tablet-landscape} {
    grid-column: span 1;
    font-size: $font-size;
  }
}
