.globalChartTooltipWrapper {
  .globalChartTooltipTheme {
    background-color: transparent !important;

    &:after {
      display: none !important;
    }
  }
}

.globalChartTooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 180px; // 170px will match designs for remaining gaps
  text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px 0px;
}

.globalChartTooltipLabel,
.globalChartTooltipValue
  {
    text-align: center;
    color: black;
  }

// .globalChartTooltipLabel {}

.globalChartTooltipValue {
  font-size: 16px;
}
