@import '~styles/layout.scss';

$legend-height: 30px;

.container {
  background-color: $light-gray;
  border-bottom: solid 1px $border-color;
  height: calc(100vh - 50px);
}

.map {
  height: calc(100% - #{$legend-height});
}

.legend {
  height: $legend-height;
}
