@import '~styles/layout.scss';

$legend-height: 30px;

.container {
  position: relative;
  background-color: $light-gray;
  height: 540px;
  max-width: 400px;
  border: solid 1px $border-color;
}

.map {
  height: calc(100% - #{$legend-height});
}

.legend {
  height: $legend-height;
}
