@import '~styles/layout.scss';

.gridContainer {
  border-bottom: 1px solid $gray2;
}

.grid {
  @include row(12);

  padding-top: $gutter-padding + $gutter-padding / 2;
  padding-bottom: $gutter-padding * 2;
}

.container {
  margin-bottom: $gutter-padding;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;

  @include columns(12);
  @include xy-gutters($gutter-position: ('bottom'));
}

.item {
  margin: $gutter-padding 0 0;
  text-align: center;
}

.previousComparison {
  @include columns(4);
}

.icon {
  width: 30px;
  height: 30px;
}

.valueKey {
  margin: 10px 0 0;
}

.valueDescription {
  margin-top: 10px;
  font-size: $font-size-sm;
  color: $gray1;
}

.loading {
  min-height: 462px;
}
