@import '~styles/layout.scss';

.gridContainer {
  border-bottom: 1px solid $gray2;
}

.grid {
  @include row(12);
  padding: ($gutter-padding + $gutter-padding / 2) 0;
}

.container {
  margin-bottom: $gutter-padding;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;

  @include columns(12);
  @include xy-gutters($gutter-position: ('bottom'));
}

.item {
  text-align: center;
}

.previousComparison {
  @include columns(4);
  @include xy-gutters(80px, $gutter-position: ('top'), $gutter-type: margin);

  > div {
    padding-bottom: 30px;
  }

  @media #{$tablet-landscape} {
    @include columns(1.71); // 12 / 7 indicators

    > div {
      padding-bottom: 0;
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
}

.valueKey {
  margin: 10px 0 0;
}

.loading {
  min-height: 462px;
}
