@import '~styles/layout.scss';

.gridContainer {
  border-bottom: 1px solid $gray2;
}

.grid {
  @include row(12);

  padding: ($gutter-padding + $gutter-padding / 2) 0;
}

.container {
  margin-bottom: $gutter-padding;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;

  @include columns(12);
  @include xy-gutters($gutter-position: ('bottom'));
}

.comparisonIndicator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px;
}

.comparisonIndicatorReducedWidth {
  margin-left: auto;
  margin-right: auto;

  @media #{$tablet-landscape} {
    padding-right: 80px;
  }
}

.comparisonIndicatorItem {
  text-align: center;
  width: 96px;
  margin-bottom: 30px;

  @media #{$tablet-landscape} {
    width: 140px;
  }
}

.icon {
  width: 30px;
  height: 30px;
}

.valueKey {
  margin: 10px 0 0;
}

.loading {
  min-height: 462px;
}
