@import '~styles/layout.scss';

.container {
  height: 100%;
  padding-top: 7rem;
}

.steps {
  height: 100%;
  list-style: none;
  padding: 0;
}

.step {
  min-height: 25%;
  border-bottom: 1px solid #cbccd0;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;

  &:last-child {
    border: none;
  }
}

.stepTitle {
  padding-bottom: 30px;
  font-size: $font-size-large;
  color: $theme-color;
}

.stepSubTitle {
  padding-bottom: 10px;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  color: $theme-color;
}

.selectsContainer {
  display: flex;
  flex-wrap: wrap;
}

.selectsItem {
  flex-basis: 25%;
  margin-right: 30px;
}

.cardContent {
  padding: 5px;
}

.cardTitle {
  font-size: 1em;
  font-weight: 600;
}

.cardTags {
  margin-top: 1.5em;
  font-size: 0.7em;
  color: #8f8fa0;
}

.saveContainer {
  text-align: right;
  padding: 0 20px 20px;
}

.saveBtn,
.deleteBtn {
  display: inline-block;
  width: 170px;
}

.deleteBtn {
  margin-right: 10px;
}

.timeseriesLoader {
  min-height: 300px;
}

.dropDowns {
  margin-bottom: 1.2rem;
}

.input,
.textArea,
.chart,
.legend {
  margin-bottom: 1rem;
}

.input,
.textArea {
  width: 60%;
  border: solid 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
  color: $theme-color;
  border-radius: 4px;
  padding: 1em;
}

.input::placeholder {
  color: $theme-color;
  font-style: initial;
  opacity: 0.5;
}

.input:focus,
.textArea:focus {
  border: solid 1px $theme-color;
}
