@import '~styles/layout.scss';
@import '~styles/settings.scss';

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 10px;
}

.descriptionContainer {
  display: flex;
  color: $theme-color;
  padding-top: 40px;
  line-height: $line-height-medium;
  margin-bottom: 30px;

  @include columns(12, $gutters: false);

  @media #{$desktop} {
    @include columns((7, 5), $gutters: false);
  }
}

.logoContainer {
  text-align: right;
  margin: auto 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media #{$desktop} {
    justify-content: flex-end;
    margin-top: 0;
  }
}

.actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 35px;

  @media #{$desktop} {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 8px;
}

.buttonGroup {
  width: 45px;
}

.dropdown {
  max-width: 270px;
}

.subTitle {
  font-size: $font-size;
  color: $theme-color;
  font-weight: $font-weight-bold;
  margin-bottom: 10px;
}

.cardsContainer {
  display: flex;
  position: relative;
  overflow: auto;

  @media #{$desktop} {
    overflow: visible;
  }
}

.fixedCard {
  flex: 0 0 33%;
  height: 350px;
  margin: 0;
  z-index: $z-index-over-base;
  border: 1px solid $shadow-gray;
}

.dropdownTextWrapper {
  display: flex;
}

.logo {
  width: 500px;
  background-image: url('assets/partners/lse-logo.png');
  height: 210px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  background-size: 100%;
}

.noContent {
  background-color: $gray3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray1;
  height: 350px;
  width: 100%;
  font-size: $font-size-sm;
  font-style: italic;
  padding: 20px;
}

.logoText {
  text-align: left;
  color: $theme-color;
  padding: 2rem;

  @media #{$tablet-landscape} {
    padding: 2.5rem 1.5rem;
  }
}

.dropdownWrapper {
  width: auto;
  margin-right: 10px;
}
