@import '~styles/layout.scss';

$loader-size: 60px;
$loader-size-mini: 15px;
$loader-border-size: 4px;
$loader-border-size-mini: 2px;
$loading-color: $theme-secondary;

.container {
  position: relative;
  min-height: 100%;
}

.light {
  background-color: $gray3;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: $loader-size/-2 0 0 $loader-size/-2;
  width: $loader-size;
  height: $loader-size;
}

.loaderMini {
  margin: $loader-size-mini/-2 0 0 $loader-size-mini/-2;
  width: $loader-size-mini;
  height: $loader-size-mini;

  > .loaderLight {
    width: $loader-size-mini;
    height: $loader-size-mini;
    border-radius: $loader-size-mini;
    box-shadow: 0 $loader-border-size-mini 6px $loading-color;
  }

  > .loaderTrack {
    width: $loader-size-mini;
    height: $loader-size-mini;
    border-radius: $loader-size-mini;
  }
}

.loaderLight {
  display: block;
  width: $loader-size;
  height: $loader-size;
  border-radius: $loader-size;
  box-shadow: 0 $loader-border-size 6px $loading-color;
  animation: rotate360 2s linear infinite;
}

.loaderTrack {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: $loader-size;
  height: $loader-size;
  border-radius: $loader-size;
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
