@import '~styles/layout.scss';

.col4 {
  @extend %grid;

  @include msGridColumns(1fr, 1fr, 1fr, 1fr);

  grid-template-columns: repeat(4, 1fr);
  align-items: end;
}

.tableMenuContainer {
  margin-bottom: 19px;
}

.tableMenu {
  display: flex;
  color: $dark-gray;
  font-size: $font-size-large;

  li {
    margin-right: 30px;
    list-style: none;

    &.singleTitle {
      margin-top: 30px;
    }

    &.active {
      color: $base-text;
    }
  }
}

.butonDetail {
  color: $dark-gray;
  grid-column: span 2;
  text-align: right;
  margin-bottom: 15px;
}

.searchBox,
.uploadButton {
  grid-column-end: -1;
  margin-top: 25px; // To fix IE margin top button grid
  -ms-grid-column: 7 !important; // To fix IE grid position
}
