@import '~styles/layout.scss';

.tableMenuContainer {
  @include columns((12));
  @include xy-gutters($gutter-position: ('top', 'bottom'));

  @media #{$tablet-landscape} {
    @include columns((5.6, 4, 2.4)); // Last column has to be 12/5

    align-items: center;
  }
}

.actionText {
  color: $gray1;
  margin-bottom: 20px;

  @media #{$tablet-landscape} {
    margin-bottom: 0;
    text-align: right;
  }
}
