@import '~styles/layout.scss';

.row {
  @include row((9, 3));

  height: $navbar-height;
}

.navigationWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.navigation {
  @include columns('auto');

  height: 100%;
  align-items: center;

  > * {
    flex-basis: auto;
  }
}
