@import '~styles/settings.scss';

.anchorNav {
  display: flex;
  align-items: center;
  margin-top: 15px;
  overflow-x: scroll;
  width: 110%;
  padding-left: 10%;
  position: relative;
  left: -10%;

  &::-webkit-scrollbar {
    display: none;
  }

  @media #{$tablet-landscape} {
    overflow-x: none;
    width: 100%;
    padding-left: 0;
    left: 0;
  }
}

.link {
  margin-right: 30px;
  padding: 15px 0;
  text-decoration: none;
  position: relative;
  min-width: 170px;
}
