@import '~styles/settings.scss';

.anchorContainer {
  position: relative;
  padding: 0;
  z-index: $z-index-base;
}

.anchorNav {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 100%;
  position: relative;

  @media #{$tablet-landscape} {
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  > ul {
    display: flex;
    margin: 15px 0 0;

    &::-webkit-scrollbar {
      width: 0;
    }

    > li {
      display: inline-flex;
      flex-shrink: 0;

      &:not(:first-child) {
        padding-left: $gutter-padding;
      }

      &:last-child {
        padding-right: $gutter-padding;
        @media #{$tablet-landscape} {
          padding-right: 0;
        }
      }
    }
  }
}

.link {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  text-decoration: none;
}
