@import '~styles/layout.scss';
@import '~styles/settings.scss';

.wrapper {
  position: relative;
  margin-bottom: 40px;
}

.filtersLayout {
  @include columns(6);

  margin-bottom: 40px;

  @media #{$tablet-landscape} {
    @include columns(3);
  }
}

.column {
  @include columns();
}

.buttonGroup {
  @media #{$tablet-landscape} {
    @include column-offset(3, $gutters: true);

    margin-top: 20px;
  }
}

.legend {
  position: absolute;
  left: 0;
  bottom: 12%;

  @media #{$tablet-landscape} {
    bottom: 0;
  }
}

:global .__react_component_tooltip {
  max-width: 250px;
}

.loader {
  min-height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: $z-index-loader;
}
