@import '~styles/layout.scss';
@import '~styles/settings.scss';

.wrapper {
  position: relative;
  margin-bottom: 40px;
}

.filtersLayout {
  @include columns(6);

  margin-bottom: 40px;

  @media #{$tablet-landscape} {
    align-items: flex-end;

    @include columns((3, 3, 1.5, 1.5));

    > :nth-child(3) {
      @include column-offset(3, $gutters: true);
    }
  }
}

.column {
  @include columns();
}

.buttonGroupContainer {
  @include columns(6);
}

.buttonGroup,
.shareButton {
  width: 100%;
}

.legend {
  position: absolute;
  left: 0;
  bottom: 12%;

  @media #{$tablet-landscape} {
    bottom: 0;
  }
}

:global .__react_component_tooltip {
  max-width: 250px;
}

.loader {
  min-height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: $z-index-loader;
}
