apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: {name}-staging
  name: {name}-staging
spec:
  revisionHistoryLimit: 0
  template:
    metadata:
      annotations:
        chaos.alpha.kubernetes.io/enabled: "true"
      labels:
        name: {name}-staging
    spec:
      tolerations:
      - key: "type"
        operator: "Equal"
        value: "webapps"
        effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: type
                operator: In
                values:
                - webapps
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: name
                  operator: In
                  values:
                  - {name}-staging
              topologyKey: kubernetes.io/hostname
      containers:
      - name: {name}-staging
        image: vizzuality/{name}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "0Mi"
            cpu: "0m"
        env:
          - name: RACK_ENV
            value: staging
          - name: RAILS_ENV
            value: staging
          - name: PORT
            value: "3000"
          - name: RAILS_SERVE_STATIC_FILES
            value: "true"
          - name: RAILS_LOG_TO_STDOUT
            value: "true"
          - name: POSTGRES_URL
            valueFrom:
                secretKeyRef:
                  name: dbsecrets
                  key: CW_POSTGRES_URL_STAGING
          - name: S3_BUCKET_NAME
            value: "climate-watch-dev"
          - name: AWS_REGION
            value: "eu-west-1"
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: CW_AWS_ACCESS_KEY
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: CW_AWS_SECRET_ACCESS_KEY
          - name: ESP_API
            value: "https://data.emissionspathways.org/api/v1"
          - name: S3_BUCKET_NAME
            value: "climate-watch-dev"
          - name: GFW_API
            value: "https://production-api.globalforestwatch.org"
          - name: CORS_WHITELIST
            value: "*"
          - name: APPSIGNAL_PUSH_API_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: CW_APP_SIGNAL_STAGING
          - name: HTTP_AUTH_USERNAME
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: CW_HTTP_AUTH_USERNAME_STAGING
          - name: HTTP_AUTH_PASSWORD
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: CW_HTTP_AUTH_PASSWORD_STAGING

        ports:
          - containerPort: 3000

      restartPolicy: Always
