@import '~styles/layout.scss';

.wrapper {
  border-bottom: 1px solid rgba($dark-gray, 0.3);
  padding-top: 50px;
  background-color: $light-gray;
  box-shadow: 0 10px 30px -10px $dark-gray inset;
}

.imageLeft {
  box-shadow: 0 0 21px -2px $dark-gray;
}

.paddedTeaser {
  padding-top: 200px;
}

.wideButton {
  width: 270px;
}
