@import '~styles/layout.scss';

.label {
  display: block;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  color: $theme-color;
  margin-bottom: 4px;
}

.infoContainer {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
}

.infoIcon {
  fill: $gray;
}

.loader {
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 1;
}

.multiSelectWrapper {
  position: relative;
  z-index: 1;
}

.values {
  color: $theme-color;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 11px;
  padding-right: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: none;
  z-index: 9;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mirrorX :global {
  .dropdown-menu {
    left: 0 !important;
  }
}

.multiSelect :global {
  position: relative;

  .dropdown-menu {
    .option-wrapper {
      padding: 12px 10px;
      position: relative;
    }
  }
}

.hasChildren :global {
  .react-selectize-control {
    opacity: 0;
  }
}

.unsearchable :global .react-selectize-search-field-and-selected-values .resizable-input {
  opacity: 0;
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $theme-color;
}

.checked {
  display: inline-block;
  background: $theme-color;
  border-radius: 50%;
  color: $theme-color !important;
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  position: absolute;
  right: 10px;
  top: calc(50% - 4px);
}

.nested {
  padding-left: 10px;
  padding-right: 15px;
}
