@import '~styles/settings.scss';

.input {
  border: 2.5px solid rgba(255, 255, 255, 0.5) !important;
  transition: background-color 150ms ease-out !important;
  background-color: transparent !important;
  color: $white !important;

  &::placeholder {
    color: $white !important;
  }

  &:focus {
    border: 2.5px solid rgba(255, 255, 255, 0.5) !important;
  }

  &:hover {
    border: $dropdown-border !important;
  }
}

.iconSearch {
  fill: $white !important;
}
