@import '~styles/settings.scss';

.input {
  background-color: transparent;
  border: solid 1px rgba($white, 0.5);
  box-shadow: none;
  color: $white;

  &::placeholder {
    color: $white;
  }
}

.iconSearch {
  fill: $white;
}
