@import '~styles/settings.scss';

.title {
  font-size: $font-size-x-large;
  font-weight: $font-weight-light;
  color: $theme-color;
  line-height: 1.2em;
}

.description {
  color: $theme-color;
  line-height: 1.4;
}
