@import '~styles/layout.scss';

.wrapper :global {
  position: relative;

  .dropdown-menu {
    border-top: 0 !important;
  }
}

.dropdownsLayout {
  @include columns(12);

  > * {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  @media #{$tablet-portrait} {
    @include columns(6);

    > * {
      @include xy-gutters($gutter-position: ('bottom'), $gutters: 0);
    }

    &.withDocumentSelector {
      @include columns((3, 4.5, 4.5));
    }
  }
}

.search {
  align-self: flex-end;
}

.searchIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
  top: 4px;
}
