@import '~styles/layout.scss';

.navbarMobile {
  @media #{$tablet-landscape} {
    display: none;
  }
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 $gutter-padding;
  background: $white;
  z-index: 21;
  box-shadow: 0 0 25px -0 rgba(0, 0, 0, 0.1);

  .logo {
    width: 150px;
  }
}

.navMenu {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: 60px;
  padding: $gutter-padding;
}
