@import '~styles/layout.scss';

.navbarMobile {
  position: fixed;
  width: 100%;
  height: $navbar-height;
  z-index: 23; // index inside global stacking context, dropdown items have 21
}

.navbar {
  @include row((10, 2));

  position: relative;
  height: 100%;
  background: $white;
  box-shadow: 0 0 15px -0 rgba(0, 0, 0, 0.1);

  .homeLink {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 150px;
  }

  > *:last-child { // hamburger inner positioning
    justify-content: flex-end;
  }
}

.navigation {
  @include row((11, 1), $gridDirection: 'vertical');

  height: calc(100vh - #{$gutter-padding * 2});
  background-color: white;

  @media #{$mobile-only} {
    @include row((10, 2), $gridDirection: 'vertical');
  }
}

.navMenu {
  display: flex;
  flex-direction: column;

  > * {
    position: relative;
    width: fit-content;
    margin-bottom: 25px;
  }
}

.toolsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{$mobile-only} {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.tools {
  border: none;

  > :first-child {
    margin-left: 0;
  }
}
