@import '~styles/layout.scss';

.navbarMobile {
  @media #{$tablet-landscape} {
    display: none;
  }
}

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 0 $gutter-padding;
  z-index: 21;

  .logo {
    width: 150px;
    opacity: 0;
    pointer-events: none;
  }

  &.scrolled,
  &.isOpen {
    background: $white;
    box-shadow: 0 0 25px -0 rgba(0, 0, 0, 0.1);

    .logo {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.hamburgerIcon {
  color: $white;
  fill: $white;

  &.isScrolled,
  &.isOpen {
    color: $theme-color;
    fill: $theme-color;
  }
}

.fullMenu {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100vh;
  background-color: white;
  top: 60px;
  padding: 0 $gutter-padding;

  .navMenu {
    height: calc(100vh - 120px);
    padding-top: $gutter-padding;
  }
}

.toolsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools {
  border: none;
}
