@import '~styles/layout.scss';

.button {
  cursor: pointer;
  height: 45px;

  &.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: $theme-secondary;
    width: 100%;
    height: 6px;
  }

  &:focus {
    outline: none;
  }
}
