@import '~styles/layout.scss';

.container {
  height: 100%;
  position: relative;
}

.map {
  height: 100%;
}

.legend {
  position: absolute;
  left: $gutter-padding;
  bottom: $gutter-padding;
}

.buttons {
  position: absolute;
  right: 0;
  bottom: $gutter-padding;
}
