@import '~styles/layout.scss';

.step {
  min-height: 25%;
  border-bottom: 1px solid #cbccd0;
  padding-bottom: 40px;
  margin-bottom: 30px;

  &:last-child {
    border: none;
  }
}

.stepContainer {
  @include row();
}

.stepTitle {
  padding-bottom: 30px;
  font-size: $font-size-large;
  color: $theme-color;
}

.stepSubTitle {
  padding-bottom: 10px;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  color: $theme-color;
}

.step1ListContainer {
  @include columns();

  @media #{$tablet-portrait} {
    @include columns(6);
  }

  @media #{$tablet-landscape} {
    @include columns(3);
  }
}

.step2ListContainer {
  @include columns();

  @media #{$tablet-portrait} {
    @include columns(6);
  }

  @media #{$tablet-landscape} {
    @include columns(4);
  }
}

.selectsContainer {
  @include columns();

  @media #{$tablet-portrait} {
    @include columns(4);
  }

  @media #{$tablet-landscape} {
    @include columns(3);

    > *:nth-child(4) {
      // force element to jump to next line
      margin-left: 1rem;
    }
  }
}

.selectsItem {
  position: relative;

  &Hidden {
    display: none;
  }
}

.cardContent {
  padding: 5px;
}

.cardTitle {
  font-size: 1em;
  font-weight: 600;
}

.cardTags {
  margin-top: 1.5em;
  font-size: 0.7em;
  color: #8f8fa0;
}

.step4Container {
  height: 100%;
}

.saveContainer {
  @include row(6);

  @media #{$tablet-landscape} {
    @include row(2);

    > *:nth-child(2) {
      @include column-offset($number: 8, $gutters: true);
    }
  }
}

.timeseriesLoader {
  min-height: 300px;
}

.dropDowns {
  margin-bottom: 1.2rem;
}

.chart,
.legend,
.fieldset {
  margin-bottom: 1rem;
}

.chart {
  margin-left: -1rem;
}

.fieldset {
  margin-top: 0.5em;
  padding-bottom: 0.5em;

  &.fieldsetContainer {
    border: 1px solid transparent;
    width: 60%;
  }
}

.openDropdownPadding {
  padding-bottom: 110px;
}

.infoContainer {
  position: absolute;
  right: 0;
  z-index: $z-index-loader;
  cursor: pointer;
}

.infoIcon {
  fill: $gray1;
}
