@import '~styles/settings';
@import '~styles/layout.scss';

.accordion {
  position: relative;
}

.header {
  width: 100%;
  padding: 20px 0;
  background-color: $white;
  color: $theme-color;
  font-size: $font-size-large;
  font-family: $font-family-1;
  border-bottom: solid 1px rgba($theme-color, 0.3);
  cursor: pointer;

  &:focus {
    outline: none;
  }

  .title {
    text-align: left;
    position: relative;
    padding-right: 30px;
  }
}

.subHeader {
  background-color: rgba($gray3, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: $font-size-m;

  .title {
    padding-left: 15px;
  }
}

.iconArrow {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  right: 10px;
  top: calc(50% - 5px);

  &.isOpen {
    transform: rotate(180deg);
  }
}

