@import '~styles/layout.scss';

.wrapper {
  border-bottom: solid 1px $gray2;
  border-top: solid 1px $gray2;
  min-height: 250px;
}

.embededWrapper {
  border: none;
}

.countryOverviewPadding {
  padding-bottom: 2em;
}

.col2 {
  @media #{$tablet-landscape} {
    @include columns((6, 6));
  }
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.actions {
  @include columns();
  @include xy-gutters($gutter-position: ('bottom'));

  @media #{$tablet-landscape} {
    @include columns((2.4, 3.6, 6));
  }
}

.subTitle {
  font-size: $font-size;
  color: $theme-color;
  font-weight: $font-weight-bold;
  margin-bottom: 10px;

  &.paddedLeft {
    padding-left: 15px;
  }
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;
  column-count: 1;
  column-gap: $gutter-padding;
  margin-bottom: 60px;
}

.subtitles {
  @include columns((9, 3));
}

.legacyCards {
  @include columns();

  > div {
    @include xy-gutters($gutter-position: ('top', 'bottom'));
  }

  @media #{$tablet-landscape} {
    @include columns((9, 3));
  }
}

.legacyCardsRowContainer {
  @include columns('shrink', $wrap: false);

  > div {
    width: 270px;
  }

  overflow: auto;

  @media #{$tablet-landscape} {
    @include columns((4, 4, 4));

    > div {
      width: 100%;
    }
  }
}

.cards {
  @include columns(12);

  margin-bottom: 40px;

  @media #{$tablet-portrait} {
    @include columns((6, 6, 12));
  }

  @media #{$tablet-landscape} {
    @include columns((4, 4, 4));
  }
}

.cardContent a {
  color: $theme-color;
  border-bottom: solid 1px $theme-secondary;
}

.metaTitle {
  font-size: $font-size-sm;
  color: $gray1;
  margin-bottom: 5px;
}

.targetText {
  display: block;
  font-size: $font-size;
  line-height: $line-height-small;
  color: $theme-color;
  margin-bottom: 15px;
}

.noContent {
  font-size: $font-size-sm;
  color: $gray1;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.list {
  background-color: white;
  padding: 16px 28px 24px;
}

.listItem {
  margin-bottom: 5px;
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-small;
  color: $theme-color;
  margin-top: 6px;
}

.loader {
  min-height: 400px;
}

.noContentWrapper {
  min-height: 150px;
}

.exploreBtn {
  margin-bottom: $gutter-padding;

  @media #{$tablet-landscape} {
    margin-bottom: 0;
  }
}

.alertContainer {
  @include row();

  .alert {
    text-align: right;
    margin: 20px 0 18px;

    .alertIcon {
      vertical-align: middle;
      margin-right: 8px;
    }

    .alertText {
      color: $gray1;
    }
  }
}
