@import '~styles/layout.scss';

.page {
  @media #{$mobile-only} {
    padding-top: $navbar-height;
  }
}

.anchorNav {
  @include row('shrink', $wrap: false);
}

.doubleFold {
  @include row();

  z-index: 2;

  @media #{$tablet-landscape} {
    @include row((5, 7));

    z-index: 0;
  }
}

.threeFold {
  @include columns();

  height: 100px;

  @media #{$tablet-portrait} {
    @include columns(6);

    height: auto;
    max-width: 100%;
  }

  @media #{$tablet-landscape} {
    @include columns((5, 3, 4));
  }
}

.backButton {
  margin-right: 20px;
}

.backIcon {
  fill: $white;
  width: 60px;
  height: 60px;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
