@import '~styles/layout.scss';

.anchorNav {
  @include row('shrink', $wrap: false);
}

.compareButtonContainer {
  @include row();

  .compareButton {
    width: 300px;
  }

  margin-bottom: 110px;
}

.title {
  @include row();
}

.viewDocumentButton {
  @include xy-gutters($gutter-position: ('bottom'), $gutters: $gutter-padding);

  @media #{$tablet-portrait} {
    @include xy-gutters($gutter-position: ('bottom'), $gutters: 0);
  }
}

.actionsContainer {
  @include row();

  z-index: $z-index-sticky;

  @include xy-gutters($gutter-position: ('bottom'), $gutters: $gutter-padding);

  @media #{$tablet-portrait} {
    @include row(6);
    @include xy-gutters($gutter-position: ('bottom'), $gutters: $gutter-padding);

    &.withSearch {
      @include row((6, 3, 3));
    }

    &.withoutBack {
      @include row((12, 6, 6));
      @include xy-gutters($gutter-position: ('bottom'), $gutters: $gutter-padding);

      &.withSearch {
        @include row(6);
        @include xy-gutters($gutter-position: ('bottom'), $gutters: $gutter-padding);
      }
    }
  }

  @media #{$tablet-landscape} {
    @include row((9, 3));

    &.withSearch {
      @include row((6, 3, 3));
    }

    &.withoutBack {
      @include row((6, 3, 3));

      &.withSearch {
        @include column-offset(6);
      }
    }

    z-index: $z-index-base;
  }
}

.countryDropdown {
  margin-bottom: 10px;

  @media #{$tablet-landscape} {
    margin-bottom: 0;
  }
}
