@import '~styles/layout.scss';

.wrapper {
  min-height: 865px;
  padding: ($gutter-padding + $gutter-padding / 2) 0;
  border-bottom: solid 1px $gray2;
}

.header {
  margin-bottom: 10px;
}

.cards {
  @media #{$mobile-only} {
    display: block;
  }

  @media #{$tablet-portrait} {
    display: block;
  }

  @media #{$tablet-landscape} {
    display: grid;

    grid-template-areas:
      "card1 card2 chart"
      "card3 card4 chart";
  }

  .squareCard1 {
    grid-area: card1;
  }

  .squareCard2 {
    grid-area: card2;
  }

  .squareCard3 {
    grid-area: card3;
  }

  .squareCard4 {
    grid-area: card4;
  }

  .chartCard {
    grid-area: chart;
  }
}

.cardData {
  height: 300px;
  min-height: auto;
}

.chartCardData {
  height: 600px;
}

.titleContainer {
  display: inline-flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;

  @include columns(12);
  @include xy-gutters($gutter-position: ('bottom'));
}

.paddedBottom {
  padding-bottom: 100px;
  min-height: 600px;
}

.tooltipTrigger {
  font-weight: $font-weight-bold;
}

.tooltip {
  min-width: 300px;
}

.loader {
  min-height: 600px;
}
