@import '~styles/layout.scss';

.gridContainer {
  border-bottom: 1px solid $gray2;
}

.grid {
  @include row(12);

  padding-top: $gutter-padding + $gutter-padding / 2;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.loading {
  min-height: 462px;
}

.cardsContainer {
  @include columns();

  @media #{$tablet-portrait} {
    @include columns((6, 6));
  }
}

.cardTitle {
  font-size: $font-size-large;
  font-weight: $font-weight;
}

.cardData {
  height: auto;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.statContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionIndicator {
  padding: 40px;
  text-align: center;
}

.actionIndicatorValue {
  font-size: $font-size-xl-large;
}

.actionIndicatorLabel {
  margin-top: 10px;
  font-size: $font-size-m;
}
