@import '~styles/layout.scss';

.gridContainer {
  border-bottom: 1px solid $gray2;
}

.grid {
  @include row(12);

  padding-top: $gutter-padding + $gutter-padding / 2;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.loading {
  min-height: 462px;
}
