
@import '~styles/layout.scss';
@import '~styles/settings.scss';

.page {
  @include row();

  margin-bottom: 50px;
}

.title {
  color: $theme-color;
  font-size: $font-size-large;
  font-weight: normal;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  margin: {
    top: 20px;
    bottom: 50px;
  }

  justify-content: space-between;
  align-items: flex-start;
}

.description {
  color: $theme-color;
  font-size: $font-size;
  max-width: 600px;
  margin-bottom: 14px;

  p {
    margin-bottom: 16px;
  }
}

.switchWrapper {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.switchOption {
  display: flex;
  align-items: center;
  font-weight: $font-weight-bold;
  font-size: $font-size-xs;
  line-height: $font-size-sm;
  letter-spacing: $letter-spacing-wide;
}

.switchSelected {
  background-color: $theme-color;
}

@media #{$tablet-landscape} {
  .descriptionWrapper {
    flex-direction: row;
    align-items: center;
  }

  .description {
    margin: 0 20px 0 0;
  }
}
