@import '~styles/settings.scss';
@import '~styles/layout.scss';

.content {
  margin-top: 45px;
  height: 700px;
}

.intro {
  display: inline-flex;
  justify-content: space-between;

  p {
    text-align: justify;
    width: 50%;
  }
}

.header {
  color: $theme-color;

  h2 {
    font-weight: 400;
    margin-bottom: 12px;
  }
}

.switch {
  height: max-content;
}

.switchSelected {
  background-color: $theme-color;
}

.navigationSection {
  @include columns((8,4));

  margin-bottom: 20px;
}

.fixedCard {
  height: 520px;
}

.fixedCardContentContainer {
  font-size: $font-size-s;
  min-height: unset;
  padding: 7px 13px;

  p {
    color: $manatee;
    margin: 0;
  }
}
// title: styles.fixedCardTitle,
.fixedCardData {
  padding: 37px 31px;
}
