@import '~styles/layout.scss';

.downloadButton {
  height: 45px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  font-family: $font-family-1;
  font-size: $font-size;
  text-transform: capitalize;
  color: $theme-color;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
  transition: box-shadow 150ms ease-out;
  min-width: 25px;
  background-color: $white;
}

