@import '~styles/layout.scss';

.fixed {
  position: fixed;
  z-index: 20;
}

.content {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  width: auto;
  line-height: $line-height-medium;

  .button {
    color: $theme-color;
    font-size: $font-size-s;
    height: 60px;
    align-items: center;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: $white;
    text-align: left;
    position: relative;
    transition: color 0.1s linear;
    font-weight: bold;

    &.active::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      right: 0;
      background-color: $theme-secondary;
      width: 100%;
      height: 3px;
    }

    &:focus {
      outline: none;
    }
  }
}
