@import '~styles/settings.scss';

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.name {
  color: $theme-color;
}

.value {
  margin-left: 30px;
}

.nameSection {
}
