@import '~styles/settings.scss';

.cardRow {
  background-color: $white;
  padding: 16px 28px 24px;

  &:not(:last-child) {
    border-bottom: 2px solid $shadow-gray;
  }

  & > * {
    margin-bottom: 6px;
  }

  &WithSubtitle > p {
    margin-left: 10px;
  }
}

.title {
  font-size: $font-size-s;
  color: $gray1;
}

.text {
  display: block;
  font-size: $font-size-sm;
  line-height: $line-height-small;
  color: $theme-color;
}
