@import '~styles/layout.scss';

.btnInfo {
  height: auto;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 10px;
  margin-bottom: 10px;
  fill: $theme-color;
  transition: fill 0.3s ease;

  &Active {
    fill: $theme-color;
  }
}
