@import '~styles/layout.scss';

.btnInfo {
  height: auto;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 10px;
  margin-bottom: 10px;
  fill: $gray;
  transition: fill 0.3s ease;

  &Active {
    fill: $theme-color;
  }

  &:hover {
    box-shadow: none !important;
    fill: $theme-color;
  }

  &.box {
    height: 45px;
    width: 45px;
    border: solid 1px $border-color;
    border-radius: 4px;
    padding: 0;
    box-shadow: none;
    fill: rgba($theme-color, 0.7);
    transition: fill 150ms ease-out;

    &:hover {
      box-shadow: none;
      fill: $theme-color;
    }
  }
}
