@import '~styles/settings.scss';

.toolsNav {
  display: flex;
  align-items: center;
  height: $navbar-height;
  border-left: solid 1px rgba($gray1, 0.5);
}

.shareButton {
  @media #{$desktop} {
    margin-left: 15px;
  }
}

.downloadButton {
  margin-left: 20px;
}

.iconButton {
  fill: $gray1;
  padding: 22px 15px 0;

  &.active {
    border-bottom: 3px solid $theme-secondary;
  }
}

.downloadIcon {
  margin-right: 5px;
}

.linkWithIcon {
  align-items: center;
  display: flex;
}

.link {
  color: $gray1;
  margin-left: 25px;
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  font-weight: $font-weight-bold;
  font-size: $font-size-s;

  svg {
    fill: $gray1;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.active::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    background-color: rgba($theme-color, 0.2);
    width: 100%;
    height: 3px;
  }
}

.linkActive::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  background-color: $theme-secondary;
  width: 100%;
  height: 3px;
}

.noWrap {
  white-space: nowrap;
}
