@import '~styles/settings.scss';

.toolsNav {
  display: flex;
  align-items: center;
  height: $navbar-height;
  border-left: solid 1px rgba($gray1, 0.5);
}

.shareButton {
  margin-left: 15px;
  background-color: transparent;
  padding: 0;

  > svg {
    height: 12px;
    fill: $theme-color;
  }

  &:hover {
    background-color: transparent;
  }
}

.downloadButton {
  margin-left: 20px;
}

.iconButton {
  fill: $theme-color;
  padding: 22px 15px 0;

  &.active {
    border-bottom: 3px solid $theme-secondary;
  }
}

.downloadIcon {
  margin-left: 10px;
  fill: $theme-color;
}

.titleWrapper {
  display: flex;
}

.title {
  text-transform: uppercase;
}

.linkWithIcon {
  align-items: center;
  display: flex;
}

.link {
  color: $theme-color;
  margin-left: 25px;
  text-decoration: none;
  position: relative;
  letter-spacing: $letter-spacing-wide;
  font-weight: $font-weight-bold;
  font-size: $font-size-s;

  &.disabled {
    cursor: not-allowed;
  }

  &.active::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    background-color: rgba($theme-color, 0.2);
    width: 100%;
    height: 6px;
  }
}

.linkActive::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  background-color: $theme-secondary;
  width: 100%;
  height: 6px;
}

.noWrap {
  white-space: nowrap;
}

.arrowIcon {
  display: none;
}

.myCWButton {
  text-transform: uppercase;
}
