@import '~styles/settings.scss';

.toolsNav {
  display: flex;
  align-items: center;
  height: $navbar-height;
  border-left: solid 1px rgba($gray, 0.5);
}

.shareButton {
  fill: $dark-gray;
  margin-left: 20px;
  padding: 17px 20px;

  &.active {
    border-bottom: 3px solid $theme-secondary;
  }
}

.link {
  color: $dark-gray;
  margin-left: 40px;
  text-decoration: none;
  position: relative;

  svg {
    fill: $dark-gray;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.active::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    background-color: rgba($theme-color, 0.2);
    width: 100%;
    height: 3px;
  }
}
