@import '~styles/layout.scss';

.visContainer {
  position: relative;
}

.visTitle {
  font-size: $font-size-large;
  font-weight: $font-weight;
  line-height: 1.38;
  color: $theme-color;
  text-align: left;
  margin-bottom: 15px;
}

.visActions {
  float: none;
  width: 120px;
  margin-bottom: 10px;
}

.visDescription {
  color: $theme-color;
  line-height: $line-height-medium;
  margin-top: 15px;
}
