@import '~styles/layout.scss';

.header {
  margin-bottom: 20px;
  padding-top: 20px;
}

.sdgs {
  @include clearFix();

  > div {
    float: left;
    width: calc(33.333333% + 1px);
  }

  margin-bottom: 40px;
}

.titleContainer {
  @extend %grid;

  @include msGridColumns(5fr, 1fr, 3fr 3fr);

  grid-template-columns: 5fr 1fr 3fr 3fr;
}

.descriptionContainer {
  display: flex;
  align-content: space-between;
  color: $theme-color;
  line-height: $line-height-medium;
  width: 50%;

  div {
    margin-right: 30px;
    width: 50%;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.tooltip {
  font-size: $font-size-s;
  color: $white;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tooltipTitle {
  margin-bottom: 10px;
}

.sectorSelector {
  padding-top: 15px;
}

.infoBtn {
  margin-top: 20px;
  margin-left: 45px;
}

.exploreBtn {
  margin-top: 20px;
}

.info {
  flex-basis: 100%;
}

.loader {
  min-height: 400px;
}
