@import '~styles/layout.scss';

$min-height: 450px;

.wrapper {
  position: relative;
  min-height: $min-height;
}

.accordion {
  margin-bottom: -1px;
  position: relative;
}

.loader {
  min-height: $min-height;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.noContent {
  font-size: $font-size-sm;
  color: $dark-gray;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $min-height;
}
