@import "~styles/layout.scss";

.tagsContainer {
  display: flex;
  gap: 10px;

  > div {
    @media #{$mobile-only} {
      max-width: 100%;
    }
  }

  li {
    @media #{$mobile-only} {
      max-width: 100%;
      height: auto !important;
      padding: 0 5px !important;
    }

    height: 24px;
  }

  p {
    margin: 0;
  }
}
