@import '~styles/layout.scss';

$min-height: 600px;

.col4 {
  @include columns((6, 6, 6, 6));

  > div {
    @include xy-gutters(30px, $gutter-position: 'bottom');
  }

  @media #{$tablet-landscape} {
    @include columns((20%, 20%, 20%, 20%, 20%));

    align-items: flex-end;
  }
}

.buttonGroup {
  display: inline-block;
  padding-bottom: 30px;
}

.colEnd {
  width: 180px;

  @media #{$tablet-landscape} {
    width: auto;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 20px;
  margin-top: 35px;
}

.chartWrapper {
  position: relative;
  min-height: $min-height;

  @media #{$tablet-landscape} {
    padding-bottom: 50px;
  }
}
