@import '~styles/layout.scss';

$min-height: 500px;

.titleContainer {
  @include columns((12, 12));

  @media #{$tablet-landscape} {
    @include columns((9.4, 2.5));
  }

  .colEnd {
    @media #{$tablet-landscape} {
      margin-top: $gutter-padding;
    }
  }

  &.containedButtonGroup {
    display: inline-block;
    width: 100%;

    .buttonGroup {
      float: right;
      width: 225px;
      margin: 0;
    }
  }
}

.buttonGroup {
  display: flex;
  padding-bottom: 30px;

  > div {
    width: 100%;
  }
}

.col4 {
  @include columns((6, 6, 6, 6, 8, 4));

  > div {
    @include xy-gutters(30px, $gutter-position: 'bottom');
  }

  @media #{$tablet-landscape} {
    @include columns((2.1, 2.1, 2.1, 2.1, 2.1, 1.4));

    align-items: flex-end;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 20px;
  margin-top: 35px;
}

.chartWrapper {
  position: relative;
  min-height: $min-height;

  @media #{$tablet-landscape} {
    padding-bottom: 50px;
  }
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  font-family: $font-family-1;
  font-size: $font-size-m;
  color: $theme-color;

  p {
    margin: 10px 0;
  }

  ul {
    list-style: initial;

    li {
      margin: 5px 0 5px 30px;
    }
  }
}
