@import '~styles/layout.scss';
@import '~styles/ui-extends.scss';

$min-height: 500px;

.titleContainer {
  @include columns((12, 12));

  margin: $gutter-padding 0;
  align-items: center;

  @media #{$tablet-landscape} {
    @include columns((8, 2, 2, 12));
  }

  &.containedButtonGroup {
    display: inline-block;
    width: 100%;

    .buttonGroupContainer {
      float: right;
      width: 152px;
      margin: 0;
    }
  }
}

.buttonGroupContainer {
  display: flex;
}

.buttonGroup {
  width: 100%;

  @media #{$tablet-landscape} {
    width: 150px;
  }
}

.shareButton {
  width: 120px;
}

.actionsContainer {
  @include columns((12,12));

  > * {
    @include xy-gutters($gutter-padding, $gutter-position: 'top');
  }

  @media #{$tablet-portrait} {
    @include columns((6, 6));
  }
}

.col4 {
  @include columns(12);

  > div {
    @include xy-gutters($gutter-padding, $gutter-position: 'bottom');
  }

  @media #{$tablet-portrait} {
    @include columns(6);

    align-items: flex-end;
  }

  @media #{$tablet-landscape} {
    @include columns((2.1, 2.1, 2.1, 2.1, 2.1, 1.4));

    &.newGHG {
      @include columns((1.8, 1.8, 1.8, 1.8, 1.8, 1.8, 1.2));
    }

    align-items: flex-end;
  }
}

.title {
  @extend %headline;

  font-size: $font-size-large;
  font-weight: $font-weight-semi-bold;
  color: $theme-color;
  line-height: 45px;
}

.bodyText {
  @extend %bodyText;

  color: $theme-color;
  margin-top: $gutter-padding;
}

.link {
  color: $theme-color-medium;
  text-decoration: underline;
}

.chartWrapper {
  position: relative;
  min-height: $min-height;

  @media #{$tablet-landscape} {
    padding-bottom: 50px;
  }
}

.messageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  font-family: $font-family-1;
  font-size: $font-size-m;
  color: $theme-color;

  p {
    margin: 10px 0;
  }

  ul {
    list-style: initial;

    li {
      margin: 5px 0 5px 30px;
    }
  }
}

:global .icons-dropdown {
  &.open {
    min-width: 240px;

    @media #{$tablet-landscape} {
      margin-left: -130px;
      background-color: $white;
    }
  }
}

.tagsWrapper {
  flex-wrap: wrap;
  overflow: visible;
  position: relative;
  height: unset;
}

.tags {
  position: relative;
  margin-top: $card-content-margin;
  flex-wrap: wrap;

  li {
    font-size: $font-size-xs;
    height: 30px;
    margin-bottom: $logos-top-bottom-margin;
  }
}
