@import '~styles/layout.scss';

$min-height: 600px;

.col4 {
  @extend %grid;

  align-items: end;
  margin-bottom: 15px;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 1em;

  @media #{$tablet-landscape} {
    @include msGridColumns(1fr, 1fr, 1fr, 1fr, 1fr);

    grid-template-columns: repeat(5, 1fr);
  }
}

.buttonGroup {
  display: inline-block;
  padding-bottom: 30px;
}

.colEnd {
  grid-column-end: -1;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 20px;
  margin-top: 35px;
}

.chartWrapper {
  position: relative;
  min-height: $min-height;

  @media #{$tablet-landscape} {
    padding-bottom: 50px;
  }
}
