@import '~styles/settings';

.input {
  font-size: 1rem;
  border-radius: 4px;
  border: $dropdown-border;

  &:focus {
    background-color: transparent;
  }

  &Failed {
    background-color: transparent;
  }
}
