@import '~styles/settings.scss';
@import '~styles/layout.scss';

.container {
  @include row(12);
  margin-top: $gutter-padding;
  margin-bottom: $gutter-padding;
}

.intro {
  @include columns((6 , 5));
  margin-bottom: 40px;

  > *:last-child {
    @include column-offset(1, $gutters: true);
  }
}


.header {
  color: $theme-color;
  font-weight: $font-weight;
  margin-bottom: 12px;
}

.introText {
  color: $theme-color;
}

.switchWrapper {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.switchOption {
  display: flex;
  align-items: center;
  font-weight: $font-weight-bold;
  font-size: $font-size-xs;
  line-height: $font-size-sm;
  letter-spacing: 1px;
}

.switchSelected {
  background-color: $theme-color;
}

.actionsContainer {
  @include columns((3, 5, 2));
  align-items: flex-end;

  > *:last-child {
    @include column-offset(2, $gutters: true);
  }
}
.timelineWrapper {
  .label {
    font-size: $font-size-s;
    font-weight: $font-weight-bold;
    color: $theme-color;
  }
}
.dataContainer {
  display: flex;
  flex-direction: column;
  height: 45px;
  padding-top: 5px;
  justify-content: space-around;
}

.timelineContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.track {
  position: relative;
  height: 4px;
  width: 470px;
  border-radius: 4px;
  background-color: $lighter-gray;
}

.marker {
  position: relative;
  left: 0;
  top: -8px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: $white;
  border: 1px solid $lighter-gray;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.09);

  &::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: $theme-color;
    border-radius: 4px;
    left: 6px;
    top: 6px;
  }
}

.year {
  font-size: $font-size-s;
  font-weight: $font-weight;
  color: $manatee;
}

.yearSelected {
  color: $theme-color;
  font-weight: $font-weight-bold;
}


.btnGroup {
  width: 100%;
}
