@import '~styles/layout.scss';
@import '~styles/settings.scss';

.section {
  padding: 50px 0 $gutter-padding 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: $gutter-padding;
}

.partners {
  @include clearFix();
  @include columns(12);

  > * {
    @include xy-gutters($gutter-position: ('bottom'), $gutters: $gutter-padding * 4);
  }

  @media #{$tablet-landscape} {
    @include columns(4);
  }

  .partner {
    .link {
      display: flex;
      align-items: center;
      height: 80px;

      img:global {
        max-width: 190px;
        max-height: 100%;
        width: auto;

        &.large {
          max-width: 230px;
        }

        &.veryLarge {
          max-width: 260px;
        }
      }

      .linkLabel {
        color: $theme-color;
        background-image: linear-gradient(to right, $theme-secondary 100%, transparent 100%);
        background-position: 0 17px;
        background-repeat: repeat-x;
        background-size: 10px 2px;
      }
    }

    .description {
      margin-top: 10px;
      font-size: $font-size;
      color: $dark-gray;
    }
  }

  &.col4 {
    @include columns(12);

    @media #{$tablet-landscape} {
      @include columns(3);
    }
  }

  &.additionalData {
    @include columns(12);

    .partner {
      @include xy-gutters($gutter-position: ('bottom'), $gutters: $gutter-padding);
    }

    @media #{$tablet-landscape} {
      @include columns(3);
    }

    .link {
      display: inline-block;
    }
  }
}
