@import '~styles/ui-extends.scss';
@import '~styles/layout.scss';

.container {
  background-color: $white;
  padding: 70px 0 120px;

  @media #{$desktop} {
    padding: 70px 0;
  }
}

.carouselWrapper {
  @include row();

  :global .slick-active {
    z-index: $z-index-sticky;
  }

  @media #{$tablet-landscape} {
    @include row(6);
  }
}

.slideWrapper {
  @media #{$tablet-landscape} {
    padding: 20px 40px 0;
  }
}

.slideTitle {
  font-weight: $font-weight-light;
  font-size: $font-size-x-large;
  color: $theme-color;

  @media #{$tablet-portrait} {
    width: 445px;
  }
}

.slideList {
  padding: 30px 0 0 33px;
  list-style: none;
  counter-reset: list-counter;

  > li {
    @extend %bodyText;

    color: $theme-color;
    counter-increment: list-counter;
    position: relative;
    padding-bottom: 45px;
    line-height: 26px;

    &::before {
      content: counter(list-counter) "";
      font-family: $font-family-1;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -35px;
      top: 0;
      color: $theme-color;
      font-weight: $font-weight-bold;
      border: 1px solid $gray2;
      width: 26px;
      height: 26px;
      border-radius: 13px;
    }

    a {
      color: $theme-color;
      font-weight: $font-weight-bold;
      position: relative;
      display: inline-block;
      text-shadow: 1px 1px $white, -1px 1px $white, 0 0 $white, 0 0 $white;
      box-shadow: inset 0 -0.22em $white, inset 0 -0.3em $theme-color;
    }
  }
}

.carouselImage {
  height: 640px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.userIcon {
  background-color: $gray2;
  width: 48px;
  height: 48px;
  padding: 3px;
  border-radius: 30px;
}

:global .userCasesPaging {
  display: flex !important;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  position: absolute;
  bottom: -90px;

  @media #{$tablet-landscape} {
    padding-left: 40px;
  }

  @media #{$desktop} {
    bottom: 2px;
    padding-left: 40px;
  }

  > li {
    cursor: pointer;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      height: 100px;
      padding: 10px;

      p {
        font-size: $font-size-s;
        color: $theme-color;
        opacity: 0.5;
        text-align: center;
        margin: 0;
      }
    }
  }

  .slick-active {
    > div {
      border: 1px solid $theme-secondary;

      svg {
        background-color: $theme-secondary;
      }

      p {
        color: $theme-color;
        opacity: 1;
      }
    }
  }
}
