@import "~styles/layout.scss";

.wrapper {
  position: relative;
}

.summary {
  .summaryHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 34px;
    gap: 8px;
  }
  h2 {
    font-size: $font-size-large;
    color: $theme-color;
    font-weight: $font-weight;
  }
}

.buttonGroup {
  width: auto;
  min-width: 148px;
  float: right;

  .containerControls & {
    @media #{$tablet-portrait} {
      margin-top: 0;
      width: 100%;
      min-width: 0;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-block: 45px 30px;
  row-gap: 6px;
  column-gap: 32px;
  @media #{$mobile-only} {
    column-gap: 30px; }
  @media #{$tablet-landscape} {
    grid-template-columns: repeat(4, 235px);
    column-gap: 52px;
  }

  p {
    display: flex;
    align-items: center;
    flex-direction: column;
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      @media #{$tablet-portrait} {
        font-size: $font-size-large;
      }
      font-size: $font-size-m;
      padding-bottom: 7px;
      justify-content: end;
      font-weight: $font-weight-bold;
    }

    span {
      font-size: $font-size-sm
    }
  }

  .bigCard {
    @media #{$tablet-portrait} {
      font-size: 72px;
      height: 103px;
    }
    font-size: 50px;
    background-color: $white;
    font-weight: $font-weight-bold;
  }

  .smallCard {
    height: 34px;
    font-size: 20px;
    background-color: $white;
    font-weight: $font-weight-bold;
  }

  .submittedEnhanced {
    color: $chart-color-4;
    justify-content: center;
  }

  .submitted {
    color: $theme-color-medium;
    justify-content: center;
  }

  .notSubmitted {
    color: $chart-gray-color-1;
    justify-content: center;
  }
}

.ndc2025TrackerChart {
  width: 100%;

  .title {
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
    gap: 16px;
    h3 {
      font-size: $font-size;
      font-weight: $font-weight;
      color: black;
      font-style: italic;
    }

    .switchTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;

      > span {
        font-size: $font-size;
        font-weight: $font-weight;
        color: black;
      }

      > div {
        display: flex;
        align-items: center;
        gap: 6px;

        span {
          font-size: $font-size-sm;
          font-weight: $font-weight-bold;
          color: $theme-color;
        }
      }

      .switchWrapper {
        width: 28px;
        height: 16px;
        padding: 2px;
        background: $theme-color;
        border-color: $theme-color;
        justify-content: space-between;

        label {
          padding: 1px 5px;
        }
      }

      .switchSelected {
        background: $white;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
      }
    }
  }
}

.barChart {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.barChartBar {
  fill: $chart-gray-color-1;
  height: 50px;
}

.submittedEnhanced {
  fill: $chart-color-4;
  stroke: $white;
}

.submitted {
  fill: $theme-color-medium;
  stroke: $white;
}

.notSubmitted {
  fill: $chart-gray-color-1;
  stroke: $white;
}

.barChartBarHovered {
  filter: brightness(1.5);
}

.chartBarAxis {
  display: none;
}

.barChartTooltip {
  background-color: $white;
  border: 1px solid $chart-gray-color-1;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  z-index: 100;

  p {
    margin-top: 4px;

    &:first-child {
      font-weight: 600;
    }
  }
}
