@import '../../styles/settings';

.search {
  position: relative;
}

.input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 5px 15px 0 rgba(71, 44, 184, 0.1);
  color: $theme-color;
  border: 0;
  padding: 0 40px 0 15px;
  font-size: $font-size;
  font-family: $font-family-2;

  &::placeholder {
    color: rgba($theme-color, 0.5);
    font-style: italic;
  }

  &:focus {
    outline: none;
  }
}

.iconSearch {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}
