@import '~styles/settings';

.search {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.input {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background-color: $white;
  color: $theme-color;
  border: $dropdown-border;
  padding: 0 40px 0 15px;
  font-size: $font-size;
  font-family: $font-family-1;
  transition: box-shadow 150ms ease-out;

  &::placeholder {
    color: $theme-color-intense;
    font-style: italic;
  }

  &:focus {
    outline: none;
    border: 2px solid $link-color;
  }

  &:disabled {
    opacity: 50%;
  }
}

.iconSearch {
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 50px;
  height: 50px;
  fill: $ebony-clay;
}
