@import '~styles/layout.scss';

.footer {
  padding-top: 20px;
}

.gray {
  background-color: $light-gray;
}

.border {
  border-top: solid 1px $border-color;
  padding-top: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 10px;
}

.partnersContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 85%;
  justify-content: flex-start;
  overflow: auto;
}

.partnersContainer::-webkit-scrollbar {
  display: none;
}

.logoContainer {
  max-width: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: $gutter-padding;
  margin-bottom: $gutter-padding;
}

.logo {
  margin-right: $logos-right-margin;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
  }
}

.defaultLogo {
  width: 40px;
}

.rectangular {
  width: 50px;
}

.narrow {
  width: 85px;
}

.narrower {
  width: 120px;
}

.contactContainer {
  display: flex;
  align-items: center;
}

.contact {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $dark-gray;
  margin-right: 10px;
  min-width: 90px;
}
