@import '~styles/layout.scss';

.col6 {
  @extend %grid;

  margin-bottom: 10px;

  @media #{$tablet-landscape} {
    @include msGridColumns(1fr, 1fr, 1fr, 1fr, 1fr, 1fr);

    grid-template-columns: repeat(6, 1fr);
  }
}

.col3 {
  @extend %grid;

  margin-bottom: 10px;

  @media #{$tablet-landscape} {
    @include msGridColumns(1fr, 1fr, 1fr);

    grid-template-columns: repeat(3, 1fr);
  }
}

.loader {
  min-height: 200px;
}

.ndcContentOverview {
  min-height: 350px;
}

.countryOverview {
  color: $theme-color;
  line-height: $line-height-medium;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 20px;
  margin-top: 35px;
  grid-column-start: span 3;
}

.colEnd {
  grid-column-end: -1;
  align-self: flex-end;
}

.overviewText {
  margin-bottom: 0.3em;
}
