@import '~styles/settings.scss';
@import '~styles/layout.scss';

.header {
  margin-bottom: $gutter-padding;
  background-color: $gray3;
  box-shadow: inset 0 33px 30px -20px rgba(0, 0, 0, 0.1);
}

.introWrapper {
  @include row();
}

.intro {
  .title {
    color: $theme-color;
  }

  .description {
    color: $theme-color;
  }
}

.anchorNav {
  @include row('shrink', $wrap: false);
}

.button {
  border-bottom: none;
}
