@import '~styles/layout.scss';
@import '~styles/settings.scss';

.col4 {
  @extend %grid;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: end;

  @media #{$tablet-landscape} {
    @include msGridColumns(1fr, 1fr, 1fr, 1fr);

    grid-template-columns: repeat(4, 1fr);
  }
}

.searchBox {
  grid-column: 1 / 3;

  @media #{$tablet-landscape} {
    grid-column: 4;
  }
}

.noContent {
  margin-top: 25px;
}
