@import '~styles/settings.scss';
@import '~styles/layout.scss';

.container {
  width: 100%;
  margin-top: $gutter-padding;
  margin-bottom: $gutter-padding;
}

.cardContainer {
  display: block;
  padding: 15px 30px;
}

.chartContainer {
  margin: 30px 0;
}

.legend {
  margin-top: 15px;
}

.chart {
  margin-top: -50px;
  margin-right: 50px;
}

.tag {
  border: none;
  box-shadow: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: $font-size-sm;
  color: $gray1;
  flex-grow: 0;
}

.label {
  padding: 5px 0;
  margin-right: 8px;
  width: max-content;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.card {
  height: 100%;
  width: 100%;
}

.data {
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}

.title {
  max-width: 500px;
  color: $gray1;
  font-size: $font-size;
  line-height: 26px;
}

.yearData {
  position: absolute;
  color: $gray1;
  right: 30px;
  bottom: 20px;
  font-size: $font-size-s;

  span {
    color: $theme-color;
  }
}

.actionsContainer {
  > * {
    width: 100%;
    margin-bottom: 20px;
  }
}

.dropdown {
  background-color: $white;
}

.contentContainer {
  padding: 15px 30px;
}

@media #{$tablet-portrait} {
  .chartContainer {
    margin-bottom: 0;
  }

  .actionsContainer {
    @include columns(6,6);

    > * {
      margin-bottom: 0;
      max-width: 250px;
    }
  }
}

@media #{$tablet-landscape} {
  .actionsContainer {
    @include columns(3,3,6);
  }
}
