@import "~styles/layout.scss";

.chartContainerCountry {
  //position: relative;
  //padding: 0 14px;

  svg {
    //overflow: visible;

    text {
      font-family: $font-family-1;
      font-size: $font-size-s;
    }
  }
}
