@import '~styles/layout.scss';

.anchorNav {
  @include row('shrink', $wrap: false);
}

.title {
  margin-bottom: 60px;
}

/* autoprefixer grid: autoplace */

.filters {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 16px;
  width: 100%;

  @media #{$tablet-portrait} {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }

  @media #{$tablet-landscape} {
    grid-template-columns: 0.6fr repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". filter-1 filter-2 filter-3"; /* stylelint-disable-line declaration-block-no-redundant-longhand-properties */
    margin: 0;
    min-height: 174px;

    > :nth-child(1) {
      grid-area: filter-1;
    }

    > :nth-child(2) {
      grid-area: filter-2;
    }

    > :nth-child(3) {
      grid-area: filter-3;
    }
  }
}

.accordions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.filter {
  padding: 8px 0;

  @media #{$tablet-landscape} {
    padding: 32px 22px;

    &:not(:last-child) {
      border-right: 1px solid $gray2;
    }
  }
}

.dropdown {
  @media #{$tablet-landscape} {
    margin-bottom: 20px;
  }

  :global {
    .react-selectize-control {
      border: none !important;
      padding-left: 0 !important;
    }

    .value-wrapper {
      font-weight: bold;
      font-size: $font-size-large;
    }

    .react-selectize-placeholder {
      font-size: $font-size-large;
      font-weight: bold;
    }
  }
}
