@import '~styles/layout.scss';

.card {
  transition: box-shadow 150ms ease-out;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px rgba(26, 28, 34, 0.1);
  display: inline-block;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
  }
}

.cardTitle {
  padding: 0 10px;
  margin: 20px 0 10px;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  line-height: 1.38;
  color: $theme-color;
}

.cardContent {
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  line-height: 1.63;
  color: $dark-gray;
}

.cardImage {
  background-image: linear-gradient(to bottom, rgba(27, 59, 90, 0), #1b3b5a), linear-gradient(rgba(71, 44, 184, 0.2), rgba(71, 44, 184, 0.2));
  background-blend-mode: normal, hue;
}
