@import '~styles/layout.scss';

.card {
  display: flex;
  flex-direction: column;
  transition: box-shadow 150ms ease-out;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
  border: solid 1px $gray2;
  min-height: 270px;
  min-width: 270px;
  max-width: 370px;
  width: 100%;
  padding: 20px;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
  }
}

.cardTitle {
  margin: 10px 0;
  font-size: $font-size;
  font-weight: $font-weight-bold;
  line-height: 1.38;
  color: $theme-color;
}

.cardContent {
  font-size: $font-size;
  font-weight: $font-weight-bold;
  line-height: 1.63;
  color: $gray1;
  height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardImage {
  background-image: linear-gradient(to bottom, rgba(27, 59, 90, 0), #1b3b5a), linear-gradient(rgba(71, 44, 184, 0.2), rgba(71, 44, 184, 0.2));
  background-blend-mode: normal, hue;
}

.cardDelete {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  fill: $gray1;
}
