@import '~styles/settings.scss';

.tile {
  border: 1px solid $theme-secondary;
  box-shadow: 6px 6px 13px 0 #c6c6c6;
  color: $theme-color;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: $font-family-1;
  height: 254px;
  padding: 15px 26px 30px 15px;
  transition: 0.1s ease-in-out;
  width: 370px;

  &:hover{
    background: $theme-secondary;
    transform: scale(1.1);

    .link{
      visibility: visible;
    }
  }
}

.details {
  font-size: $font-size;
  margin-bottom: 16px;

  span+span:before {
    content: '|';
    color: $theme-color;
    margin: 0 10px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.title {
  font-size: $font-size-large;
  padding: 0 4px;

}

.link {
  padding: 0 4px;
  visibility: hidden;
}
