.dropdownOptionWithArrow :global {
  .highlight {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: calc(50% - 7px);
      bottom: 0;
      width: 14px;
      height: 14px;
      background-position: center;
      background-image: url('../../../assets/icon-pngs/accordion-arrow.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
    }
  }
}
