.multiSelectTable :global {
  .react-selectize-control {
    opacity: 0;
  }

  .dropdown-menu {
    width: 200px !important;
    right: 0;
    margin-top: 1px !important;
  }

  .values {
    padding-right: 0;
  }
}
