@import '~styles/settings.scss';

$height: 45px;

.dropdown :global {
  width: 100%;
  position: relative;

  .react-selectize {
    color: $theme-color;

    &.root-node {
      position: relative;
      width: 100%;

      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        background-color: $light-gray;

        .react-selectize-toggle-button-container {
          opacity: 0;
        }
      }

      .react-selectize-control {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;
        padding-left: 10px;
        padding-right: 5px;
        height: $height;
        overflow: hidden;
        transition: box-shadow 150ms ease-out;

        &:hover {
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
        }

        .react-selectize-placeholder {
          line-height: 45px;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: absolute;
          max-width: calc(100% - 56px);
        }

        .react-selectize-search-field-and-selected-values {
          display: flex;
          min-height: $height;
          max-height: $height;
          flex-grow: 1;
          flex-wrap: wrap;
          overflow: hidden;
          position: relative;
          width: 100%;

          .simple-value {
            display: table;
            table-layout: fixed;
            width: 100%;
          }

          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
          }

          .resizable-input {
            background: none;
            border: none;
            outline: none;
            font-size: $font-size;
            font-family: $font-family-1;
            padding: 6px 0;
            vertical-align: middle;
            width: 0;
            position: absolute;
            top: calc(50% - #{$font-size});
            color: $theme-color;
          }

          .value-wrapper {
            display: flex;
            align-items: flex-start;
            line-height: $height;
            width: 100%;
          }
        }

        .react-selectize-reset-button-container,
        .react-selectize-toggle-button-container {
          flex-grow: 0;
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          height: $height;
        }

        .react-selectize-reset-button-container {
          width: 16px;
        }

        .react-selectize-toggle-button-container {
          width: 32px;
        }

        .react-selectize-reset-button-container:hover .react-selectize-reset-button path {
          stroke: #c0392b;
        }

        .react-selectize-reset-button path {
          transition: stroke 0.5s 0s ease;
          stroke: #999;
          stroke-linecap: square;
          stroke-linejoin: mitter;
        }

        .react-selectize-toggle-button path {
          fill: #999;
        }
      }
    }

    &.dropdown-menu-wrapper {
      position: absolute;

      &.tethered {
        min-width: 100%;
      }

      &:not(.tethered) {
        width: 100%;
      }
    }

    &.dropdown-menu {
      box-sizing: border-box;
      overflow: auto;
      position: absolute;
      max-height: 200px;
      z-index: 21;

      &.tethered {
        min-width: 100%;
      }

      &:not(.tethered) {
        width: 100%;
      }

      .groups.as-columns {
        display: flex;

        > div {
          flex: 1;
        }
      }

      .option-wrapper {
        cursor: pointer;
        outline: none;
      }
    }
  }

  .multi-select.react-selectize.root-node .simple-value {
    display: inline-block;
    // margin: 2px;
    vertical-align: middle;

    span {
      display: inline-block;
      padding: 2px 5px 4px;
      vertical-align: center;
    }
  }

  .simple-select.react-selectize.root-node .simple-value {
    // margin: 2px;

    span {
      display: inline-block;
      vertical-align: center;
    }
  }

  .react-selectize {
    font-family: $font-family-1;

    &.root-node {
      .react-selectize-control {
        background-color: transparent;
        border: solid 1px $border-color;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
        border-radius: 4px;
        font-size: $font-size;

        .react-selectize-placeholder {
          color: #aaa;
        }
      }

      &.flipped {
        .react-selectize-toggle-button-container {
          transform: rotate(180deg);
        }
      }

      &.open {
        &.flipped {
          .react-selectize-control {
            border-radius: 0 0 4px 4px;
          }

          .dropdown-menu {
            bottom: $height - 1;
          }

          .react-selectize-toggle-button-container {
            transform: rotate(0);
          }
        }

        &:not(.flipped) .react-selectize-control {
          border-radius: 4px 4px 0 0;
        }

        .react-selectize-toggle-button-container {
          transform: rotate(180deg);
        }
      }
    }

    &.dropdown-menu-wrapper {
      overflow: hidden;

      .dropdown-menu {
        &.custom-enter-active,
        &.custom-leave-active {
          transition: transform 0.2s 0s ease;
        }

        &.flipped {
          &.custom-enter {
            transform: translateY(100%);
          }

          &.custom-enter-active,
          &.custom-leave {
            transform: translateY(0%);
          }

          &.custom-leave-active {
            transform: translateY(100%);
          }
        }

        &:not(.flipped) {
          &.custom-enter {
            transform: translateY(-100%);
          }

          &.custom-enter-active,
          &.custom-leave {
            transform: translateY(0%);
          }

          &.custom-leave-active {
            transform: translateY(-100%);
          }
        }
      }
    }

    &.dropdown-menu {
      background: $white;
      color: $theme-color-light;
      border: solid 1px $border-color;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
      margin-top: -1px;

      &.flipped {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:not(.flipped) {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .no-results-found {
        color: #aaa;
        padding: 12px 10px;
      }

      .simple-group-title {
        border-bottom: solid 1px #e5e5eb;
        border-top: solid 1px #e5e5eb;
        padding: 12px 10px;
        text-transform: uppercase;
        font-size: $font-size-s;
        font-weight: $font-weight-bold;
      }

      .groups {
        .option-wrapper {
          .simple-option {
            padding-left: 20px;

            &.-search {
              padding-left: 10px;
            }
          }
        }
      }

      .option-wrapper {
        border-bottom: solid 1px #e5e5eb;
        color: $dark-gray;

        &:last-child {
          border-bottom: 0;
        }

        &.highlight {
          color: $theme-color;
        }

        .simple-option {
          cursor: pointer;
          padding: 12px 30px 12px 10px;

          &.not-selectable {
            background-color: #f8f8f8;
            color: #999;
            cursor: default;
            font-style: oblique;
            text-shadow: 0 1px 0 #fff;
          }
        }
      }
    }
  }

  .multi-select.react-selectize.root-node .simple-value {
    background: #f2f9fc;
    border: 1px solid $border-color;
    border-radius: 2px;
    color: #08c;
  }
}

.white :global {
  .react-selectize-control {
    border-color: rgba($white, 0.5) !important;
    color: $white !important;
    transition: border-color 150ms ease-out;

    &:hover {
      border-color: $white !important;
    }
  }

  .react-selectize-placeholder {
    color: $white !important;
  }

  .react-selectize-toggle-button-container {
    transform: rotate(0deg) !important;
  }

  .open {
    .react-selectize-control {
      background: $white !important;
    }
  }
}

.transparent :global {
  .react-selectize-control {
    border-color: transparent !important;
    height: 60px !important;
    box-shadow: none !important;

    &:hover {
      box-shadow: 0 !important;
    }
  }

  .dropdown-menu {
    margin-left: -1px !important;
    width: calc(100% + 2px) !important;
    background: $white !important;
  }
}

.plain :global {
  .react-selectize-control {
    background-color: $white !important;

    @media #{$desktop} {
      background-color: transparent !important;
    }
  }

  .dropdown-menu {
    background: $white !important;
  }

  .react-selectize-placeholder {
    color: $theme-color !important;

    @media #{$desktop} {
      color: $gray !important;
    }
  }

  .react-selectize-control {
    transition: background-color 150ms ease-out;

    &:hover {
      background-color: $white !important;
    }
  }

  .withSearch {
    .react-selectize-toggle-button-container {
      transform: rotate(0deg) !important;
    }
  }

  .open {
    .react-selectize-control {
      background: $white !important;
    }

    .react-selectize-placeholder {
      color: $theme-color !important;
    }
  }
}

.dark :global {
  .react-selectize-control {
    color: $theme-color !important;
  }

  .react-selectize-placeholder {
    color: $theme-color !important;
  }

  .react-selectize-toggle-button-container {
    transform: rotate(0deg) !important;
  }

  .dropdown-menu {
    border: solid 1px $border-color !important;
  }

  .open {
    .react-selectize-control {
      background: $white !important;
    }
  }
}

.blueBorder :global {
  .react-selectize {
    &:not(.disabled) {
      .react-selectize-control {
        border-color: $theme-color !important;
        border-width: 2px !important;
      }
    }
  }
}
