@import '~styles/layout.scss';

.header {
  background-color: $light-gray;
  margin: -$gutter-padding;
  margin-bottom: $gutter-padding;
  padding: $gutter-padding;
}

.headerTitle {
  font-size: $font-size-large;
  color: $theme-color;
  margin-bottom: $gutter-padding;
}

.closeBtn {
  position: absolute;
  top: $gutter-padding;
  right: $gutter-padding;
  border: solid 1px rgba(202, 204, 208, 0.85);
}
