@import '~styles/layout.scss';
@import '~styles/settings.scss';

.anchorNav {
  @include row('shrink', $wrap: false);
}

.wrapper {
  padding-top: $gutter-padding;
  padding-bottom: $gutter-padding;
  background-color: $white;
}

.headerLayout {
  @include columns(12);
}

.containedHeader {
  display: flex;
  margin-top: 10px;

  > div {
    flex: 1;
  }
}

.searchWrapper {
  margin-bottom: 64px;

  @include columns(12);

  :first-child {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  @media #{$tablet-landscape} {
    @include columns((3, 6));

    :first-child {
      @include xy-gutters($gutter-position: ('bottom'), $gutters: 0);
    }
  }
}
