@import '~styles/layout.scss';
@import '~styles/settings.scss';

$min-height: 475px;

.col4 {
  @extend %grid;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  margin-bottom: 20px;
  align-items: end;

  @media #{$tablet-landscape} {
    @include msGridColumns(1fr, 1fr, 1fr, 1fr);

    grid-template-columns: repeat(4, 1fr);
    align-items: end;
  }
}

.searchBox {
  grid-column-end: -1;
}

.loader {
  min-height: $min-height;
}

.noContent {
  min-height: $min-height;
}
