@import '~styles/layout.scss';
@import '~styles/settings.scss';

$min-height: 475px;

.filtersLayout {
  @include columns(6);
  @include xy-gutters($gutter-position: ('bottom'));

  @media #{$tablet-landscape} {
    @include columns(3);
  }
}

.col2 {
  @include columns(6);

  > * {
    @include xy-gutters($gutter-position: ('bottom'));
  }
}

.searchBox {
  @media #{$tablet-landscape} {
    margin-top: 20px;
  }
}

.loader {
  min-height: $min-height;
}

.noContent {
  min-height: $min-height;
}
