@import '~styles/settings';
@import '~styles/layout';

.container {
  @include row((3, 9));
}

.faqContentContainer {
  padding: $gutter-padding 0;
  min-height: calc(100vh - 270px); // 270 is the added height of navbar heading and footer
}

.questionTitleWrapper {
  margin-bottom: 15px;
}

.questionTitle {
  color: $theme-color;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.questionAnswer {
  color: $theme-color;
  font-size: $font-size-m;
  padding-bottom: $gutter-padding;
  line-height: $line-height-medium;
}

.htmlAnswer {
  color: $theme-color;
  font-size: $font-size-m;
  padding-bottom: $gutter-padding;
  line-height: $line-height-medium;

  a {
    border-bottom: solid 1px $theme-secondary;
    color: $theme-color;
  }

  ul {
    margin-top: 10px;
  }

  li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;

    &::before {
      content: "-";
      position: absolute;
      left: 5px;
    }
  }
}
