@import '~styles/layout.scss';

.dropDownsLayout {
  @include columns(6);

  > *:first-child {
    @include xy-gutters($gutter-position: ('bottom'));
  }

  margin-bottom: $gutter-padding;

  @media #{$tablet-landscape} {
    @include columns((2, 2, 2, 2, 2));

    > *:first-child {
      @include xy-gutters($gutter-position: ('bottom'), $gutters: 0);
    }

    align-items: flex-end;

    > :nth-child(4) {
      @include column-offset(2);
    }
  }
}

.mobileActionButtonsLayout {
  @include columns(6);

  @media #{$mobile-only} {
    @include columns();

    > div {
      @include xy-gutters($gutter-position: ('bottom'));
    }
  }

  margin-bottom: $gutter-padding;
}

.section {
  border-bottom: 1px solid $gray2;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 20px;
  margin-top: 35px;
}

.chartWrapper {
  position: relative;
  min-height: 560px;
  max-height: 100%;

  @media #{$mobile-only} {
    min-height: 380px;
  }

  > ul {
    display: none;
  }

  @media #{$tablet-landscape} {
    > ul {
      display: flex;
    }
  }
}
