@import '~styles/layout.scss';

.legend {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tagItem {
  margin-right: 10px;
  margin-bottom: 1rem;
  height: fit-content;
  padding: 0;
  border: none;
  box-shadow: none;
}

.legendLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $gray1;
  min-width: 110px;
  //Fixed font size to avoid layout breacking with rem
  font-size: 14px;
}

.legendLogoTitle {
  padding-bottom: 10px;
}

.legendLogo {
  width: 100px;
}
