// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "trix";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.pagination_information {
  display: none;
}

.form_inline {
  display: inline-block;
}

.align-right {
  float: right;
}

.forms-container {
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

.importer-button {
  margin-top: 20px;
}

.logs_table {
  margin-top: 20px;
}

// TRIX EDITOR
.trix-button-group--file-tools {
  display: none !important;
}

.trix-editor-wrapper {
  width: calc(80% - 22px);
  display: inline-block;
  background: white;
}

.trix-button-row {
  font-size: 1.25em !important;
}

.trix-dialog {
  font-size: 1.25em !important;
}
// END OF TRIX EDITOR
