@import '~styles/layout.scss';

.grid {
  @include msGridColumns(1fr);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: column;
  grid-gap: 20px;
  height: 600px;
  padding-right: $gutter-padding;

  > div:nth-child(1) {
    -ms-grid-row: 1;
  }

  > div:nth-child(2) {
    -ms-grid-row: 2;
    min-height: 140px;
    height: 100%;
  }

  > div:nth-child(3) {
    -ms-grid-row: 3;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

.graph {
  position: relative;
  max-height: 100%;
}

.graphControls,
.graphControlsSection {
  @extend %grid;

  @include msGridColumns(1fr, 1fr);

  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}

.exploreBtn {
  align-self: flex-end;
}

.btnGroup {
  align-self: flex-end;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.noContent {
  min-height: 300px;
}
