@import '~styles/settings.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // to correct padding from react-tooltip component
  margin: 7px -6px;
  pointer-events: all;
  text-transform: initial;
}

.info {
  display: flex;
  flex-direction: column;
}

.countryName {
  display: inline-block;
  color: $white;
  font-size: $font-size;
  padding-bottom: 5px;
}

.text {
  color: $white;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.icon {
  margin-left: 30px;
  fill: $white;
  stroke: $white;
  transform: rotate(-90deg);
  width: 10px;

  @media #{$tablet-landscape} {
    display: none;
  }
}
