apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    name: {name}
  name: {name}
spec:
  revisionHistoryLimit: 2
  template:
    metadata:
      labels:
        name: {name}
    spec:
      containers:
      - name: {name}
        image: vizzuality/{name}
        imagePullPolicy: Always
        resources:
          requests:
            memory: "128Mi"
        env:
          - name: RACK_ENV
            value: production
          - name: RAILS_ENV
            value: production
          - name: PORT
            value: "3000"
          - name: RAILS_SERVE_STATIC_FILES
            value: "true"
          - name: GOOGLE_ANALYTICS_ID
            value: UA-1981881-51
          - name: PASSWORD_PROTECT
            value: "false"
          - name: AUTH_USERNAME
            valueFrom:
              secretKeyRef:
                name: appsecrets
                key: CW_AUTH_USERNAME
          - name: AUTH_PASSWORD
            valueFrom:
              secretKeyRef:
                name: appsecrets
                key: CW_AUTH_PASSWORD
          - name: POSTGRES_URL
            valueFrom:
                secretKeyRef:
                  name: dbsecrets
                  key: CW_POSTGRES_URL
          - name: S3_BUCKET_NAME
            value: "climate-watch-dev"
          - name: AWS_REGION
            value: "eu-west-1"
          - name: AWS_ACCESS_KEY_ID
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: CW_AWS_ACCESS_KEY
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
                secretKeyRef:
                  name: appsecrets
                  key: CW_AWS_SECRET_ACCESS_KEY
          - name: ESP_API
            value: "https://www.emissionspathways.org/api/v1"

        ports:
          - containerPort: 3000

      restartPolicy: Always
