@import '~styles/layout.scss';
@import '~styles/settings.scss';

.wrapper {
  padding-top: $gutter-padding;
  padding-bottom: $gutter-padding;
  background-color: $light-gray;
}

.cols {
  @extend %grid;

  grid-template-columns: 1fr;

  @media #{$tablet-landscape} {
    @include msGridColumns(1fr, 1fr);

    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }
}
