@import '~styles/layout.scss';
@import '~styles/settings.scss';

.anchorNav {
  @include row('shrink', $wrap: false);
}

.wrapper {
  padding-top: $gutter-padding;
  padding-bottom: $gutter-padding;
  background-color: $light-gray;
}

.headerLayout {
  @include columns(12);

  @media #{$tablet-landscape} {
    @include columns(6);
  }
}

.containedHeader {
  display: flex;
  margin-top: 10px;

  > div {
    flex: 1;
  }
}
