@import '~styles/settings.scss';

.input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: $white;
  width: 370px;

  &::placeholder {
    color: $white;
    opacity: 1;
  }

  &:focus,
  &:hover {
    border-color: $white;
  }
}

.wrapper {
  margin-right: 30px;
}
