@import '~styles/settings.scss';
@import '~styles/ui-extends.scss';

.subscribe {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  width: max-content;

  h2 {
    @extend %headline;
    color: $white;
    margin-bottom: 50px;
    text-align: center;
  }

  h3 {
    @extend %smallTitle;
    color: $white;
    text-align: center
  }
}

.form {
  display: inline-flex;
  justify-content: space-between;
}

.button {
  background-color: $theme-secondary;
  width: 170px;
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  width: 100%;
}

