@import '~styles/settings.scss';
@import '~styles/ui-extends.scss';

.section {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 300px;
  width: 100%;

  .subscribe {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: max-content;
    justify-content: center;

    h2 {
      @extend %headline;

      color: $white;
      margin-bottom: 30px;
      text-align: center;
    }

    .button {
      background-color: $theme-secondary;
      width: 100%;
      max-width: 300px;
    }
  }
}
