@import '~styles/settings.scss';

:global .sticky-outer-wrapper {
  .sticky-inner-wrapper {
    z-index: $z-index-sticky;
  }

  &.sticky {
    // Keep this sync siwh the headerColor of the app-routes
    &.-ndcs,
    &.-compare,
    &.-ndc-search {
      .sticky-inner-wrapper {
        background-color: $header-ndc;
      }
    }

    &.-country-selector,
    &.-custom-compare,
    &.-explore {
      .sticky-inner-wrapper {
        background-color: $white;
        left: 0;
        width: 100%;
      }
    }

    &.-country,
    &.-country-compare {
      .sticky-inner-wrapper {
        background-color: $header-countries;
      }
    }

    &.-about {
      .sticky-inner-wrapper {
        background-color: $header-about;
      }
    }

    &.-emissions {
      .sticky-inner-wrapper {
        background-color: $header-emissions;
      }
    }

    &.-sectors-agriculture {
      .sticky-inner-wrapper {
        background-color: $header-sectors;
      }
    }

    .sticky-outer-wrapper,
    .sticky-inner-wrapper {
      z-index: $z-index-over-dropdown; // dropdown items have 21
    }
  }
}
