@import '~styles/layout.scss';

.content {
  position: relative;
  background-color: $gray3;
  padding: 1em;

  &::before {
    top: -10px;
    left: 55px;
    display: inline-block;
    position: absolute;
    content: "";

    @include triangle($gray3, 'up');
  }
}

.dropdown :global {
  .react-selectize {
    background-color: white;
  }
}

.open {
  background-color: $theme-color-medium;
  color: $white;
}

.buttonLabel {
  margin-left: 5px;
  padding-bottom: 2px;
}
