@import '~styles/layout.scss';

.dataZoom {
  position: relative;

  .selector {
    position: absolute;
    display: flex;
    width: calc(100% - 10px);
    height: 100%;
    margin: 0 5px;

    .handle {
      z-index: $z-index-over-base;
      position: absolute;
    }

    .veil {
      z-index: $z-index-over-base;
      position: absolute;
      height: 100%;
      background-color: $white;
      opacity: 60%;
      border-bottom: 1px solid $gray1;

      &.right {
        right: 0;
      }
    }

    .selectedPart {
      position: absolute;
      height: 100%;
      border: solid $gray1;
      border-width: 1px 1px 0;
    }
  }

  .handleIcon {
    width: 16px;
    height: 27px;
    margin-top: 2px;
  }
}
