@import '~styles/settings.scss';

.wrapper :global {
  position: relative;

  .is-focused {
    color: $theme-color;
    outline: none;

    .link-arrow {
      opacity: 1;
    }
  }

  .link-arrow {
    transform: rotate(-90deg);
    opacity: 0;
  }
}

.isOpen {
  input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.optionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 10px;
}
