@import '~styles/settings.scss';

.wrapper :global {
  position: relative;
  padding-bottom: $gutter-padding;

  @media #{$tablet-landscape} {
    padding-bottom: 0;
  }

  .dropdown-menu {
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

.searchIcon {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  right: 5px;
  top: 4px;
}

.whiteIcon {
  fill: $white;
}
