@import '~styles/layout.scss';

.gridContainer {
  background-color: $gray3;
  border-bottom: 1px solid $gray2;
}

.grid {
  @include row(12);

  padding-top: $gutter-padding + $gutter-padding / 2;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.documentsTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .title {
    margin-bottom: unset;
  }
}

.item {
  text-align: center;
}

.ambitionContainer {
  @include row(12);

  @media #{$tablet-landscape} {
    @include columns((9,3));

    justify-content: space-between;
    align-items: flex-start;
  }
}

.arcOfAmbition {
  max-width: 800px;
}

.documentsContainer {
  margin-bottom: $gutter-padding + $gutter-padding / 2;
}

.documents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 50%;
    margin-top: $gutter-padding;

    .icon {
      margin-bottom: 5px;
    }
  }
}

.commitmentsButton {
  width: 270px;
}

.icon {
  width: 30px;
  height: 30px;
}

.loading {
  min-height: 462px;
}
