@import '~styles/settings';

.noContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  font-family: $font-family-1;
  font-size: $font-size-m;
  color: $theme-color;
  margin-right: 10px;
}

.img {
  width: 30px;
  height: 30px;
}
