@import '~styles/settings';

.noContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.text {
  font-family: $font-family-1;
  font-size: $font-size-m;
  color: $theme-color;
  margin-bottom: 20px;
}
