@import '~styles/layout.scss';
@import '~styles/settings.scss';

.anchorNav {
  @include row('shrink', $wrap: false);
}

.wrapper {
  padding-bottom: $gutter-padding;
}

.headerLayout {
  @include columns(12);

  @media #{$tablet-landscape} {
    padding-bottom: 40px;
  }
}
