@import '~styles/layout.scss';

.shareButton {
  margin-top: 20px;
  padding-bottom: 40px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  color: $white;

  &:hover {
    background-color: transparent;
  }

  > span {
    display: block;
  }

  > svg {
    fill: $white;
    order: 1;
    margin-left: 10px;
    height: 12px;
  }
}

.link {
  color: $white;
  font-size: $font-size-sm;

  > svg {
    fill: $white;
  }
}

.linkWithIcon {
  > svg {
    margin-left: 10px;
    height: 12px;
  }
}
