@import '~styles/settings.scss';
@import '~styles/layout.scss';

.container {
  @include row(12);

  margin-top: $gutter-padding;
  margin-bottom: $gutter-padding;
}

.actionsContainer {
  align-items: flex-end;
  background-color: $white;
  margin-bottom: 20px;
  position: sticky;
  top: 108px;
  z-index: 1;
}

.filtersGroup {
  @include columns(12);

  padding-top: 16px;

  > * {
    @include xy-gutters(30px, $gutter-position: 'bottom');
  }
}

.btnGroup {
  width: 100%;

  @include xy-gutters(30px, $gutter-position: 'bottom');
}

@media #{$tablet-portrait} {
  .filtersGroup {
    @include columns((6,6));

    padding-top: 20px;
  }
}

@media #{$tablet-landscape} {
  .filtersGroup {
    @include columns((4, 4, 4));

    > *:first-child {
      @include xy-gutters(0, $gutter-position: 'left');
    }
  }

  .actionsContainer {
    @include columns((10, 2));
  }
}

@media #{$desktop} {
  .actionsContainer {
    top: 49px;
  }
}
