@import '~styles/layout.scss';
@import '~styles/settings.scss';

.wrapper {
  position: relative;
  margin-bottom: 40px;
}

.column {
  @include columns();
}

.buttonGroup {
  width:100%;
}

.containerControls {
  @include columns((8,4));

  margin-bottom:40px;
  margin-top: 20px;
}

.searchBox {
  @media #{$tablet-landscape} {
    @include column-offset(9, $gutters: true);

    margin-top: 20px;
  }
}

.legend {
  position: absolute;
  left: 0;
  bottom: 12%;

  @media #{$tablet-landscape} {
    bottom: 0;
  }
}

:global .__react_component_tooltip {
  max-width: 250px;
}

.loader {
  min-height: 500px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.containerUpper,.containerCharts,.containerMap {
  position:relative;
}

.containerMap {
  @media #{$tablet-landscape} {
    padding-left:calc(#{$gutter-padding} / 2);
  }

  padding-top:calc(#{$gutter-padding} / 2);
}

.containerUpper {
  @media #{$tablet-landscape} {
    @include columns((4,8));
  }
}

.containerCharts {
  box-shadow:0 20px 20px -20px $chart-fill-gray;

  > div {
    @include columns(50%);
  }

  @media #{$tablet-landscape} {
    box-shadow:20px 0 20px -20px $chart-fill-gray;

    &,> div {
      height:100%;
    }

    > div {
      @include columns(100%);
    }
  }
}

.circularChartContainer {
  position:relative;
  margin: $card-content-margin;
  flex:1;
  height: 200px;
  overflow:visible;
  display:flex;
  flex-direction:row;
  padding-right:calc(#{$gutter-padding} / 2);

  &:first-child {
    svg {
      visibility:hidden;
    }

    .circularChartValues {
      font-size:4.5em;
    }
  }

  > div {
    position:relative;
  }

  [class*=circularChartWrapper] {
    position: static;
    margin: 0 auto;
  }

  svg {
    height:200px !important;
  }
}

.circularChartValues {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: $font-weight-bold;
  font-size:2.4em;
}

.circularChartLabels {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: left;
}
