@import '~styles/layout.scss';
@import '~styles/ui-extends.scss';

.previewContainer {
  margin: 20px 15px;

  @media #{$mobile-only} {
    grid-column: 1;
  }

  @media #{$tablet-portrait} {
    grid-column: 1 / span 2;
  }

  @media #{$tablet-landscape} {
    grid-column: 1 / 4;
  }
}

.previewHeader {
  display: flex;

  h1 {
    font-weight: 400;
    margin-right: 30px;
    width: calc(100% - 300px);
  }
}

.buttonGroup {
  margin-right: 20px;
  width: 140px;
}

.previewContent {
  display: flex;
  margin: 30px 0;
  justify-content: center;
}

.previewLink {
  margin: 5px 0 15px;
}

.previewDescription {
  line-height: 22px;
}
