@import '~styles/settings';

.resultCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: $white;
  font-family: $font-family-1;
  padding: 30px;
  position: relative;

  &:not(:last-child) {
    &::after {
      position: absolute;
      content: '';
      border-bottom: solid 1px #e5e5eb;
      bottom: 0;
      right: 0;
      width: 200%;
    }
  }

  @media #{$tablet-landscape} {
    padding-left: 0;
  }
}

.count {
  color: $theme-color-intense;
  font-weight: $font-weight-bold;
  display: inline-block;
  padding-bottom: 30px;
}

.match {
  padding-bottom: 40px;
  color: $dark-gray;
  line-height: 1.5em;
  position: relative;
  transition: color 150ms ease-out;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 100%;

  .text :global {
    .highlight {
      background-color: $theme-secondary;
    }

    @media #{$tablet-landscape} {
      margin-right: 80px;
    }
  }

  .link {
    opacity: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 45px / 2);
    transition: opacity 150ms ease-out;
  }

  .iconLink {
    transform: rotate(-90deg);
  }

  &:hover {
    color: $theme-color;

    .link {
      opacity: 1;
    }
  }
}
