@import '~styles/settings';

.resultCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: $white;
  font-family: $font-family-2;
  border-bottom: solid 1px #e5e5eb;
  border-right: solid 1px #e5e5eb;
  padding-top: 30px;
  padding-right: 25px;
  position: relative;
  margin-left: -2000px;
  padding-left: 2000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.title {
  margin-bottom: 10px;
  color: $theme-color;
}

.count {
  color: $theme-text-light;
  font-weight: $font-weight-bold;
  display: inline-block;
}

.match {
  margin-bottom: 40px;
  color: $theme-text-light;
  line-height: 1.5em;
  position: relative;

  .text {
    margin-right: 80px;
  }

  .link {
    opacity: 0;
    position: absolute;
    right: 0;
    top: calc(50% - 45px / 2);
  }

  .iconLink {
    transform: rotate(-90deg);
  }

  &:hover {
    color: $theme-color;

    .link {
      opacity: 1;
    }
  }
}
