@import '~styles/layout.scss';
@import '~styles/layout.scss';

.container {
  background-color: white;
  border-left: solid 1px $gray3;
  border-right: solid 1px $gray3;
  min-height: 685px;
  order: 2;

  @media #{$tablet-landscape} {
    order: 1;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 4px solid $sdg-4;

    .titleContainer {
      .title {
        margin-left: 5px;
        font-size: $font-size;
        color: $theme-color;
      }

      .number {
        font-weight: bold;
      }
    }

    .closeButton {
      align-self: flex-end;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }

  .targetContainer {
    overflow-y: auto;
    max-height: 615px;

    &::-webkit-scrollbar {
      width: 0;
    }

    .target {
      display: flex;
      padding: 15px 15px 15px 20px;
      color: $gray1;
      outline: none;
      border-top: 1px solid $gray2;
      border-bottom: 4px solid transparent;

      &:hover {
        color: $theme-color;
        cursor: pointer;
      }

      &Selected,
      &Selected:hover {
        color: $theme-color;
      }

      .title {
        margin-left: 5px;
      }

      .number {
        font-weight: bold;
      }
    }
  }
}
