@import '~styles/settings.scss';
@import '~styles/layout.scss';

.container {
  width: 100%;
  margin-top: $gutter-padding;
  margin-bottom: $gutter-padding;
}

.cardContainer {
  display: block;
  padding: 30px;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * {
    margin-top: 30px;
  }
}

.chart {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.tag {
  border: none;
  box-shadow: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: $font-size-sm;
  color: $gray1;
  flex-grow: 0;
}

.label {
  padding: 5px 0;
  margin-right: 8px;
  width: max-content;
}

.header {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 100%;
  width: 100%;
}

.nestedLegend {
  margin-left: 10px;
}

.data {
  position: relative;
}

.title {
  max-width: 500px;
  color: $gray1;
  font-size: $font-size;
  line-height: 26px;
}

.yearData {
  position: absolute;
  color: $gray1;
  right: 30px;
  bottom: 20px;
  font-size: $font-size-s;

  span {
    color: $theme-color;
  }
}

@media #{$tablet-portrait} {
  .chartContainer {
    flex-direction: row;

    > * {
      margin-top: 0;
    }
  }

  .legend {
    align-self: flex-end;
  }

  .chart {
    margin-bottom: 0;
    width: 50%;
  }
}

@media #{$tablet-landscape} {
  .chart {
    margin-top: -50px;
  }
}
