@import '~styles/layout.scss';

.documentLink {
  width: 170px;
  height: 48px;
  background-color: $white;
}

.timelineDescription {
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  color: $white;
  position: absolute;
}

.timelineContainer {
  overflow-x: hidden;

  @include overflowFix(80px);
}

.timeline { // overwriting timeline styles
  display: block;
  position: relative;
  width: 100%;
  height: 100px;
  margin: 20px 0;

  > div {
    > div :global {
      .events-wrapper {
        overflow: initial !important;
        width: 100% !important;
        margin: 0 !important;

        .events {
          width: 100% !important;

          .timeline-eventline {
            min-width: 100% !important;
            background-color: $white !important;
            height: 1px;
            opacity: 0.5;
          }

          .timeline-eventline:nth-child(2) {
            background-color: transparent !important;
          }

          .dot-label {
            width: auto !important;

            &.present,
            &.past,
            &.future {
              > span:last-child {
                background-color: $theme-secondary !important;
                border-color: $theme-secondary !important;
              }
            }
          }

          .dot-label:last-child {
            > span:last-child {
              background-color: $white !important;
              border-color: $white !important;
            }
          }
        }
      }

      ul {
        display: none;
      }

      .yearLabel {
        font-size: $font-size-s;
        line-height: 1.54;
        text-align: center;
        position: absolute;
        bottom: -30px;
        left: 27px;
      }

      .timelineTooltip {
        &.-open::before {
          content: " ";
          top: calc(100% - 15px);
          left: 42px;
          border: solid transparent;
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(255, 255, 255, 0);
          border-top-color: $gray3;
          border-width: 6px;
          margin-left: -6px;
        }

        .links {
          display: block;
          min-width: 220px;
          position: relative;
          overflow: auto;
          max-height: 140px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;

          li {
            background-color: $gray3;
            text-align: left;
            position: relative;
            border-bottom: 1px solid rgba($white, 0.2);
            transition: color 0.1s linear;

            a {
              padding: 10px 30px 10px 10px;
              display: block;
              width: auto;
              height: auto;
              font-size: $font-size;
              line-height: $line-height-medium;
              color: $gray1;
              background-color: transparent;
              transition: color 0.1s linear;
            }

            &::after {
              content: "";
              opacity: 0;
              position: absolute;
              right: 10px;
              top: calc(50% - 7px);
              bottom: 0;
              width: 14px;
              height: 14px;
              background-position: center;
              background-image: url('../../../assets/icon-pngs/accordion-arrow.png');
              background-repeat: no-repeat;
              background-size: contain;
              background-color: transparent;
              transition: opacity 0.1s linear;
            }

            &:hover {
              background-color: $white;

              a {
                color: $theme-color;
              }

              &::after {
                opacity: 1;
              }
            }

            &:first-child {
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
            }

            &:last-child {
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              border-bottom: none;
            }
          }
        }
      }

      .buttons {
        display: block;

        li {
          height: 32px !important;
          width: 32px !important;
          background-color: $white;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
          border: solid 1px $gray2;

          > svg {
            fill: $theme-color !important;
            height: 24px !important;
            width: 32px !important;
          }

          &.disabled {
            display: none;
          }
        }
      }
    }
  }
}
