@import '~styles/layout.scss';
@import '~styles/settings.scss';

.section {
  padding: 40px 0;
  border-bottom: solid 1px #cbccd0;
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 30px;
}

.partnerText {
  font-size: $font-size;
  color: $theme-color;
  font-weight: $font-weight-bold;
}
