@import '~styles/layout.scss';
@import '~styles/settings.scss';

.section {
  padding: 40px 30px;
  margin: 0 -30px;

  &:not(:last-child) {
    border-bottom: solid 1px #cbccd0;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  margin-bottom: 30px;
}

.partners {
  @extend %grid;

  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: $gutter-padding;
  justify-items: start;

  .partner {
    .link {
      display: flex;
      align-items: center;

      .additionalDataLink {
        color: $theme-color;
        border-bottom: solid 1px $theme-secondary;
      }
    }

    .text {
      margin-top: 10px;
      font-size: $font-size;
      color: $dark-gray;
    }
  }

  &.additionalData {
    grid-template-columns: repeat(6, 1fr);
  }
}
