@import '~styles/layout.scss';

.emissionSources {
  @include row();

  padding: 100px 0;
}

.worldSharePosition {
  width: 100%;
  height: 18px;
  display: flex;
  background-color: $gray3;

  .emissionCountry {
    position: relative;
    height: 18px;
    display: inline-block;

    &.currentCountry {
      min-width: 2px;
      border: 5px solid $theme-color;
    }

    .currentCountryText {
      position: absolute;
      top: -50px;
      min-width: 280px;
      text-align: center;
      left: 50%;
      transform: translate(-50%, -50%);

      &.fitRight {
        transform: translate(-100%, -50%);
      }
    }
  }
}

.countrySectors {
  width: 100%;
  height: 75px;
  display: flex;
}

.countrySector {
  position: relative;
  height: 75px;
  display: inline-block;

  .countrySectorText {
    position: absolute;
    top: 110px;
    min-width: 280px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.tooltip {
  text-align: center;

  .tooltipTitle {
    font-weight: $font-weight-bold;
  }
}

.negativeEmissionsSeparator {
  position: relative;
  height: 75px;
  display: inline-block;
  width: 20px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    margin-top: -5px;
    height: 85px;
    background-color: $black;
  }
}

.negativeSector {
  width: 100%;
}

.negativeEmissionsSectorText {
  margin-top: -10px;

  .sectorContent {
    display: flex;
  }

  .sectorTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .infoContainer {
    margin: 2px 5px 0;
  }

  .infoIcon {
    cursor: pointer;
  }
}

.linkingSVG {
  width: 100%;
  fill: $gray2;
}
