@import '~styles/settings.scss';
@import '~styles/ui-extends.scss';

.tilesGroup {
  display: inline-flex;
  width: 100%;
  overflow-x: auto;
  height: 340px;
  align-items: center;
}

.section {
  background-color: $white;
  padding-top: 60px;
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  @extend %headline;
  margin-bottom: 20px;
  color: $theme-color;
}

.noContent {
  width: 100%;
}