@import '~styles/settings.scss';

.tilesGroup {
  display: inline-flex;
  justify-content: space-between;
}

.latestUpdates {
  width: 100%;
}

h2 {
  margin-bottom: 40px;
  color: $theme-color;
  font-family: $font-family-1;
  font-size: $font-size-x-large;
  font-weight: $font-weight-light;
}