@import '~styles/settings';

.button {
  background-color: $white;
  height: 45px;
  padding: 0 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: $font-family-2;
  font-size: $font-size;
  text-transform: capitalize;
  color: $theme-color;
  float: left;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.square {
  width: 45px;
  padding: 0;
}

.transparent {
  background-color: rgba($black, 0.2);
}

.yellow {
  background-color: $theme-secondary;
}

.white {
  background-color: $white;
  border: solid 1px rgba($theme-color-light, 0.3);
}
