@import '~styles/settings';

.button {
  height: 45px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: $font-family-1;
  font-size: $font-size;
  text-transform: capitalize;
  color: $theme-color;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
  transition: box-shadow 150ms ease-out;
  min-width: 25px;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
  }

  &.noSpace {
    padding: 0;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }

  a {
    color: $theme-color;
  }
}

.noBox {
  width: 45px;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}

.square {
  width: 45px;
  padding: 0;
}

.transparent {
  background-color: transparent;
  border: solid 1px rgba($white, 0.3);
}

.withShadow {
  transition: box-shadow 150ms ease-out;
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
  }
}

.yellow {
  background-color: $theme-secondary;
  @extend .withShadow;
}

.red {
  background-color: $climate-risk-1;
  @extend .withShadow;
}

.twitter {
  background-color: $twitter;
  color: $white;
  @extend .withShadow;
}

.facebook {
  background-color: $facebook;
  color: $white;
  @extend .withShadow;
}

.google {
  background-color: $google;
  color: $white;
  @extend .withShadow;
}

.white {
  background-color: $white;
  border: solid 1px $border-color;
}

.plain {
  background-color: $white;
  border: solid 1px $border-color;
  transition: background-color 150ms ease-out;

  @media #{$desktop} {
    background-color: transparent;
  }

  &:hover {
    background-color: $white;
  }
}

.disabled {
  background-color: transparent;
  color: $gray;
  border: solid 1px $border-color;
  cursor: not-allowed;

  &:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
  }

  svg {
    fill: $border-color;
  }
}
