@import '~styles/layout.scss';

.dropdown {
  position: relative;
  display: inline-block;

  .button {
    margin-left: 20px;
    padding: 17px 20px;
    fill: $dark-gray;

    &.active {
      margin-bottom: -4px;
      border-bottom: 3px solid $theme-secondary;
      fill: $theme-color;
    }
  }

  .links {
    display: none;
    position: absolute;
    top: 55px;
    right: 0;
    width: 225px;
    z-index: 20;
    border-top: 1px solid $theme-border;

    &.open {
      display: block;
    }

    li {
      background-color: $white;
      text-align: left;
      position: relative;
      transition: color 0.1s linear;
      border-bottom: 1px solid $theme-border;
      cursor: pointer;

      .documentLink {
        font-weight: bold;
        padding: 24px 15px;
        display: block;
        width: auto;
        height: auto;
        font-size: $font-size;
        line-height: $line-height-medium;
        color: $dark-gray;
        background-color: transparent;
        transition: color 0.1s linear;

        &.disabled {
          color: $border-color;
          cursor: not-allowed;
        }

        .icon {
          fill: $dark-gray;
          margin-right: 5px;
          width: 15px;
          height: 15px;
        }

        .title {
          color: $dark-gray;
          vertical-align: text-bottom;
          text-transform: uppercase;
        }
      }

      &:hover {
        .documentLink {
          .title {
            color: $theme-color;
          }

          .icon {
            fill: $theme-color;
          }
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }
}
