@import '~styles/layout.scss';

.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;

  .button {
    cursor: pointer;

    &.active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $theme-secondary;
      width: 100%;
      height: 3px;
    }

    &:focus {
      outline: none;
    }

    &.active {
      .arrowIcon {
        transform: rotate(180deg);
      }
    }
  }

  .arrowIcon {
    width: 7px;
    height: 4px;
    margin-left: 4px;
  }

  &.reverse {
    .links {
      bottom: 55px;
      left: 0;
      right: initial;
      top: initial;
    }

    .arrowIcon {
      transform: rotate(180deg);
    }

    .button {
      &.active {
        .arrowIcon {
          transform: rotate(0deg);
        }

        &::after {
          bottom: -15px;
        }
      }
    }
  }

  &.positionRight {
    .links {
      left: 0;
      right: initial;
    }
  }

  &.inButtonGroup {
    width: 100%;
    min-width: 25px;

    .links {
      top: 48px;
    }

    .button {
      &.active::after {
        bottom: -3px;
      }
    }

    &.reverse {
      .links {
        bottom: 45px;
        left: 0;
        right: initial;
        top: initial;
      }
    }
  }

  &.inButton {
    .links {
      top: 45px;
      width: 100%;
    }

    .button {
      &::after {
        display: none;
      }
    }

    .arrowIcon {
      height: 12px;
      width: 12px;
    }
  }

  .links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 210px;
    z-index: $z-index-over-loader;
    border-top: 1px solid $theme-border;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);

    &.open {
      display: block;
    }

    li {
      background-color: $white;
      text-align: left;
      position: relative;
      transition: color 0.1s linear;
      border-bottom: 1px solid $theme-border;
      cursor: pointer;

      .link {
        color: $dark-gray;
        vertical-align: text-bottom;
        text-transform: uppercase;

        .documentLink {
          font-weight: bold;
          height: 60px;
          padding: 0 30px 0 15px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: auto;
          font-size: $font-size-s;
          line-height: $line-height-medium;
          color: $dark-gray;
          letter-spacing: 1px;
          background-color: transparent;
          transition: color 0.1s linear;

          .icon {
            fill: $dark-gray;
            margin-right: 5px;
            width: 15px;
            height: 15px;
          }

          &.withDownloadIcon {
            justify-content: space-between;
            padding: 0 10px 0 15px;
          }
        }
      }

      &:hover {
        .link {
          .documentLink {
            color: $theme-color;

            .icon {
              fill: $theme-color;
            }

            .title {
              color: $theme-color;
            }
          }
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }
}
