@import '../../../styles/settings.scss';

.dot {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $gray2;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 1;
  transition: opacity 250ms ease-out;

  @media #{$tablet-landscape} {
    height: 10px;
    width: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &.clickable {
    cursor: pointer;
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
