@import '~styles/layout.scss';

.wrapper {
  margin-bottom: 40px;

  @media #{$tablet-landscape} {
    margin-bottom: 0;
  }

  border-bottom: solid 1px $gray2;
}

.header {
  margin-bottom: 20px;
  padding-top: 20px;
}

.sdgs {
  border-left: solid 1px $gray2;

  @include columns(12, $gutters: false);
  @include xy-gutters($gutter-position: ('bottom'));

  @media #{$tablet-portrait} {
    @include columns(6, $gutters: false);
  }

  @media #{$tablet-landscape} {
    @include columns(4, $gutters: false);
    @include xy-gutters($gutter-position: ('bottom'), $gutters: 0);
  }
}

.sdgsEmbed {
  margin-bottom: 1px;
}

.buttons {
  @include columns((12, 12, 4, 8));

  @media #{$tablet-landscape} {
    @include columns((6, 1, 2, 3));
  }

  .infoBtn,
  .exploreBtn {
    margin-top: 20px;
  }
}

.descriptionContainer {
  color: $theme-color;
  line-height: $line-height-medium;
  padding-bottom: 20px;

  @media #{$tablet-landscape} {
    width: 50%;
    padding-bottom: 0;
  }
}

.title {
  font-size: $font-size-large;
  font-weight: $font-weight;
  color: $theme-color;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 25px;
}

.tooltipContainer {
  position: absolute;
  top: 50%;

  @media #{$tablet-landscape} {
    min-width: 500px;
  }
}

.tooltip {
  font-size: $font-size-s;
  color: $white;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tooltipTitle {
  margin-bottom: 10px;
  cursor: pointer;
}

.sectorSelector {
  padding-top: 15px;
}

.sectorIncluded {
  text-decoration: underline;
}

.info {
  flex-basis: 100%;
}

.loader {
  min-height: 400px;
}

.noContent {
  min-height: 400px;
}
